@import "bootstrap/scss/bootstrap";

.search-results {
  display: flex;
  align-items: flex-start;

  > .result-list {
    flex-grow: 1;

    > header {
      color: #999;
      margin-top: 0.5rem;
    }

    > ol {
      list-style: none;
      padding: 0;

      > li {
        margin: 1rem 0;
        display: flex;


        > a > img {
          width: 100px;
          height: 75px;
          margin-right: 12px;
          flex-shrink: 0;
          transition: width 0.25s, height 0.25s;
        }

        > a > img:hover {
          width: 200px;
          height: 150px;
          transition: width 0.25s, height 0.25s;
        }


          > div {
          > header {
            > nav {
              display: inline;
              font-size: 60%;

              .live-url {
                color: darkgreen;
              }
            }
          }

          > div {
            font-size: 80%;
          }

          > footer {
            font-size: 80%;
            color: #888;

            .regdate {
              font-weight: bold;
            }

            .status {
              font-variant: small-caps;
            }
          }
        }
      }
    }
  }

  > .facets {
    flex: 0 0 320px;
    list-style: none;
    padding: 0;

    > li {
      margin-bottom: 0.5rem;

      > ul {
        list-style: none;
        padding: 0.5rem;
        overflow-y: scroll;
        max-height: 200px;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
      }
    }
  }
}