.search-results {
  > header {
    color: #999;
    margin-top: 0.5rem;
  }

  > ol {
    list-style: none;
    padding: 0;

    > li {
      margin: 1rem 0;

      > header {
        > nav {
          display: inline;
          font-size: 60%;
          .live-url {
            color: darkgreen;
          }
        }
      }

      > div {
        font-size: 80%;
      }

      > footer {
        font-size: 80%;
        color: #888;

        .regdate { font-weight: bold; }
        .status { font-variant: small-caps; }
      }
    }
  }
}