.search-results {
  > header {
    color: #999;
    margin-top: 0.5rem;
  }

  > div {
    display: flex;
    align-items: flex-start;

    > .result-list {
      flex-grow: 1;

      > ol {
        list-style: none;
        padding: 0;

        > li {
          margin: 1rem 0;
          display: flex;


          > a > img {
            width: 100px;
            height: 75px;
            margin-right: 12px;
            flex-shrink: 0;
          }

          > div {
            > header {
              > nav {
                display: inline;
                font-size: 60%;

                .live-url {
                  color: darkgreen;
                }
              }
            }

            > div {
              font-size: 80%;
            }

            > footer {
              font-size: 80%;
              color: #888;

              .regdate {
                font-weight: bold;
              }

              .status {
                font-variant: small-caps;
              }
            }
          }
        }
      }
    }

    > .facets {
      @extend a.card;

      list-style: none;
      padding: 0;

      > li {
        margin: 0.75rem;

        > ul {
          list-style: none;
          padding: 0;

          > li > a:before {
            content: "â˜ ";
          }
        }
      }
    }
  }
}