<!doctype html>
<html lang=en xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Gather Queue - PANDAS</title>
    <link rel="stylesheet" href="../static/assets/Global.css" th:href="@{/assets/Global.css}">
    <script src="../static/assets/Global.js" th:src="@{/assets/Global.js}" defer></script>
</head>
<body>
<nav th:replace="_layout.html :: sidebar"></nav>
<main>
    <header></header>

    <h2 id="queued">Queued</h2>
    <table class="table">
        <thead>
        <tr>
            <th>PI</th>
            <th>Title</th>
            <th>Agency</th>
            <th>Owner</th>
            <th>Method</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="gather: ${queuedGathers}">
            <td th:text="${gather.title.pi}">12345</td>
            <td><a th:href="${@link.to(gather.title)}" th:text="${gather.title.name}" href="#">Fishes of Australia</a></td>
            <td th:text="${gather.title?.agency?.organisation?.alias}">NLA</td>
            <td><a th:if="${gather.title.owner != null}" th:href="${@link.to(gather.title.owner)}" th:text="${gather.title.owner.userid}">jsmith</a></td>
            <td th:text="${gather.method.name}">Heritrix</td>
        </tr>
        </tbody>
    </table>

    <h2>Gathering</h2>

    <form method=post>
    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th>PI</th>
            <th>Title</th>
            <th>Method</th>
            <th>State</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="instance: ${gatheringInstances}">
            <td th:text="${@dateFormats.dayDateTime.format(instance.date)}">Date</td>
            <td th:text="${instance.title.pi}">12345</td>
            <td><a th:href="${@link.to(instance.title)}" th:text="${instance.title.name}" href="#">Fishes of Australia</a></td>
            <td th:text="${instance.gatherMethodName}">Heritrix</td>
            <td th:text="${instance.state.name}">Heritrix</td>
            <td><button sec:authorize="hasPermission(#vars.instance.title, 'edit')" th:formaction="@{|/instances/${instance.id}/stop|}" class="btn btn-secondary"><i class="icon stop"></i> Stop</button></td>
        </tr>
        </tbody>
    </table>
    </form>


</main>