<!doctype html>
<html lang=en xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Gather Queue - PANDAS</title>
    <link rel="stylesheet" href="../static/assets/Global.css" th:href="@{/assets/Global.css}">
    <script src="../static/assets/Global.js" th:src="@{/assets/Global.js}" defer></script>
    <style>
        .gather-queue-table {
            border-collapse: collapse;
            border-radius: 8px;
        }

        .gather-queue-table tr {
            border: 1px solid #ebedef;
            border-bottom: none;
        }

        .gather-queue-table tr:last-child {
            border-bottom: 1px solid #ebedef;
        }

        .gather-queue-table td {
            padding: 0 8px;
        }

        .gather-queue-table .start-time {
            color: #666;
            cursor: default;
        }
    </style>
</head>
<body>
<nav th:replace="_layout.html :: sidebar"></nav>
<main>
    <header></header>

    <h2 id="queued">Queued</h2>
    <table class="table">
        <thead>
        <tr>
            <th>PI</th>
            <th>Title</th>
            <th>Agency</th>
            <th>Owner</th>
            <th>Method</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="gather: ${queuedGathers}">
            <td th:text="${gather.title.pi}">12345</td>
            <td><a th:href="${@link.to(gather.title)}" th:text="${gather.title.name}" href="#">Fishes of Australia</a></td>
            <td th:text="${gather.title?.agency?.organisation?.alias}">NLA</td>
            <td><a th:if="${gather.title.owner != null}" th:href="${@link.to(gather.title.owner)}" th:text="${gather.title.owner.userid}">jsmith</a></td>
            <td th:text="${gather.method.name}">Heritrix</td>
        </tr>
        </tbody>
    </table>

    <h2>Gathering</h2>

    <form method=post>
    <table class="table gather-queue-table">
        <tr th:each="instance: ${gatheringInstances}">
            <td>
                <a th:href="${instance.gatheredUrl}">
                    <img th:src="${@link.thumbnail(instance, 'LIVE')}" width=100 height=75>
                </a>
            </td>
            <td>
                <a th:href="${@link.to(instance.title)}" th:text="${instance.title.name}" href="#" style="font-weight: bold">Fishes of Australia</a><br>
                <span style="font-size: 80%; color: #666">
                    <span th:text="${instance.humanId}">nla.arc-186737-20210824-1143</span>
                    <span th:text="${instance.title.owner.userid}"></span>
                </span>
            </td>
            <td>
                <div th:text="${instance.gatherMethodName}">Heritrix</div>
                <div th:text="${instance.state.name}">Gathering</div>
            </td>
            <td class="start-time">
                ⏱ <time th:datetime="${instance.date}" th:text="${@dateFormats.dayDateTime.format(instance.date)}" th:title="${'Started ' + @dateFormats.dayDateTime.format(instance.date)}">Date</time><br>
                📈 <span th:text="${instance.gather.stats}"></span>
            </td>
            <td><button sec:authorize="hasPermission(#vars.instance.title, 'edit')" th:formaction="@{|/instances/${instance.id}/stop|}" class="btn btn-secondary"><i class="icon stop"></i> Stop</button></td>
        </tr>
    </table>
    </form>
    <script th:src="@{/webjars/timeago.js/4.0.2/dist/timeago.min.js}"></script>
    <script>
        timeago.render(document.querySelectorAll('time'));
    </script>
</main>