version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "monthly"
    groups:
      minor-and-patch:
        update-types:
          - "patch"
          - "minor"
    ignore:
      - dependency-name: "com.googlecode.flyway:flyway-core"
      # jandex-maven-plugin index version needs to be supported by jandex version used by hibernate search
      - dependency-name: "io.smallrye:jandex-maven-plugin"
        versions: [">=3.3.0"]
