<!doctype html>
<html lang=en xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Unearth Domains - PANDAS</title>
    <link rel="stylesheet" href="../static/assets/Global.css" th:href="@{/assets/Global.css}">
    <script src="../static/assets/Global.js" th:src="@{/assets/Global.js}" defer></script>
    <style>
        .add-title-button {
            height: auto;
            min-width: 32px;
            padding: 0;
            margin-right: 8px;
        }
    </style>
</head>
<body>
<nav th:replace="~{_layout.html :: sidebar (activeItem='Unearth')}"></nav>
<main class="search">
    <form id="sf" th:action="@{/unearth/domains}">
        <!-- hidden default submit button (otherwise the export buttons will be the default!) -->
        <button type=submit style="visibility: hidden; position: absolute; top: -1000px"></button>
    </form>
    <header>
        <input type=search name="q" th:value="${q}" placeholder="Search Domains" data-keybind="f" form=sf>
    </header>

    <div class="alert-error" th:if="${error}">
        <p th:text="${error}"></p>
    </div>

    <div style="margin-bottom: 8px">
        <label><input type="checkbox" name="includeExisting" th:checked="${includeExisting}" form="sf"
                      onclick="this.form.submit()"> Include existing titles</label>
    </div>

    <div th:if="${q == null}">
        <p>Search domain names from the <a href="https://commoncrawl.org/web-graphs">Common Crawl dataset</a> to
            identify new websites for archiving. e.g. <a th:href="@{/unearth/domains(q=ulverstone)}">ulverstone</a></p>
        <p>If multiple search terms are given domains that match any of them will be returned. Prefix search terms with
            + for a mandatory match and - for negative match. e.g.
            <a th:href="@{/unearth/domains(q='canberra +.org -.au')}">canberra +.org -.au</a></p>
    </div>

    <table>
        <tr th:each="domain : ${domains}">
            <td>
                <a th:href="@{/titles/new(url=${domain})}"
                   title="Add new title"
                   class="btn add-title-button">+</a>
            </td>
            <td><a th:text="${domain}" th:href="${'http://' + domain}" target="_blank" rel="external nofollow"></a></td>
        </tr>
    </table>
</main>