<!doctype html>
<html lang=en xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Unearth Domains - PANDAS</title>
    <link rel="stylesheet" href="../static/assets/Global.css" th:href="@{/assets/Global.css}">
    <script src="../static/assets/Global.js" th:src="@{/assets/Global.js}" defer></script>
    <style>
        .btn-mini {
            height: 24px;
            min-width: 32px;
            padding: 0;
        }

        .rejected a[rel~=external] {
            text-decoration: line-through;
        }

        .cross-out {
            position: relative;
            width: 0;
            font-size: 80%;
            top: 1px;
            left: 1px;
        }

        .domain-title.error {
            color: darkred;
        }
    </style>
</head>
<body>
<nav th:replace="~{_layout.html :: sidebar (activeItem='Unearth')}"></nav>
<main class="search">
    <form id="sf" th:action="@{/unearth/domains}">
        <!-- hidden default submit button (otherwise the export buttons will be the default!) -->
        <button type=submit style="visibility: hidden; position: absolute; top: -1000px"></button>
    </form>
    <header>
        <input type=search name="q" th:value="${q}" placeholder="Search Domains" data-keybind="f" form=sf>
    </header>

    <div class="alert-error" th:if="${error}">
        <p th:text="${error}"></p>
    </div>

    <div style="margin-bottom: 8px">
        <label><input type="checkbox" name="includeExisting" th:checked="${includeExisting}" form="sf"
                      onclick="this.form.submit()"> Include existing titles</label>
        <label><input type="checkbox" name="includeRejected" th:checked="${includeRejected}" form="sf"
                      onclick="this.form.submit()"> Include rejected</label>
    </div>

    <div th:if="${q == null}">
        <p>Search domain names from the <a href="https://commoncrawl.org/web-graphs">Common Crawl dataset</a> to
            identify new websites for archiving. e.g. <a th:href="@{/unearth/domains(q=ulverstone)}">ulverstone</a></p>
        <p>If multiple search terms are given domains that match any of them will be returned. Prefix search terms with
            + for a mandatory match and - for negative match. e.g.
            <a th:href="@{/unearth/domains(q='canberra +.org -.au')}">canberra +.org -.au</a></p>
    </div>

    <table class="domains-table">
        <tr th:each="domain : ${domains}" th:classappend="${rejectedDomains.containsKey(domain)}? 'rejected'">
            <td>
                <a th:href="@{/titles/new(url=${domain})}"
                   title="Add website"
                   class="btn btn-mini">+</a>
            </td>
            <td style="margin-right: 8px; white-space: nowrap">
                <button onclick="rejectDomain(this, 6)"
                        title="Reject: not Australian"
                        class="btn btn-secondary btn-mini"
                        th:classappend="${rejectedDomains.containsEntry(domain, 6)}? 'btn-pressed'">
                    <span class="cross-out">❌</span>🇦🇺‍
                </button>
                <button onclick="rejectDomain(this, 12)"
                        title="Reject: out of scope for agency"
                        class="btn btn-secondary btn-mini"
                        th:classappend="${rejectedDomains.containsEntry(domain, 12)}? 'btn-pressed'">🎯</button>
                <button onclick="rejectDomain(this, 8)"
                        title="Reject: spam/broken/other"
                        class="btn btn-secondary btn-mini"
                        th:classappend="${rejectedDomains.containsEntry(domain, 8)}? 'btn-pressed'">🚫</button>
            </td>
            <td><a th:text="${domain}" th:href="${'http://' + domain}" target="_blank" rel="external nofollow"></a></td>
            <td class="domain-title"></td>
        </tr>
    </table>

    <script th:inline="javascript">
        var pageinfoEndpoint = /*[[@{/pageinfo}]]*/ '../pageinfo';
        let rejectDomainEndpoint = /*[[@{/unearth/domains/reject}]]*/ '/unearth/domains/reject';
        let csrfToken = /*[[${_csrf.token}]]*/ 'token';
        let csrfHeader = /*[[${_csrf.headerName}]]*/ 'csrf';

        function rejectDomain(button, reason) {
            let tr = button.closest('tr');
            let domain = button.closest('tr').querySelector('a[rel~=external]').innerText;
            let unpressing = button.classList.contains('btn-pressed');
            console.log('Rejecting ' + domain + ' as ' + reason);

            // unpress all buttons
            tr.querySelectorAll('button.btn-pressed').forEach(function (button) {
                button.classList.remove('btn-pressed');
            });

            let requestData = {
                domain: domain,
            };

            if (unpressing) {
                tr.classList.remove('rejected');
            } else {
                tr.classList.add('rejected');
                button.classList.add('btn-pressed');
                requestData.reason = reason;
            }

            let headers = {
                'Content-Type': 'application/x-www-form-urlencoded',
            };
            headers[csrfHeader] = csrfToken;
            fetch(rejectDomainEndpoint, {
                method: 'POST',
                headers: headers,
                body: new URLSearchParams(requestData)
            }).then(response => {
                if (response.ok) {
                } else {
                    alert('Error: ' + response.statusText);
                }
            }).catch(error => {
                alert('Error: ' + error);
            });
        }

        function loadPageInfo() {
            document.querySelectorAll('.domains-table a[rel~=external]').forEach(function (a) {
                let tr = a.closest('tr');
                let domain = a.innerText;
                fetch(pageinfoEndpoint + "?url=" + encodeURIComponent('http://' + domain))
                    .then(response => response.json())
                    .then(data => {
                        if (data.location) {
                            let oldLocation = a.href;
                            a.href = data.location;

                            // if differs by more than http/https or www. then flag as redirected
                            if (oldLocation.replace(/^https?:\/\//, '').replace(/^www\./, '') !==
                                data.location.replace(/^https?:\/\//, '').replace(/^www\./, '')) {
                                a.innerText += " [R]";
                            }
                        }
                        let title = "";
                        if (data.title) {
                            title = data.title;
                        }
                        if (data.status !== 200) {
                            if (data.status < 0) {
                                title = "[connect error]";
                                tr.querySelector(".domain-title").classList.add("error");
                            } else if (data.status > 400) {
                                tr.querySelector(".domain-title").classList.add("error");
                                title = "[" + data.status + " " + (data.reason ? data.reason : "error") + "] " + title;
                            } else {
                                title = "[" + data.status + "] " + title;
                            }
                        }
                        tr.querySelector(".domain-title").textContent = title;
                    });
            });
        }
        loadPageInfo();
    </script>
</main>