<!doctype html>
<html>
<head>
    <title>Save an Australian website</title>
    <style>
        body {
            max-width: 800px;
            margin-left: auto;
            margin-right: auto;
        }

        .two-columns {
            display: flex;
        }

        .two-columns > div {
            flex: 1 1 0;
        }

        .two-columns > div:not(:last-child) {
            margin-right: 16px;
        }

        .two-columns ol {
            padding-left: 20px;
        }

        .two-columns ol li {
            margin-bottom: .5rem;
        }

        label {
            display: block;
        }

        input, select {
            min-height: 28px;
        }

        input, select, textarea {
            width: 100%;
            box-sizing: border-box;
        }

        .help-text {
            color: #555;
            font-size: 80%;
        }
    </style>
</head>
<body>
<h1>Save an Australian website</h1>
<p>
    The Australian Web Archive tries to collect as many Australian website as possible to preserve our
    cultural and social history for future generations.
</p>
<p>
    Use this form to select a website for archiving. If the website is already in the archive you can tag it
    with subjects areas or add it to a collection.
</p>

<section class="two-columns">
    <div>
        <h2>We archive websites:</h2>
        <ol>
            <li>That have a .au web address; or
            <li>That are published in Australia.
        </ol>
    </div>
    <div>
        <h2>We do not archive:</h2>
        <ol>
            <li>Websites that are predominantly audio-visual such as music or video streaming services.
            <li>Pages behind a login or otherwise not publicly accessible.
        </ol>
    </div>
</section>

<h2>Save an Australian website</h2>

<form>
    <div class="two-columns">
        <div>
            <p>
                <label for=url>* Web address (URL):</label>
                <input id=url name=url type=url>
                <span id=checkStatus class=help-text></span>
            </p>

            <p>
                <label for=name>* Website title:</label>
                <input id=name name=name>
            </p>
            <p>
                <label for=message>Message for the web archiving team:</label>
                <textarea id=message name=message rows=5></textarea>
                <span class="help-text">
                    Use this field if you have a special request such as that we should collect this website more
                    frequently than normal. You can also let us know if we've archived some parts of it but are missing
                    other parts.
                </span>
            </p>
        </div>
        <div>
            <p>
                <label for=subjects>Subject areas:</label>
                <select id=subjects name=subjects multiple placeholder="Select subjects">
                    <option data-fullname="" data-placeholder="true">Select subject areas</option>
                    <option th:each="subject: ${allSubjects}" th:value="${subject.id}" th:text="${subject.name}"
                            th:style="'padding-left:' + ${subject.depth * 16 + 10} + 'px'"
                            th:data-fullname="${subject.fullName}">Arts</option>
                </select>
                <span class="help-text">Choose up to three.</span>
            </p>
            <p>
                <label for=collections>Collections:</label>
                <select id=collections name=collection multiple>
                    <option data-placeholder="true">Select collections</option>
                    <option>2012 Federal election candidates</option>
                </select>
                <span class="help-text">
                    We group websites into collections when they are about the same event or are closely related by
                    a specific theme.
                </span>
            </p>
        </div>
    </div>
    <p>
        <button>Submit (not functional yet)</button>
        <button type=reset id=reset>Clear Form</button>
    </p>
</form>

<link rel=stylesheet th:href="@{/webjars/slim-select/1.24.0/dist/slimselect.css}" href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.24.0/slimselect.css">
<script th:src="@{/webjars/slim-select/1.24.0/dist/slimselect.js}" src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.24.0/slimselect.js"></script>
<script>
    const subjectsSelect = new SlimSelect({
        select: '#subjects',
        searchFilter: function (option, search) {
            return option.data['fullname'].toLowerCase().indexOf(search.toLowerCase()) !== -1;
        }
    });
    const collectionsSelect = new SlimSelect({
        select: '#collections'
    });
    subjectsSelect.onChange = function (options) {
        const params = new URLSearchParams();
        for (const option of options) {
            params.append("subject", option.value);
        }
        fetch("saveasite/collections.json?" + params).then(response => response.json()).then(data => {
            console.log(data);
            collectionsSelect.setData(data);
        });
    };

    const checkStatus = document.getElementById("checkStatus");
    const nameField = document.getElementById("name");

    document.getElementById("reset").onclick = function (ev) {
        checkStatus.innerText = "";
        subjectsSelect.setSelected([]);
        collectionsSelect.setSelected([]);
    }

    document.getElementById("url").onchange = function (ev) {
        checkStatus.innerText = "Checking...";
        ev.target.value = ev.target.value.trim();
        const url = ev.target.value;
        if (url === "") {
            checkStatus.innerText = "";
            return;
        }
        fetch("saveasite/check.json?" + new URLSearchParams({"url": url}))
            .then(response => response.json())
            .then(title => {
                if (title !== null) {
                    console.log(title)
                    checkStatus.innerHTML = "Found existing record: " + "<a href='https://nla.gov.au/nla.arc-" + title.pi
                        + "' target=_blank>nla.arc-" + title.pi + "</a>";
                    nameField.value = title.name;
                    subjectsSelect.set(title.subjects.map(s => s.id));
                    collectionsSelect.set(title.collections.map(c => c.id));
                    return;
                }
                checkStatus.innerText = "New website. Fetching title...";
                return fetch("saveasite/check2.json?" + new URLSearchParams({"url": url}))
                    .then(response => response.json())
                    .then(docInfo => {
                        checkStatus.innerText = "";
                        if (!docInfo) return;
                        if (nameField.value === "" && docInfo.title) {
                            nameField.value = docInfo.title;
                        }
                    })
            }).catch(error => {
                checkStatus.innerText = "Error checking website: " + error;
            });
    }

</script>

</body>
</html>