#banner #homeLink {
  width: 500px;
  height: 90px;
  display: block;
}

#previewFrame {
  width: 100%;
  height: 45%;
}

#editbox {
  width: 100%;
  height: 45%;
}

#editable {
  text-align: left;
}

.browseSubjects > ul {
  column-count: 3;
}

.credits {
  margin-top: 12px;
  text-align: center;
}
.credits > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#alphaFooter {
  border: 0;
  width: 100%;
  margin-top: 32px;
}

#alphaFooter .alphaCell {
  background: #24428b;
}

.subcategories > ul {
  columns: 350px;
  padding: 0;
}

#content .subcategories > ul > li {
  /* FIXME: Without this the "#content li" from main.css makes the columns break oddly */
  margin-top: 0;
}