$theme-colors: (
        "primary": #55F,
);

// required
@import "bootstrap/scss/bootstrap";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

// optional
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
//@import "bootstrap/scss/code";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/breadcrumb";

@import "collection";
@import "TitleSearch";

body {
    display: grid;
    grid-template-areas: "header" "nav" "main";

    @media (min-width: 540px) {
        grid-template-areas: "header header"
                     "nav main";
        grid-template-columns: 250px 1fr;
        grid-template-rows: auto 1fr;
    }
}



body > header {
    grid-area: header;

    @extend .navbar;
    @extend .navbar-dark;

    background-image: url("https://pandas.nla.gov.au/images/galaxy90.jpg");
    background-repeat: no-repeat;
    background-color: #010066;

    > a {
        @extend .navbar-brand;
    }
}

body > nav {
    grid-area: nav;
    background-color: #f8f9fa;
    padding: 1rem;

    > ul {
        @extend .nav;
        @extend .flex-column;
        > li {
            @extend .nav-item;
            > a {
                @extend .nav-link;
                color: #333;
                font-weight: 500;
            }
        }
    }
}

body > main {
    grid-area: main;

    @extend .px-md-4;
    @extend .pt-3;

    > header {
        @extend .d-flex;
        @extend .justify-content-between;

        align-items: flex-start;
        margin-bottom: 1rem;

        > ol {
            @extend .breadcrumb;
            margin-bottom: 0;
            margin-right: 1rem;
            padding: 0.475rem 0.75rem;

            > li { @extend .breadcrumb-item; }
        }

        > nav {
            @extend .btn-toolbar;
            > a {
                margin-right: 0.5rem;
            }
        }
    }

}