@import "bootstrap/scss/bootstrap";

main.search {
  display: grid;
  grid-template-areas: "header" "results" "facets";

  @media (min-width: 540px) {
    grid-template-areas: "header header"
                     "results facets";
    grid-template-columns: 1fr 300px;
    grid-template-rows: auto 1fr;
  }

  > .header {
    grid-area: header;
  }

  > .results {
    grid-area: results;

    > header {
      color: #999;
      margin-top: 0.5rem;
    }

    > ol {
      list-style: none;
      padding: 0;

      > li {
        margin: 1rem 0;
        display: flex;


        > a > img {
          width: 100px;
          height: 75px;
          margin-right: 12px;
          flex-shrink: 0;
          transition: width 0.25s, height 0.25s;
        }

        > a > img:hover {
          width: 200px;
          height: 150px;
          transition: width 0.25s, height 0.25s;
        }


        > div {
          > header {
            > nav {
              display: inline;
              font-size: 60%;

              .live-url {
                color: darkgreen;
              }
            }
          }

          > div {
            font-size: 80%;
          }

          > footer {
            font-size: 80%;
            color: #888;

            .regdate {
              font-weight: bold;
            }

            .status {
              font-variant: small-caps;
            }
          }
        }
      }
    }
  }

  > .facets {
    grid-area: facets;

    > header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }



    > details {
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
      border: 1px solid rgba(0, 0, 0, 0.125);
      border-radius: 0.25rem;
      padding: 0;

      > summary {
        padding: .5rem;
        font-weight: bold;
        user-select: none;

        > input {
          float: right;
          border: 1px solid #ccc;
          border-radius: 0.25rem;
          padding: 0 0.4rem;
          //display: none;
          width: 150px;
          transition: visibility 0.2s, opacity 0.2s;
          visibility: hidden;
          opacity: 0;
          margin: -1px;
        }

        &:after {
          content: "";
          display: block;
          clear: both;
        }
      }

      &[open] > summary {
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);

        > input {
          opacity: 1;
          visibility: visible;
          transition: opacity 0.2s;
        }
      }

      > fieldset {
        padding: 0.5rem;
        overflow-y: auto;
        max-height: 200px;
        margin: 0;

        > label {
          display: block;
        }

        &.date-range {
          display: grid;
          grid-gap: 0.5rem;
          grid-template-columns: auto auto;
          align-items: center;

          input[type=date] {
            @extend .form-control;
          }
        }
      }
    }
  }
}