[Unit]
Description=webrecorder pywb uwsgi daemon
After=network.target

[Service]
Type=notify
WorkingDirectory=/opt/webrecorder/pywb
User=heritrix
Group=heritrix
ExecStart=/opt/webrecorder/bin/uwsgi --http-socket :8089 --workers 8 --gevent 100 --max-worker-lifetime 60 --buffer-size 34300 --wsgi pywb.apps.wayback
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
