<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PANDAS</title>
    <link rel="stylesheet" href="../../target/classes/static/pandas-admin.css" th:href="@{/pandas-admin.css}">
</head>
<body>

<header th:fragment="header">
    <a href="/">PANDAS Admin</a>
    <form th:action="@{/titles}"><input name="q" placeholder="Search titles..."></form>
</header>

<main>
    <nav th:fragment="sidebar">
        <ul>
            <li>Tools</li>
            <li><a th:href="@{/titles}">Titles</a>
            <li><a th:href="@{/collections}">Collections</a>
            <li><a th:href="@{/subjects}">Subjects</a>
            <li><a th:href="@{/marcexport}">MARC Export</a>
            <li>Gather
            <li><a th:href="@{/gather/filterpresets}">Filter Presets</a>
        </ul>
    </nav>
    <article>
    </article>
</main>

</body>
</html>

