<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PANDAS</title>
    <link rel="stylesheet" href="../../target/classes/static/pandas-admin.css" th:href="@{/pandas-admin.css}">
</head>
<body>

<header th:fragment="header">
    <a href="/">PANDAS Admin</a>
    <form action="titles"><input name="q" placeholder="Search titles..."></form>
</header>

<main>
    <nav th:fragment="sidebar">
        <ul>
            <li>Tools</li>
            <li><a href="titles">Titles</a>
            <li><a href="collections">Collections</a>
            <li><a href="subjects">Subjects</a>
            <li><a href="marcexport">MARC Export</a>
            <li>Gather
            <li><a href="gather/filterpresets">Filter Presets</a>
        </ul>
    </nav>
    <article>
        [#if header]<h1>${title}</h1>[/#if]
        [#nested/]
    </article>
</main>

</body>
</html>

