<!doctype html>
<html lang=en xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Subject - PANDAS</title>
    <link rel="stylesheet" href="../static/assets/Global.css" th:href="@{/assets/Global.css}">
    <script src="../static/assets/Global.js" th:src="@{/assets/Global.js}" defer></script>
</head>
<nav th:replace="_layout.html :: sidebar"></nav>
<main>
    <header>
        <nav>
            <button type="submit" data-keybind="s" class="btn btn-primary" form=form>Save</button>
            <a th:href="@{|/subjects/${subject.id ?: ''}|}" href="javascript:history.back()" data-keybind="Escape" class="btn btn-secondary" form=form>Cancel</a>
        </nav>
        <button th:if="${subject.id != null}" type="submit" th:formaction="@{|/subjects/${subject.id}/delete|}"
                class="btn btn-danger float-right" form=form>Delete
        </button>
    </header>
    <form method=post class=form th:action="@{/subjects}" id=form>
        <input type=hidden name=id th:value="${subject.id}">

        <div class="form-group">
            <label for="name">Name:</label>
            <input class="form-control" id="name" name="name" th:value="${subject.name}" required>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" id="description" name="description"
                      rows="3" th:text="${subject.description}"></textarea>
        </div>
    </form>
</main>