<!doctype html>
<html lang=en xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${form.id == null ? 'New Title - PANDAS' : 'Edit Title - PANDAS'}">Edit Title - PANDAS</title>
    <link rel="stylesheet" href="../static/assets/Global.css" th:href="@{/assets/Global.css}">
    <script src="../static/assets/Global.js" th:src="@{/assets/Global.js}" defer></script>
</head>
<body>
<nav th:replace="_layout.html :: sidebar"></nav>
<main>
    <form method=post class=form th:object="${form}" th:action="@{/titles}">
        <header>
            <div>
                <button type="submit" data-keybind=s class="btn btn-primary"><i class="icon save"></i>Save</button>
                <button onclick="history.back(); return false" data-keybind=Escape class="btn btn-secondary"><i class="icon cancel"></i>Cancel</button>
            </div>
            <button th:if="${form.id != null}" type="submit" th:formaction="@{|/titles/${form.id}/delete|}"
                    class="btn btn-danger float-right"><i class="icon delete"></i>Delete</button>
        </header>

        <div style="border: 8px solid red; padding: 8px; border-radius: 8px; display: flex; margin: 16px 0; justify-content: center">
            <img src=https://upload.wikimedia.org/wikipedia/commons/3/32/Emojione_1F6A7.svg title="Emoji One, CC BY-SA 4.0, via Wikimedia Commons" width=100px>
            <div style="margin: 16px; text-align: center">
                <h2>Under Construction</h2>
                Don't create titles with this form yet. :)
            </div>
            <img src=https://upload.wikimedia.org/wikipedia/commons/3/32/Emojione_1F6A7.svg title="Emoji One, CC BY-SA 4.0, via Wikimedia Commons" width=100px>
        </div>
        <input type=hidden th:field="*{id}">

        <fieldset>
            <legend>Details</legend>
            <label>URL: <input th:field="*{titleUrl}" required class="form-control"></label>
            <div id="urlInfo"></div>
            <label>Name: <input th:field="*{name}" required class="form-control"></label>
        </fieldset>

        <fieldset>
            <legend>Gather</legend>
            <label>Method: <select th:field="*{gatherMethod}">
                <option th:each="method: ${allGatherMethods}" th:value="${method.id}" th:text="${method.name}">
                    Heritrix
                </option>
            </select></label>
            <label>Schedule: <select th:field="*{gatherSchedule}">
                <option th:each="schedule: ${allGatherSchedules}" th:value="${schedule.id}"
                        th:text="${schedule.name}">Weekly
                </option>
            </select></label>
            <label><input type="checkbox">Gather immediately</label>
            <details th:open="${form.seedUrls != form.titleUrl}">
                <summary>Options</summary>
                <label>
                    Seed URLs:
                    <textarea th:field="*{seedUrls}"></textarea>
                </label>
            </details>
        </fieldset>

        <fieldset>
            <legend>Cataloguing</legend>
            <div>Format:
                <label th:each="fmt: ${allFormats}"><input type=radio th:field="*{format}" th:value="${fmt.id}">
                    <th:block th:text="${fmt.name}">Integrating</th:block>
                </label>
            </div>
            <label>
                Collections:
                <select th:field="*{collections}" id="collections" multiple>
                    <option th:each="collection: ${allCollections}" th:value="${collection.id}"
                            th:text="${collection.fullName}">Arts
                    </option>
                </select>
            </label>
            <label>
                Subjects:
                <select th:field="*{subjects}" id="subjects" multiple>
                    <option th:each="subject: ${allSubjects}" th:value="${subject.id}" th:text="${subject.name}"
                            th:style="'padding-left:' + ${subject.depth * 16 + 10} + 'px'"
                            th:data-fullname="${subject.fullName}">Arts
                    </option>
                </select>
            </label>
            <div>
                <label>ABND No. <input th:field="*{anbdNumber}"></label>
                <label>Local Reference No. <input th:field="*{localReference}"></label>
                <label>Local Database No. <input th:field="*{localDatabaseNo}"></label>
            </div>
            <label><input type=checkbox th:field="*{cataloguingNotRequired}"> Cataloguing not required</label>
            <label>Notes: <textarea th:field="*{notes}"></textarea></label>
        </fieldset>
    </form>
</main>
<link rel=stylesheet th:href="@{/webjars/slim-select/1.24.0/dist/slimselect.css}" href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.24.0/slimselect.css">
<script th:src="@{/webjars/slim-select/1.24.0/dist/slimselect.js}" src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.24.0/slimselect.js"></script>
<script th:inline="javascript">
    var pageinfoEndpoint = /*[[@{/pageinfo}]]*/ '../pageinfo';
    new SlimSelect({
        select: '#subjects',
        searchFilter: function (option, search) {
            return option.data['fullname'].toLowerCase().indexOf(search.toLowerCase()) !== -1;
        }
    });
    new SlimSelect({
        select: '#collections'
    });
    document.getElementById("titleUrl").addEventListener("change", function () {
        document.getElementById("urlInfo").innerText = "Loading...";
        document.getElementById("urlInfo").style.color = "#555";

        fetch(pageinfoEndpoint + "?url=" + encodeURIComponent(this.value))
            .then(response => response.json())
            .then(info => {
                let contentType = info.contentType == null ? "?" : info.contentType.replace(/\s*;.*/, "");
                document.getElementById("urlInfo").innerText = contentType + " " + info.status + " " + info.reason;
                document.getElementById("urlInfo").style.color = info.status < 300 ? "green" : info.status < 400 ? "blue" : "red";
                if (!document.getElementById("name").value && info.title && info.status < 300) {
                    document.getElementById("name").value = info.title;
                }
            });
    });
</script>