<!doctype html>
<html lang=en xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Titles - PANDAS</title>
    <link rel="stylesheet" href="../../target/classes/static/pandas-admin.css" th:href="@{/pandas-admin.css}">
</head>
<body>
<header th:replace="_layout.html :: header"></header>
<nav th:replace="_layout.html :: sidebar"></nav>
<main class="search">
    <header>
        <h1>Titles</h1>
    </header>

    <section class="results">
        <form id="sf">
            <input type=search name="q" th:value="${q}" placeholder="Keywords">
            <input type=submit value=Search class="btn btn-primary">
            <button type=submit th:formaction="@{/titles.csv}" class="btn btn-outline-dark">Export CSV</button>
        </form>
        <header>
            Found <strong th:text="${#numbers.formatInteger(results.getTotalElements(), 0, 'COMMA')}">16</strong>
            matching titles
        </header>
        <ol start="${results.pageable.offset + 1}">
            <li th:each="title: ${results}">
                <a th:href="@{|/titles/${title.id}|}"><img th:src="@{|/titles/${title.id}/thumbnail/image|}"></a>
                <div>
                    <header>
                        <strong><a th:href="@{|/titles/${title.id}|}" th:text="${title.name}" href="TitleView.html">Sydney
                            2000</a></strong>
                        <nav>
                            <a class="live-url" th:if="${title.titleUrl != null}" th:href="${title.titleUrl}"
                               th:text="${#strings.abbreviate(title.titleUrl.replaceFirst('^https?://(www\\.)?', ''), 80)}"
                               href="http://www.olympics.com/">olympics.com</a>
                            <a th:if="${title.pi != null}" th:href="|https://webarchive.nla.gov.au/tep/${title.pi}|"
                               href="https://webarchive.nla.gov.au/tep/10194">TEP</a>
                            <a th:if="${title.titleUrl != null}"
                               th:href="|https://webarchive.nla.gov.au/awa/*/${title.titleUrl}|"
                               href="https://webarchive.nla.gov.au/awa/*/www.olympics.com/">CAL</a>
                        </nav>
                    </header>
                    <div>
                        <ul class="subject-list">
                            <li th:each="subject: ${title.subjects}">
                                <a th:href="@{/subjects/{id}(id=${subject.id})}" th:text="${subject.name}"
                                   href="SubjectView.html">Sport</a>
                            </li>
                        </ul>
                    </div>
                    <footer>
                        <span class="status" th:text="${title.status.name}">ceased</span> ·
                        <span th:if="${title.publisher != null}"
                              th:text="|${title.publisher.organisation.name}, |">
                            International Olympic Committee
                        </span>
                        <time th:datetime="${title.regDate}" class="regdate" th:text="${title.regDateLocal.getYear()}">2000</time> ·
                        <span class="owner" th:text="${title?.owner?.userid}">aosborne</span>
                        <span class="agency" th:text="${title?.agency?.organisation?.alias}">NLA</span>
                    </footer>
                </div>
            </li>
            <li th:remove="all">
                <img>
                <div>
                    <header>
                        <strong><a href="TitleView.html">Sydney 2000</a></strong>
                    </header>
                    <div>
                        <ul class="subject-list">
                            <li>
                                <a href="SubjectView.html">Sport</a>
                            </li>
                        </ul>
                        <span>&mdash; International Olympic Committee</span>
                    </div>
                    <footer>
                        <span class="regdate">2000-04-01</span> ·
                        <span class="status">ceased</span> ·
                        <span class="owner">aosborne</span>
                        <span class="agency">NLA</span>
                    </footer>
                </div>
            </li>
        </ol>
        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${!results.hasPrevious()} ? disabled">
                    <button form="sf" type="submit" name="page"
                            th:value="${results.hasPrevious() ? results.previousPageable().pageNumber : ''}"
                            class="page-link" tabindex="-1">Previous
                    </button>
                </li>
                <li class="page-item" th:classappend="${!results.hasNext()} ? disabled">
                    <button form="sf" type="submit" name="page"
                            th:value="${results.hasNext() ? results.nextPageable().pageNumber : ''}" class="page-link">
                        Next
                    </button>
                </li>
            </ul>
        </nav>
    </section>

    <section class="facets">
        <header>
            <h3>Filters</h3>
            <button form="sf" class="btn btn-primary" id="filter-clear-button">Clear</button>
        </header>
        <details th:each="facet: ${facets}" th:if="${facet.visible}" th:open="${facet.active}" open>
            <summary ><th:block th:text="${facet.name}">Subject</th:block><input form="sf" type="search" th:if="${facet.searchable}" th:value="${facet.search}" th:name="|${facet.param}.name|" placeholder="Search..."></summary>
            <fieldset th:if="${facet.type == 'date'}" class="date-range">
                <!--suppress ThymeleafVariablesResolveInspection -->
                <input form="sf" th:name="${facet.param + '.start'}" th:value="${facet.start}" type=date>
                <span>&mdash;</span>
                <!--suppress ThymeleafVariablesResolveInspection -->
                <input form="sf"  th:name="${facet.param + '.end'}" th:value="${facet.end}" type=date>
                <button form="sf" type=submit class="btn btn-primary btn-sm">Apply</button>
            </fieldset>
            <fieldset th:if="${facet.type == 'entity'}">
                <label th:each="entry: ${facet.entries}">
                    <input form="sf" type=checkbox th:name="${facet.param}" th:value="${entry.id}" th:checked="${entry.active}">
                    <th:block th:text="${entry.name}">Sport</th:block>
                    <th:block th:if="${entry.count != null}" th:text="|(${#numbers.formatInteger(entry.count, 0, 'COMMA')})|">(2,321)</th:block>
                </label>
            </fieldset>
        </details>
    </section>
    <script>
        document.getElementById("filter-clear-button").onclick = function() {
            document.querySelectorAll('.facets input[type=checkbox]').forEach(cb => cb.checked = false);
            document.querySelectorAll('.facets input[type=date], .facets input[type=search]').forEach(field => field.value = "");
            this.form.submit();
        }

        // auto-submit when checkboxes are clicked
        document.querySelectorAll(".facets input[type='checkbox']").forEach(checkbox =>
            checkbox.onchange = function() { this.form.submit(); });

        // hide empty date fields from query string for cleaner URLs
        document.getElementById("sf").onsubmit = function () {
          document.querySelectorAll('.facets input[type=date], .facets input[type=search]').forEach(field => { if (!field.value) { field.name = ""; }});
        };
    </script>
</main>