<!doctype html>
<html lang=en xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Instances in QA - PANDAS</title>
    <link rel="stylesheet" href="../../static/assets/Global.css" th:href="@{/assets/Global.css}">
    <link rel="stylesheet" href="../../static/assets/Filters.css" th:href="@{/assets/Filters.css}">
    <script src="../../static/assets/Global.js" th:src="@{/assets/Global.js}" defer></script>
</head>
<body>
<nav th:replace="~{_layout.html :: sidebar (activeItem='QA')}"></nav>
<main>
    <header>
        <nav>
            <button class="btn btn-primary selected-action" form=form type=submit
                    th:formaction="@{/instances/archive}"><i class="icon archive"></i>Archive
            </button>
            <button class="btn btn-danger selected-action" form=form type=submit
                    th:formaction="@{/instances/delete}"
                    onclick="return confirm('Are you certain you wish to delete ' + countSelected() + ' instances? This cannot be undone.');"
            ><i class="icon delete"></i>Delete
            </button>
            <button sec:authorize="hasAuthority('PRIV_BULK_EDIT_TITLES')" class="btn btn-secondary selected-action"
                    form=form type=submit
                    th:formaction="@{/instances/bulkchange}" style="margin-left: 32px">Bulk Change
            </button>
            <button id="compactViewButton" class="btn btn-secondary" type="button">Compact View</button>
        </nav>
        <th:block th:include="~{worktrays/_worktrays.html :: header('/worktrays/{alias}/gathered')}">
        </th:block>
    </header>
    <script>
        document.getElementById('compactViewButton').addEventListener('click', function () {
            var isCompact = document.body.classList.toggle('qa-compact-view-active');
            this.innerText = isCompact ? 'Detailed View' : 'Compact View';
            localStorage.setItem("pandas-qa-compact-view-active", isCompact);
        });
        if (localStorage.getItem("pandas-qa-compact-view-active") === "true") {
            document.getElementById('compactViewButton').click();
        }
    </script>
    <nav class="breadcrumb">
        <ol>
            <li><a th:href="@{/worktrays/{alias}(alias=${alias})}" style="font-weight: bold">Worktrays</a></li>
            <li class="active">Instances in QA (<span th:text="${gatheredInstances.totalElements}"></span>)</li>
        </ol>
    </nav>

    <style>
        .gathered-table td {
            border-top: 1px solid #ccc;
            padding: 4px 8px;
        }

        .gathered-table th {
            padding: 4px 8px;
        }

        .gathered-table td:first-of-type, .gathered-table th:first-of-type {
            padding: 8px 0;
        }

        .align-left {
            text-align: left;
        }

        .align-right {
            text-align: right;
        }

        .no-wrap {
            white-space: nowrap;
        }

        .gather-stats {
            font-size: 80%;
            color: #555;
        }

        .gather-stats-warning {
            color: #f55;
        }

        .qa-compact-view {
            display: none;
        }

        .qa-compact-view-active .qa-detailed-view {
            display: none;
        }

        .qa-compact-view-active .qa-compact-view {
            display: table-cell;
        }

        #form {
            display: grid;
            grid-template-areas: "results facets";
            grid-template-columns: 1fr 200px;
        }
    </style>

    <form id=sf method=get th:action="@{''}">
        <button type=submit style="visibility: hidden; position: absolute; top: -1000px"></button>
    </form>

    <form id=form method=post th:action="@{''}">
        <aside class="filters" th:replace="~{TitleSearch.html :: filters}">
        </aside>

        <table th:fragment="table" class="gathered-table">
            <thead>
            <tr>
                <th><input type=checkbox onchange="toggleSelectAll(this)" id="selectAllCheckbox"></th>
                <th class="align-left" id="titleColumnHeader">Title</th>
                <th class="qa-compact-view align-left">URL</th>
                <th th:if="${agencyId != null}" class="qa-compact-view align-left">Owner</th>
                <th class="qa-compact-view align-left">Captured</th>
                <th class="qa-compact-view">Files</th>
                <th class="qa-compact-view">Size</th>
                <th class="qa-detailed-view">This Gather</th>
                <th class="qa-detailed-view">Live Site</th>
                <th class="qa-detailed-view">Previous Gather</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="instance: ${gatheredInstances}" th:with="previousGather = ${previousGathers.get(instance.id)}">
                <td>
                    <input type=checkbox class="selectedInstancesCheckbox" name=instance th:value='${instance.id}'
                           onchange="updateSelected()">
                </td>

                <!--/* Compact view */-->
                <td class="qa-compact-view">
                    <a th:href="${@link.to(instance.title)}" th:text="${instance.title.name}">Example Title</a>
                </td>
                <td class="qa-compact-view">
                    <a class="live-url" th:href="${instance.title.titleUrl}"
                       th:text="${#strings.abbreviate(instance.title.titleUrl.replaceFirst('^https?://(www\\.)?', ''), 80)}"
                       href="http://www.olympics.com/" target="_blank">olympics.com</a>
                </td>
                <td th:if="${agencyId != null}" class="qa-compact-view" th:text="${instance.title.owner?.userid}">jsmith</td>
                <td class="qa-compact-view no-wrap">
                    <a th:href="@{/instances/{id}/process(id=${instance.id},worktray=${alias})}"
                       th:text="${@dateFormats.shortDateTime.format(instance.date)}">
                        2021/08/30
                    </a>
                </td>
                <td class="qa-compact-view align-right no-wrap" th:text="${instance.gather.filesHuman}">1,233</td>
                <td class="qa-compact-view align-right no-wrap" th:text="${instance.gather.sizeHuman}"
                    th:classappend="${instance.gather.hasSizeWarning()}?'gather-stats-warning'">2 MB</td>

                <!--/* Detailed view */-->
                <td class="qa-detailed-view" th:insert="TitleSearch.html :: title-card-text(title=${instance.title})">
                    <a style="font-weight: bold">Example title</a><br>
                    <span>Heritrix</span>
                    <a>jsmith</a>
                </td>
                <td class="qa-detailed-view" style="text-align: center">
                    <a th:href="@{/instances/{id}/process(id=${instance.id},worktray=${alias})}"><img
                            th:src="${@link.thumbnail(instance, 'REPLAY')}" width=150 height=100></a><br>
                    <a th:href="${@link.to(instance)}">
                        <time th:text="${@dateFormats.shortDate(instance.date)}">31 Aug 2023</time>
                    </a>
                    <br>
                    <a class="gather-stats" th:if="${instance.gather != null}" th:href="${@link.files(instance)}"
                       th:classappend="${instance.gather.hasSizeWarning()}?'gather-stats-warning'"
                       th:text="${instance.gather.stats}">1,234 files <span>10 MB</span></a>
                </td>
                <td class="qa-detailed-view" style="text-align: center; vertical-align: top">
                    <a th:href="${instance.title.getPrimarySeedUrl()}" target="_blank"><img
                            th:src="${@link.thumbnail(instance, 'LIVE')}" width=150 height=100></a>
                </td>
                <td class="qa-detailed-view" style="text-align: center">
                    <th:block th:if="${previousGather != null}">
                        <a th:href="@{/instances/{id}(id=${previousGather.id})}">
                            <img th:src="${@link.thumbnail(previousGather, 'REPLAY')}" width=150 height=100><br>
                        </a>
                        <a th:href="${@link.to(previousGather)}">
                            <time th:text="${@dateFormats.shortDate(previousGather.date)}">31 Aug 2022</time>
                        </a>
                        <br>
                        <span class="gather-stats" th:text="${previousGather.stats}">1,234 files 10 MB</span>
                    </th:block>
                </td>
            </tr>
            </tbody>
        </table>
    </form>

    <script>
        function countSelected() {
            return document.querySelectorAll(".selectedInstancesCheckbox:checked").length;
        }

        function updateSelected() {
            let selectAllCheckbox = document.getElementById("selectAllCheckbox");
            let totalCount = document.querySelectorAll(".selectedInstancesCheckbox").length;
            let selectedCount = countSelected();

            if (selectedCount === 0) {
                selectAllCheckbox.checked = false;
                selectAllCheckbox.indeterminate = false;
            } else if (selectedCount >= totalCount) {
                selectAllCheckbox.checked = true;
                selectAllCheckbox.indeterminate = false;
            } else {
                selectAllCheckbox.checked = true;
                selectAllCheckbox.indeterminate = true;
            }

            if (selectedCount > 0) {
                document.querySelectorAll("button.selected-action").forEach(btn => btn.disabled = false);
            } else {
                document.querySelectorAll("button.selected-action").forEach(btn => btn.disabled = true);
            }

            // show count in title
            if (selectedCount === 0) {
                document.getElementById("titleColumnHeader").innerText = "Title";
            } else if (selectedCount === 1) {
                document.getElementById("titleColumnHeader").innerText = selectedCount + " instance selected";
            } else {
                document.getElementById("titleColumnHeader").innerText = selectedCount + " instances selected";
            }
        }

        function toggleSelectAll(selectAllCheckbox) {
            document.querySelectorAll('.selectedInstancesCheckbox').forEach(el =>
                el.checked = selectAllCheckbox.checked);
            updateSelected();
        }

        updateSelected();
    </script>

    <nav class="pagination">
        <button form="sf" type="submit" name="page" class="btn btn-secondary" data-keybind=","
                th:value="${gatheredInstances.hasPrevious() ? gatheredInstances.previousPageable().pageNumber : ''}"
                tabindex="-1" th:disabled="${!gatheredInstances.hasPrevious()}"><i class="icon previous"></i>Previous</button>
        <button form="sf" type="submit" name="page" class="btn btn-secondary" data-keybind="."
                th:value="${gatheredInstances.hasNext() ? gatheredInstances.nextPageable().pageNumber : ''}"
                th:disabled="${!gatheredInstances.hasNext()}">Next<i class="icon icon-right next"></i></button>
    </nav>
</main>
<script th:src="@{/assets/Search.js}" src="../static/assets/Search.js"></script>