<!doctype html>
<html lang=en xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Instances in QA - PANDAS</title>
    <link rel="stylesheet" href="../../static/assets/Global.css" th:href="@{/assets/Global.css}">
    <script src="../../static/assets/Global.js" th:src="@{/assets/Global.js}" defer></script>
</head>
<body>
<nav th:replace="_layout.html :: sidebar"></nav>
<main>
    <header th:replace="worktrays/_worktrays.html :: header('/worktrays/{alias}/gathered')">
    </header>

    <nav class="breadcrumb">
        <ol>
             <li><a th:href="@{/worktrays/{alias}(alias=${alias})}" style="font-weight: bold">Worktrays</a></li>
            <li class="active">Instances in QA (<span th:text="${gatheredInstances.totalElements}"></span>)</li>
        </ol>
    </nav>

    <style>
        .gathered-table td {
            border-top: 1px solid #ccc;
            padding: 4px 8px;
        }

        .gathered-table td:first-of-type {
            padding: 8px 0;
        }

        .gather-stats {
            font-size: 80%;
            color: #555;
        }

    </style>

    <table th:fragment="table" class="gathered-table">
        <thead>
        <tr>
            <th><input type=checkbox onchange="document.querySelectorAll('.selectedInstances').forEach(el => el.checked = this.checked)"></th>
            <th align=left>Title</th>
            <th>This Gather</th>
            <th>Live Site</th>
            <th>Previous Gather</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="instance: ${gatheredInstances}" th:with="previousGather = ${previousGathers.get(instance.id)}">
            <td>
                <input type=checkbox class=selectedInstances name=selectedInstances th:value='${instance.id}'>
            </td>
            <td>
                <a th:text="${instance.title.name}" th:href="${@link.to(instance.title)}" style="font-weight: bold">Example title</a><br>
                <span th:text="${instance.gatherMethodName}">Heritrix</span>
                <a th:if="${instance.title.owner}" th:text="${instance.title.owner.userid}" th:href="${@link.to(instance.title.owner)}">jsmith</a>
            </td>
            <td style="text-align: center">
                <a href="#workingAreaUrl"><img th:src="${@link.thumbnail(instance)}" width=150 height=100></a><br>
                <time th:text="${@dateFormats.shortDate(instance.date)}"></time><br>
                <span class="gather-stats" th:if="${instance.gather != null}" th:text="${instance.gather.stats}">1,234 files 10 MB</span>
            </td>
            <td style="text-align: center; vertical-align: top">
                <a th:href="${instance.title.titleUrl}"><img th:src="${@link.thumbnail(instance, 'LIVE')}" width=150 height=100></a>
            </td>
            <td style="text-align: center">
                <th:block th:if="${previousGather != null}">
                    <a th:href="@{/instances/{id}(id=${previousGather.id})}">
                        <img th:src="@{/instances/{id}/thumbnail(id=${previousGather.id})}" width=150 height=100><br>
                    </a>
                    <time th:text="${@dateFormats.shortDate(previousGather.date)}"></time><br>
                    <span class="gather-stats" th:text="${previousGather.stats}">1,234 files 10 MB</span>
                </th:block>
            </td>
            <td><a th:href="@{/instances/{id}/process(id=${instance.id},worktray=${alias})}" class="btn btn-primary">Process</a></td>
        </tr>
        </tbody>
    </table>

    <div th:replace="worktrays/_worktrays :: pagination(${gatheredInstances})">
    </div>
</main>