<!doctype html>
<html lang=en xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Monitored Titles - PANDAS</title>
    <link rel="stylesheet" href="../../static/assets/Global.css" th:href="@{/assets/Global.css}">
    <script src="../../static/assets/Global.js" th:src="@{/assets/Global.js}" defer></script>
</head>
<body>
<nav th:replace="~{_layout.html :: sidebar (activeItem='Worktrays')}"></nav>
<main>
    <header th:replace="~{worktrays/_worktrays.html :: header('/worktrays/{alias}/monitored')}">
    </header>

    <nav class="breadcrumb">
        <ol>
             <li><a th:href="@{/worktrays/{alias}(alias=${alias})}" style="font-weight: bold">Worktrays</a></li>
            <li class="active">Monitored Titles (<span th:text="${monitoredTitles.totalElements}"></span>)</li>
        </ol>
    </nav>

    <table th:fragment="table" class="worktray-table">
        <thead>
        <tr>
            <th>Registered</th>
            <th align=left>Title</th>
            <th>Owner</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="title: ${monitoredTitles}">
            <td align="center"><time th:text="${dateFormat.format(title.regDate)}">04/02/2021</time></td>
            <td>
                <a th:text="${title.name}" th:href="${@link.to(title)}" style="font-weight: bold">Example title</a>
                <a th:href="${title.titleUrl}" th:text="${@format.site(title.titleUrl)}" class="live-url">example.com</a>
            </td>
            <td><a th:if="${title.owner}" th:text="${title.owner.userid}" th:href="${@link.to(title.owner)}">jsmith</a></td>
            <td class="worktray-table--actions">
                <a title="Accept" th:href="${@link.editStatus(title, 'SELECTED')}">
                    <svg class="lucide-icon"><use th:href="@{/assets/lucide.svg#check}"/></svg>
                </a>
                <a title="Reject" th:href="${@link.editStatus(title, 'REJECTED')}">
                    <svg class="lucide-icon"><use th:href="@{/assets/lucide.svg#x}"/></svg>
                </a>
                <a title="Transfer" th:href="${@link.transfer(title)}">
                    <svg class="lucide-icon"><use th:href="@{/assets/lucide.svg#forward}"/></svg>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <div th:replace="~{worktrays/_worktrays :: pagination(${monitoredTitles})}">
    </div>
</main>