<!doctype html>
<html lang=en xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nominated Titles - PANDAS</title>
    <link rel="stylesheet" href="../../static/assets/Global.css" th:href="@{/assets/Global.css}">
    <script src="../../static/assets/Global.js" th:src="@{/assets/Global.js}" defer></script>
</head>
<body>
<nav th:replace="~{_layout.html :: sidebar (activeItem='Worktrays')}"></nav>
<main>
    <header th:replace="~{worktrays/_worktrays.html :: header('/worktrays/{alias}/nominated')}">
    </header>

    <nav class="breadcrumb">
        <ol>
             <li><a th:href="@{/worktrays/{alias}(alias=${alias})}" style="font-weight: bold">Worktrays</a></li>
            <li class="active">Nominated Titles (<span th:text="${nominatedTitles.totalElements}"></span>)</li>
        </ol>
    </nav>

    <table th:fragment="table">
        <thead>
        <tr>
            <th>Registered</th>
            <th align=left>Title</th>
            <th>Nominator</th>
            <th>Owner</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="title: ${nominatedTitles}">
            <td align="center"><time th:text="${dateFormat.format(title.regDate)}">04/02/2021</time></td>
            <td>
                <a th:text="${title.name}" th:href="${@link.to(title)}">Example title</a><br>
                <a th:href="${title.titleUrl}" th:text="${#strings.abbreviate(title.titleUrl.replaceFirst('^https?://(www\\.)?', ''), 80)}" class="live-url">example.com</a>
            </td>
            <td><a th:if="${title.nominator}" th:text="${title.nominator.userid}" th:href="${@link.to(title.nominator)}">jsmith</a></td>
            <td><a th:if="${title.owner}" th:text="${title.owner.userid}" th:href="${@link.to(title.owner)}">jsmith</a></td>
            <td>
                <a th:href="@{/titles/{id}/edit(id=${title.id},setStatus='SELECTED')}" class="btn btn-compact">Accept</a>
                <a th:href="@{/titles/{id}/edit(id=${title.id},setStatus='REJECTED')}" class="btn btn-compact btn-secondary">Reject</a>
                <a th:href="@{/titles/{id}/edit(id=${title.id},setStatus='MONITORED')}" class="btn btn-compact btn-secondary">Monitor</a>
                <a th:href="@{/titles/{id}/transfer(id=${title.id})}" class="btn btn-compact btn-secondary">Transfer</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div th:replace="~{worktrays/_worktrays :: pagination(${nominatedTitles})}">
    </div>
</main>