<!doctype html>
<html lang=en xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Permission requested titles - PANDAS</title>
    <link rel="stylesheet" href="../../static/assets/Global.css" th:href="@{/assets/Global.css}">
    <script src="../../static/assets/Global.js" th:src="@{/assets/Global.js}" defer></script>
</head>
<body>
<nav th:replace="~{_layout.html :: sidebar (activeItem='Worktrays')}"></nav>
<main>
    <header th:replace="~{worktrays/_worktrays.html :: header('/worktrays/{alias}/permissino-requested')}">
    </header>

    <nav class="breadcrumb">
        <ol>
             <li><a th:href="@{/worktrays/{alias}(alias=${alias})}" style="font-weight: bold">Worktrays</a></li>
            <li class="active">Permission requested titles  (<span th:text="${permissionRequestedTitles.totalElements}"></span>)</li>
        </ol>
    </nav>

    <table th:fragment="table" class="worktray-table">
        <thead>
        <tr>
            <th>Last Contact</th>
            <th align=left>Title</th>
            <th>Owner</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="title: ${permissionRequestedTitles}">
            <td align="center"><time th:if="${title.lastContactDate}" th:text="${dateFormat.format(title.lastContactDate)}">04/02/2021</time></td>
            <td>
                <a th:text="${title.name}" th:href="${@link.to(title)}" style="font-weight: bold">Example title</a>
                <a th:href="${title.titleUrl}" th:text="${@format.site(title.titleUrl)}" class="live-url">example.com</a>
            </td>
            <td><a th:if="${title.owner}" th:text="${title.owner.userid}" th:href="${@link.to(title.owner)}">jsmith</a></td>
            <td class="worktray-table--actions">
                <a class="btn btn-action" th:href="@{/titles/{titleId}/contact-events/new(type=3,titleId=${title.id})}">
                    Send reminder
                </a>
                <a class="btn btn-action" th:href="${@link.edit(title) + '#permission'}">
                    Set permission
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <div th:replace="~{worktrays/_worktrays :: pagination(${permissionRequestedTitles})}">
    </div>
</main>