<!doctype html>
<html lang=en xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Titles Awaiting Scheduling - PANDAS</title>
    <link rel="stylesheet" href="../../static/assets/Global.css" th:href="@{/assets/Global.css}">
    <script src="../../static/assets/Global.js" th:src="@{/assets/Global.js}" defer></script>
</head>
<body>
<nav th:replace="~{_layout.html :: sidebar (activeItem='Worktrays')}"></nav>
<main>
    <header th:replace="~{worktrays/_worktrays.html :: header('/worktrays/{alias}/scheduling')}">
    </header>

    <nav class="breadcrumb">
        <ol>
             <li><a th:href="@{/worktrays/{alias}(alias=${alias})}" style="font-weight: bold">Worktrays</a></li>
            <li class="active">Titles Awaiting Scheduling (<span th:text="${awaitingSchedulingTitles.totalElements}"></span>)</li>
        </ol>
    </nav>

    <table th:fragment="table" class="worktray-table">
        <thead>
        <tr>
            <th>Perm. Granted</th>
            <th align=left>Title</th>
            <th>Owner</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="title: ${awaitingSchedulingTitles}">
            <td align="center"><time th:if="${title.permission?.statusSetDate}" th:text="${dateFormat.format(title.permission.statusSetDate)}">04/02/2021</time></td>
            <td>
                <a th:text="${title.name}" th:href="${@link.to(title)}" style="font-weight: bold">Example title</a>
                <a th:href="${title.titleUrl}" th:text="${@format.site(title.titleUrl)}" class="live-url">example.com</a>
            </td>
            <td><a th:if="${title.owner}" th:text="${title.owner.userid}" th:href="${@link.to(title.owner)}">jsmith</a></td>
            <td><a class="btn btn-action" th:href="${@link.edit(title) + '#gather'}">Schedule</a></td>
        </tr>
        </tbody>
    </table>

    <div th:replace="~{worktrays/_worktrays :: pagination(${awaitingSchedulingTitles})}">
    </div>
</main>