<!doctype html>
<html lang=en xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Instances For Upload - PANDAS</title>
    <link rel="stylesheet" href="../../static/assets/Global.css" th:href="@{/assets/Global.css}">
    <script src="../../static/assets/Global.js" th:src="@{/assets/Global.js}" defer></script>
</head>
<body>
<nav th:replace="~{_layout.html :: sidebar (activeItem='Worktrays')}"></nav>
<main>
    <header th:replace="~{worktrays/_worktrays.html :: header('/worktrays/{alias}/upload')}">
    </header>

    <nav class="breadcrumb">
        <ol>
             <li><a th:href="@{/worktrays/{alias}(alias=${alias})}" style="font-weight: bold">Worktrays</a></li>
            <li class="active">Instances For Upload (<span th:text="${instancesForUpload.totalElements}"></span>)</li>
        </ol>
    </nav>

    <table th:fragment="table">
        <thead>
        <tr>
            <th>Site</th>
            <th>To Upload</th>
            <th>PI</th>
            <th align=left>Title</th>
            <th>Archived Site</th>
            <th>Owner</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="instance: ${instancesForUpload}">
            <td align="center"><a th:href="${instance.title.titleUrl}"><i class="icon globe"></i></a></td>
            <td align="center"><time th:text="${dateTimeFormat.format(instance.date)}">12:43:00</time></td>
            <td align="right" th:text="${instance.title.pi ?: instance.title.id}">12345</td>
            <td><a th:text="${instance.title.name}" th:href="${@link.to(instance.title)}">Example title</a></td>
            <td><a href="#workingAreaUrl"><i class="icon globe"></i></a></td>
            <td><a th:if="${instance.title.owner}" th:text="${instance.title.owner.userid}" th:href="${@link.to(instance.title.owner)}">jsmith</a></td>
            <td><a th:href="${@link.to(instance)}">Upload</a></td>
        </tr>
        </tbody>
    </table>

    <div th:replace="~{worktrays/_worktrays :: pagination(${instancesForUpload})}">
    </div>
</main>