/* PANDAS 4 Stylesheet */

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: sans-serif;
    min-height: 100%;
}

a {
    text-decoration: none;
    color: #2e61d7;
}

a:hover {
    color: #2248a1;
    text-decoration: underline;
}

h1, h2 {
    font-weight: 400;
}

input[type=search][name=q] {
    width: 300px;
    background: #fff url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path fill="grey" d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>') no-repeat scroll 7px 6px;
    padding-left: 32px;
    height: 36px;
    border: 1px solid #333;
    border-radius: .5rem;
    box-sizing: border-box;
}

details > summary {
    cursor: pointer;
}

/*
 * Sidebar
 */

body > nav {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 180px;
    background-color: #f5f5f5;
    padding: 0;
    border-right: 1px solid #ddd;
}

/* brand link */
body > nav > header a { 
    background-color: #011f85;
    width: 180px;
    height: 40px;
    display: block;
    color: #fff;
    padding-top: 10px;
    padding-left: 0px;
    font-size: 1.5rem;
    text-shadow: 0 0 16px #fff;
    text-align: center;
}

body > nav > header a:hover {
    text-decoration: none;
    color: #fff;
}

/* nav menu */
body > nav > ul {
    list-style: none;
    padding: 0;
}

body > nav > ul > li > a {
    padding-left: 1rem;
    color: #333;
    height: 30px;
    display: flex;
    align-items: center;
}

body > nav > ul > li > a.active {
    background: #ddd;
    font-weight: bold;
}

body > nav > ul > li > a:hover {
    background: #eee;
    text-decoration: none;
}

body > nav > ul > li > a > .icon {
    margin-right: 8px;
}

/*
 * Main
 */

body > main {
    flex-grow: 1;
    padding: 0 15px;
    padding-left: 196px;
    margin-top: 58px;
    /*max-width: 1200px;*/
}

body > main > header, main > form > header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
    background: #010066 url("https://pandas.nla.gov.au/images/galaxy90.jpg") no-repeat;
    background-position-x: -100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
    height: 50px;
    padding: 0px 15px;
    padding-left: 196px;
    /*max-width: 1200px;*/
    box-sizing: border-box;
}

/*
 * Buttons
 */

.btn, button {
    border-radius: .2rem;
    padding: 0 15px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    background-color: #4164b5;
    border: 1px solid #333;
    background-image: linear-gradient(#6f97e1, #4164b5);
    vertical-align: middle;
    height: 36px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 64px;
    box-sizing: border-box;
    /*font-size: inherit;*/
    /*font-size: 18px;*/
}

.btn .icon, button .icon {
    margin-left: -4px;
    margin-right: 4px;
    filter: invert(100%);
}

.btn .icon-right, button .icon-right {
    margin-left: 4px;
    margin-right: -4px
}

button:disabled .icon {
    filter: invert(100%) brightness(66%);
}

a.btn:hover, button:hover:enabled {
    background-image: linear-gradient(#6f97e1, #6f97e1);
    color: #fff;
    text-decoration: none;
}

.btn-secondary {
    background: linear-gradient(#eee, #bbb);
    color: black;
}

a.btn-secondary:hover, button.btn-secondary:hover:enabled {
    background: linear-gradient(#eee, #eee);
    color: black;
}
.btn-secondary .icon {
    filter: none;
}

.btn-secondary:disabled {
    color: #888;
    background: #eee;
}

.btn-danger {
    background: linear-gradient(#c55, #933);
    color: white;
}

button.btn-danger:hover, a.btn-danger:hover {
    background: linear-gradient(#c55, #c55);
    color: white;
}

/*
 * Badges
 */

.title-count, .collection-count {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: bold;
    white-space: nowrap;
    border-radius: .25rem;
}

.title-count {
    color: #212529;
    background-color: #f8f9fa;
}

.collection-count {
    color: #fff;
    background-color: #17a2b8;
}

/*
 * Icons
 */

.icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
}

/* based on https://material.io/icons */
.icon.add        { background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>'); }
.icon.archive    { background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20.54 5.23l-1.39-1.68C18.88 3.21 18.47 3 18 3H6c-.47 0-.88.21-1.16.55L3.46 5.23C3.17 5.57 3 6.02 3 6.5V19c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6.5c0-.48-.17-.93-.46-1.27zM12 17.5L6.5 12H10v-2h4v2h3.5L12 17.5zM5.12 5l.81-1h12l.94 1H5.12z"/></svg>'); }
.icon.back       { background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/></svg>'); }
.icon.cancel     { background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/></svg>'); }
.icon.collection { background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20 2H4C3 2 2 2.9 2 4v3C2 7.7 2.4 8.4 3 8.7V20c0 1.1 1.1 2 2 2h14c0.9 0 2-0.9 2-2V8.7c0.6-0.3 1-1 1-1.7V4C22 2.9 21 2 20 2zM19 20H5V9h14V20zM20 7H4V4h16V7z"/></svg>'); }
.icon.delete     { background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M16 9v10H8V9h8m-1.5-6h-5l-1 1H5v2h14V4h-3.5l-1-1zM18 7H6v12c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7z"/></svg>'); }
.icon.edit       { background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM5.92 19H5v-.92l9.06-9.06.92.92L5.92 19zM20.71 5.63l-2.34-2.34c-.2-.2-.45-.29-.71-.29s-.51.1-.7.29l-1.83 1.83 3.75 3.75 1.83-1.83c.39-.39.39-1.02 0-1.41z"/></svg>'); }
.icon.history    { background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13 3c-4.97 0-9 4.03-9 9H1l3.89 3.89.07.14L9 12H6c0-3.87 3.13-7 7-7s7 3.13 7 7-3.13 7-7 7c-1.93 0-3.68-.79-4.94-2.06l-1.42 1.42C8.27 19.99 10.51 21 13 21c4.97 0 9-4.03 9-9s-4.03-9-9-9zm-1 5v5l4.28 2.54.72-1.21-3.5-2.08V8H12z"/></svg>'); }
.icon.next       { background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>'); }
.icon.previous   { background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/></svg>'); }
.icon.publisher  { background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 12c1.65 0 3-1.35 3-3s-1.35-3-3-3-3 1.35-3 3 1.35 3 3 3zm0-4c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1zm6 8.58c0-2.5-3.97-3.58-6-3.58s-6 1.08-6 3.58V18h12v-1.42zM8.48 16c.74-.51 2.23-1 3.52-1s2.78.49 3.52 1H8.48zM19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V5h14v14z"/></svg>'); }
.icon.save       { background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></svg>'); }
.icon.stop       { background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M6 6h12v12H6z"/></svg>'); }
.icon.subject    { background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.41,11.41l-8.83-8.83C12.21,2.21,11.7,2,11.17,2H4C2.9,2,2,2.9,2,4v7.17c0,0.53,0.21,1.04,0.59,1.41l8.83,8.83 c0.78,0.78,2.05,0.78,2.83,0l7.17-7.17C22.2,13.46,22.2,12.2,21.41,11.41z M12.83,20L4,11.17V4h7.17L20,12.83L12.83,20z"/><circle cx="6.5" cy="6.5" r="1.5"/></svg>'); }
.icon.title      { background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18 2H6c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zM9 4h2v5l-1-.75L9 9V4zm9 16H6V4h1v9l3-2.25L13 13V4h5v16z"/></svg>'); }

/*
 * Breadcrumb
 */

.breadcrumb {
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
    margin-top: 0px;
    margin-bottom: 8px;
}

.breadcrumb ol {
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: inline;
}

.breadcrumb li {
    display: inline;
}

.breadcrumb li + li::before {
    content: '/ ';
    padding: 0 0.3rem; 
    color: #888;
    font-size: 120%;
    line-height: 80%;
    font-weight: normal;
}

.breadcrumb li.active a {
    color: #000;
}

/*
 * Forms
 */

.form input:not([type]), .form textarea, .form select {
    width: 100%;
    box-sizing: border-box;
}

/**
 * Tables
 */

table.history-table {
    border-collapse: collapse;
}

.history-table td:first-child, .history-table th:first-child {
    text-align: right;
}

.history-table td, .history-table th {
    border: solid 1px #ddd;
    padding: 6px;
    text-align: left;
}

/**
 * Subject and Collection lisst
 */

ul.subject-list, ul.collection-list {
    display: inline;
    list-style: none;
    padding: 0;
}

ul.subject-list li, ul.collection-list li {
    display: inline;
}

ul.subject-list a {
    color: teal;
}

ul.collection-list a {
    color: saddlebrown;
}

ul.subject-list li + li:before, ul.collection-list li + li:before {
    content: " · ";
}

/**
 * Collection list
 */

ul.subject-list {
    display: inline;
    list-style: none;
    padding: 0;
}

ul.subject-list li {
    display: inline;
}

ul.subject-list a {
    color: teal;
}

ul.subject-list li + li:before {
    content: " · ";
}

/**
 * Title Card
 */

.title-card {
    margin: 1rem 0;
    display: flex;
}

.title-card > a > img {
    width: 100px;
    height: 75px;
    margin-right: 12px;
    flex-shrink: 0;
    transition: width 0.25s, height 0.25s;
}

.title-card > a > img:hover {
    width: 200px;
    height: 150px;
    transition: width 0.25s, height 0.25s;
}

.title-card > div > header > nav {
    display: inline;
    font-size: 60%;
}

.title-card > div > div {
    font-size: 80%;
}

.title-card > div > footer {
    font-size: 80%;
    color: #888;
}

.live-url {
    color: darkgreen;
}

.regdate {
    font-weight: bold;
}

.status, .schedule, .method {
    font-variant: small-caps;
}

.status-selected, .status-permission-granted { color: #1c7430; }
.status-rejected { color: darkred; }
.status-permission-impossible, .status-permission-denied { color: midnightblue; }