.post {
    border: 1px solid var(--color-border);
    background: var(--color-surface-raised);
    border-radius: 8px;
    padding: 16px 16px;
    max-width: 600px;
    box-sizing: border-box;
    margin: 16px 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.post > header {
    display: flex;
    gap: 8px;
}

.post > header {
    display: flex;
    margin-bottom: 8px;
}

/* Post Author Avatar */
.post > header > img {
    width: 48px;
    height: 48px;
}

/* Post Author column */
.post > header > address {
    font-style: normal;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* Post Author Username */
.post > header > address > span {
    color: var(--color-text-muted);
}

/* Post Date and Stats */
.post > header > div {
    text-align: right;
}

.post-stats {
    display: flex;
    color: var(--color-text-subtle);
    justify-content: flex-end;
    gap: 8px;
    font-size: 0.8em;
    margin-top: 1px;
}

.post-original-link {
    font-size: 0.8em;
    vertical-align: top;
}

a.post-original-link:hover {
    text-decoration: none;
    color: var(--color-link-hover);
}

/* Post Creation Date Link */
.post > header a {
    color: var(--color-text-muted);
    text-decoration: none;
}

.post > header a:hover {
    text-decoration: underline;
}

/* Post body text */
.post > section[itemprop="articleBody"] {
    white-space: pre-wrap;
}

.post > footer {
    border-top: 1px solid var(--color-border);
    margin-top: 8px;
    padding-top: 8px;
    color: var(--color-text-muted);
    display: flex;
    gap: 16px;
    cursor: default;
}