
ul.subject-list {
    display: inline;
    list-style: none;
    padding: 0;
}

ul.subject-list li {
    display: inline;
}

ul.subject-list a {
    color: teal;
}

ul.subject-list li + li:before {
    content: " · ";
}


.search {
    display: grid;
    grid-template-areas: "header header" "results facets";
    grid-template-columns: 1fr 300px;
    grid-template-rows: auto 1fr;
}

.search > .header {
    grid-area: header;
}

.results {
    grid-area: results;
}

.results > header {
    color: #999;
}

.results > ol {
    list-style: none;
    padding: 0;
}

.results > ol > li {
    margin: 1rem 0;
    display: flex;
}

.results > ol > li > a > img {
    width: 100px;
    height: 75px;
    margin-right: 12px;
    flex-shrink: 0;
    transition: width 0.25s, height 0.25s;
}

.results > ol > li > a > img:hover {
    width: 200px;
    height: 150px;
    transition: width 0.25s, height 0.25s;
}

.results > ol > li > div > header > nav {
    display: inline;
    font-size: 60%;
}

.results > ol > li > div > div {
    font-size: 80%;
}

.results > ol > li > div > footer {
    font-size: 80%;
    color: #888;
}

.live-url {
    color: darkgreen;
}

.regdate {
    font-weight: bold;
}

.status, .schedule, .method {
    font-variant: small-caps;
}

.status-selected, .status-permission-granted { color: #1c7430; }
.status-rejected { color: darkred; }
.status-permission-impossible, .status-permission-denied { color: midnightblue; }

/*
 * Filters
 */

.facets {
    grid-area: facets;
}

.facets h3 {
    margin: 8px 8px;
}

.facets > header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.facets > details {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding: 0;
}

.facets > details > summary {
    padding: .5rem;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
}

.facets > details > summary > input {
    float: right;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    padding: 0 0.4rem;
    width: 150px;
    transition: visibility 0.2s, opacity 0.2s;
    visibility: hidden;
    opacity: 0;
    margin: -1px;
    margin-left: 8px;
}

.facets > details > summary:after {
    content: "";
    display: block;
    clear: both;
}

.facets > details[open] > summary {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.facets > details[open] > summary > input {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.2s;
}

.facets > details > fieldset {
    padding: 0.5rem;
    overflow-y: auto;
    max-height: 200px;
    margin: 0;
    border: 0;
}

.facets > details > fieldset > label {
    display: block;
}

.facets > details > fieldset.date-range {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: auto auto;
    align-items: center;
}

.facets input[type=date] {
    /*@extend .form-control;*/
}