<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>PANDAS</title>
    <link rel="stylesheet" href="../static/assets/Global.css" th:href="@{/assets/Global.css}">
    <script src="../static/assets/Global.js" th:src="@{/assets/Global.js}" defer></script>
</head>
<body>

<!--<header th:fragment="header">-->
<!--    <a href="/">PANDAS 4</a>-->
<!--    <form th:action="@{/titles}"><input name="q" placeholder="Search titles..."></form>-->
<!--</header>-->

<nav th:fragment="sidebar">
    <header>
        <a href="/">PANDAS 4</a>
    </header>
    <ul>
        <li><a href="/"><i class="icon back"></i> To PANDAS 3</a></li>
    </ul>
    <ul>
        <li><a th:href="@{/}" data-keybind=1 th:classappend="${#request.servletPath.matches('/$|/worktrays/.*')}? 'active'"
               href=worktrays/Worktrays.html>
            <i class="icon worktrays"></i>
            Worktrays</a>
        <li><a th:href="@{/titles}" data-keybind=2 th:classappend="${#request.servletPath.matches('/titles($|/.*)')}? 'active'"
               href=TitleSearch.html>
            <i class="icon title"></i>
            Titles</a>
        <li><a th:href="@{/collections}" data-keybind=3
               th:class="''"
               th:classappend="${#request.servletPath.matches('/collections($|/.*)')}? 'active'"
               class="active"
               href=CollectionSearch.html>
        <i class="icon collection"></i>
<!--            <i class="icon collection"></i>-->
            Collections</a>
        <li><a th:href="@{/subjects}" data-keybind=4
               th:classappend="${#request.servletPath.matches('/subjects($|/.*)')}? 'active'"
               href=SubjectList.html>
            <i class="icon subject"></i>
            Subjects</a>
        <li><a th:href="@{/publishers}" data-keybind=5
               th:classappend="${#request.servletPath.matches('/publishers($|/.*)')}? 'active'"
               href=PublisherSearch.html>
            <i class="icon publisher"></i>
            Publishers</a></li>
        <li><a th:href="@{/pages}" data-keybind=6
               th:classappend="${#request.servletPath.matches('/pages($|/.*)')}? 'active'"
               href=PageSearch.html>
            <i class="icon http"></i>
            Pages</a></li>
        <li><a th:href="@{/discoveries}" data-keybind=7 href=discovery/DiscoverySearch.html
               th:classappend="${#request.servletPath.matches('/discoveries($|/.*)')}? 'active'">
            <i class="icon discovery"></i> Discover</a></li>
    </ul>

    <ul>
        <li sec:authorize="hasAuthority('PRIV_VIEW_GATHER_QUEUE')"><a th:href="@{/queue}" th:classappend="${#request.servletPath.matches('/queue')}? 'active'">Gather Queue</a>
        <li><a th:href="@{/marcexport}">MARC Export</a>
    </ul>

    <!-- Gather option administration -->
    <ul sec:authorize="hasAuthority('PRIV_ADMIN_GATHER_OPTIONS')">
        <li><a th:href="@{/profiles}">Gather Profiles</a>
        <li><a th:href="@{/schedules}">Gather Schedules</a>
        <li><a th:href="@{/gather/filterpresets}">Filter Presets</a>
    </ul>
    <ul>
        <li style="padding-left: 1rem; color: #999">User: <span sec:authentication="name">jsmith</span></li>
        <li><a th:href="@{/logout}">Sign Out</a></li>
        <li><a sec:authorize="hasAuthority('PRIV_SUDO')" th:href="@{/sudo?role=stduser}">Become stduser</a></li>
        <li><a sec:authorize="hasAuthority('PRIV_SUDO')" th:href="@{/sudo?role=agadmin}">Become agadmin</a></li>
    </ul>
</nav>

<main>
    <header>
        <button class="btn btn-primary">Placeholder Button</button>
        <input name="q" placeholder="Search Titles">
    </header>
    An example sentence.
</main>

</body>
</html>

