<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <title>PANDAS</title>
    <link rel="stylesheet" href="../static/assets/Global.css" th:href="@{/assets/Global.css}">
    <script src="../static/assets/Global.js" th:src="@{/assets/Global.js}" defer></script>
</head>
<body>

<!--<header th:fragment="header">-->
<!--    <a href="/">PANDAS 4</a>-->
<!--    <form th:action="@{/titles}"><input name="q" placeholder="Search titles..."></form>-->
<!--</header>-->

<nav th:fragment="sidebar">
    <script th:if="${@environment.acceptsProfiles('dev')}" src="http://localhost:35729/livereload.js"></script>
    <header>
        <a th:href="@{/}">Web Archive</a>
    </header>
    <ul sec:authorize="hasRole('stduser')">
        <li><a href="/"><i class="icon back"></i> To PANDAS 3</a></li>
    </ul>
    <ul>
        <li sec:authorize="hasAuthority('PRIV_SELECT_TITLES')">
            <a th:href="@{/worktrays}"
               th:classappend="${activeItem == 'Worktrays'}? 'active'"
               href=worktrays/All.html>
            <i class="icon worktrays"></i>
            Worktrays</a>
        <li sec:authorize="hasAuthority('PRIV_SELECT_TITLES')"><a
                th:href="@{/worktrays/gathered}"
                th:classappend="${activeItem == 'QA'}? 'active'"
                href=worktrays/Gathered.html>
            <i class="icon fact_check"></i>
            QA
            <th:block th:with="count = ${@instanceRepository.countGatheredWorktray(@userService.currentUser.id)}">
                <span style="margin-left: auto" th:if="${count > 0}" class="instance-count" th:text="${count}"></span>
            </th:block>
        </a>
        <li><a th:href="@{/titles}" th:classappend="${activeItem == 'Titles'}? 'active'"
               href=TitleSearch.html>
            <i class="icon title"></i>
            Titles</a>
        <li><a th:href="@{/collections}"
               th:class="''"
               th:classappend="${activeItem == 'Collections'}? 'active'"
               class="active"
               href=CollectionSearch.html>
            <i class="icon collection"></i>
            <!--            <i class="icon collection"></i>-->
            Collections</a>
        <li><a th:href="@{/subjects}"
               th:classappend="${activeItem == 'Subjects'}? 'active'"
               href=SubjectList.html>
            <i class="icon subject"></i>
            Subjects</a>
        <li><a sec:authorize="hasRole('stduser')" th:href="@{/publishers}"
               th:classappend="${activeItem == 'Publishers'}? 'active'"
               href=PublisherSearch.html>
            <i class="icon publisher"></i>
            Publishers</a></li>
        <li sec:authorize="hasRole('stduser')"><a th:href="@{/pages}"
                                                   th:classappend="${activeItem == 'Pages'}? 'active'"
                                                   href=PageSearch.html>
            <i class="icon http"></i>
            Pages</a></li>
        <li sec:authorize="hasRole('panadmin')"><a th:href="@{/discoveries}" href=discovery/DiscoverySearch.html
                                                   th:classappend="${activeItem == 'Discover'}? 'active'">
            <i class="icon discovery"></i> Discover</a></li>
        <li sec:authorize="hasRole('panadmin')"><a th:href="@{/social}" href=discovery/SocialTargetList.html
                                                   th:classappend="${activeItem == 'Social'}? 'active'">
            <i class="icon forum"></i> Social</a></li>
    </ul>

    <ul>
        <li sec:authorize="hasAuthority('PRIV_VIEW_GATHER_QUEUE')"><a th:href="@{/queue}" th:classappend="${activeItem == 'Gather Queue'}? 'active'">Gather Queue</a>
        <li><a th:href="@{/statistics}">Statistics</a>
        <li sec:authorize="hasRole('stduser')"><a th:href="@{/marcexport}">MARC Export</a>
        <li sec:authorize="hasRole('stduser')"><a th:href="@{/agencies}">Agencies</a>
        <li sec:authorize="hasRole('stduser')"><a href="https://wr.archive.org.au/api/v1/auth/oidc">Webrecorder</a>
    </ul>

    <!-- Gather option administration -->
    <ul sec:authorize="hasAuthority('PRIV_ADMIN_GATHER_OPTIONS')">
        <li><a th:href="@{/settings}">System Settings</a>
    </ul>
    <ul>
        <li style="padding-left: 1rem; color: #999">User: <span sec:authentication="name">jsmith</span></li>
        <li sec:authorize="hasAuthority('IS_MASQUERADING')" style="padding-left: 1rem; color: #999">
            Acting as: <span th:text="${@userService.effectiveRole}"></span>
        </li>
        <li><form th:action="@{/logout}" method=post id=logoutForm></form><a href="#" onclick="document.getElementById('logoutForm').submit()">Sign Out</a></li>
        <li><a sec:authorize="hasAuthority('PRIV_SUDO')" th:href="@{/sudo?role=infouser}">Become infouser</a></li>
        <li><a sec:authorize="hasAuthority('PRIV_SUDO')" th:href="@{/sudo?role=stduser}">Become stduser</a></li>
        <li><a sec:authorize="hasAuthority('PRIV_SUDO')" th:href="@{/sudo?role=agadmin}">Become agadmin</a></li>
    </ul>
</nav>

<main>
    <header>
        <button class="btn btn-primary">Placeholder Button</button>
        <input name="q" placeholder="Search Titles">
    </header>
    An example sentence.
</main>

</body>
</html>

