<!doctype html>
<html lang=en xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="|${collection.fullName} - PANDAS|">Television shows (Collection) - PANDAS</title>
    <link rel="stylesheet" href="../static/assets/Global.css" th:href="@{/assets/Global.css}">
    <script src="../static/assets/Global.js" th:src="@{/assets/Global.js}" defer></script>
</head>
<nav th:replace="_layout.html :: sidebar"></nav>
<main>
    <header>
        <nav>
            <a th:href="@{/collections/{id}/edit(id=${collection.id})}" href="CollectionEdit.html" class="btn btn-primary" data-keybind="e"><i class="icon edit"></i> Edit collection</a>
            <a th:href="@{/titles/new(collection=${collection.id})}" href="TitleEdit.html" class="btn btn-secondary"
               data-keybind="t" th:unless="${collection.ancestorClosed}"><i class="icon title"></i> Add a website</a>
            <a th:href="@{/collections/new(parent=${collection.id})}" href="CollectionEdit.html" class="btn btn-secondary" data-keybind="c"><i class="icon collection"></i>
                <th:block th:text="'Create a sub' + ${collection.depthPrefix} + 'collection'"></th:block></a>
        </nav>
    </header>

    <nav class=breadcrumb>
        <ol>
            <li style="font-weight: bold"><a th:href="@{/collections}"
                                                                   href="CollectionSearch.html">Collections</a></li>
            <li th:each="breadcrumb: ${collection.collectionBreadcrumbs}">
                <a th:href="@{/collections/{id}(id=${breadcrumb.id})}" th:text="${breadcrumb.name}" href="CollectionView.html">Australian
                    Broadcasting Corporation (ABC)</a>
                <strong th:if="${breadcrumb.closed}">(Closed)</strong>
            </li>
            <li class="active"><th:block th:text="${collection.name}">Television shows</th:block>
                <span th:if="${collection.timeFrame != null}" th:text="'(' + ${collection.timeFrame} + ')'" class="time-frame"/>
                <strong th:if="${collection.closed}">(Closed)</strong>
            </li>
        </ol>
    </nav>

    <table th:if="${collection != null}" style="color: #666; font-size: 80%; float: right">
        <tr th:if="${collection.createdDate != null}">
            <td align=right>Created:</td>
            <td>
                <time th:datetime="${collection.createdDate}"
                      th:text="${@dateFormats.shortDate.format(collection.createdDate)}">14/5/2021
                </time>
                (<span th:text="${collection.createdBy?.userid}"></span>)
            </td>
        </tr>
        <tr th:if="${collection.lastModifiedDate != null && collection.lastModifiedDate != collection.createdDate}">
            <td align=right>Modified:</td>
            <td>
                <time th:datetime="${collection.lastModifiedDate}"
                      th:text="${@dateFormats.shortDate.format(collection.lastModifiedDate)}">14/5/2021
                </time>
                (<span th:text="${collection.lastModifiedBy?.userid}"></span>)
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top">Archived:</td>
            <td>
                <span th:text="${stats.line1()}"></span><br>
                <span th:text="${stats.line2()}"></span><br>
            </td>
        </tr>
    </table>

    <section class="card card-body">
        <table th:unless="${collection.subjects.isEmpty()}" class="table table-responsive table-borderless table-sm">
            <tr>
                <th>Subjects:</th>
                <td>
                    <ul class="subject-list" th:remove="all-but-first">
                        <li th:each="subject: ${collection.subjects}">
                            <a th:href="@{/subjects/{id}(id=${subject.id})}" th:text="${subject.name}"
                               href="SubjectView.html">Arts</a>
                        </li>
                        <li><a href="#">Media</a></li>
                        <li><a href="#">Politics</a></li>
                        <li><a href="#">Sport</a></li>
                    </ul>
                </td>
            </tr>
            <tr th:if="${collection.gatherSchedule != null && !collection.gatherSchedule.isNone()}">
                <th>Gather Schedule:</th>
                <td th:text="${collection.gatherSchedule.name}"></td>
            </tr>
        </table>
        <div th:utext="${@htmlSanitizer.sanitize(collection.description)}">This is a description.</div>
    </section>
    <p>

        <section th:unless="${collection.children.isEmpty()}">
            <h5>Subcollections (<th:block th:text="${collection.children.size()}"></th:block>)</h5>
            <ul class="subcategories">
                <li th:each="child: ${collection.children}">
                    <a th:href="@{/collections/{id}(id=${child.id})}" th:text="${child.name}"
                       href="CollectionView.html">Documentaries</a>
                    <span th:if="${child.timeFrame != null}" th:text="'(' + ${child.timeFrame} + ')'" class="time-frame"/>
                    <a class="title-count" th:href="@{/titles(collection=${child.id})}"
                       th:text="${titleCounts.get(child.id)}"
                       href="TitleSearch.html">16</a>
                </li>
            </ul>
        </section>

        <section th:unless="${collection.titles.isEmpty()}">
            <h5><a th:href="@{/titles(collection=${collection.id})}">Titles (<th:block th:text="${collection.titles.size()}"></th:block>)</a></h5>
            <div th:each="title: ${collection.titles}">
                <div th:replace="TitleSearch.html :: title-card(omitCollection=${collection})">
                </div>
            </div>
        </section>
</main>