<!doctype html>
<html lang=en xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${collection == null ? 'New Collection - PANDAS' : 'Edit Collection - PANDAS'}">Edit Collection - PANDAS</title>
    <link rel="stylesheet" href="../static/assets/Global.css" th:href="@{/assets/Global.css}">
    <script src="../static/assets/Global.js" th:src="@{/assets/Global.js}" defer></script>
</head>
<nav th:replace="_layout.html :: sidebar"></nav>
<main>
    <header>
        <nav>
            <button type="submit" data-keybind="s" class="btn btn-primary" form=editForm><i class="icon save"></i>Save</button>
            <button onclick="history.back(); return false" data-keybind="Escape" class="btn btn-secondary"><i class="icon cancel"></i> Cancel</button>
        </nav>
        <button th:if="${collection != null}" type="submit" th:formaction="@{|/collections/${collection.id}/delete|}" class="btn btn-danger float-right" form="editForm"><i class="icon delete"></i>Delete</button>
    </header>
    <form method=post class=form th:object="${form}" id=editForm>
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" th:field="*{name}" required>
        </div>

        <div class="form-group">
            <label for="subjects">Subjects</label>
            <select th:field="*{subjects}" multiple>
                <option th:each="subject: ${allSubjects}" th:value="${subject.id}" th:text="${subject.name}"
                        th:style="'padding-left:' + ${subject.depth * 16 + 10} + 'px'"
                        th:data-fullname="${subject.fullName}">Arts
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="description">Description (optional)</label>
            <div class="hint-text">Shown publicly when browsing the collection. Basic HTML tags allowed.</div>
            <textarea class="form-control" th:field="*{description}" rows="3"></textarea>
        </div>

        <div class="form-group">
            <label for="startDate">Time period (optional)</label>
            <div class="hint-text">For collections about events in time such as election campaigns or the Olympics.</div>
            <div>
                <input type="date" name="startDate"> to <input type="date" name="endDate">
            </div>
        </div>
    </form>
</main>

<link rel=stylesheet th:href="@{/webjars/slim-select/1.24.0/dist/slimselect.css}">
<script th:src="@{/webjars/slim-select/1.24.0/dist/slimselect.js}"></script>
<script>
    new SlimSelect({
        select: '#subjects',
        searchFilter: function (option, search) {
            return option.data['fullname'].toLowerCase().indexOf(search.toLowerCase()) !== -1;
        },
        deselectLabel: "✕"
    });
</script>