<!doctype html>
<html lang=en xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${collection.id == null ? 'New Collection - PANDAS' : 'Edit Collection - PANDAS'}">Edit Collection - PANDAS</title>
    <link rel="stylesheet" href="../static/assets/Global.css" th:href="@{/assets/Global.css}">
    <script src="../static/assets/Global.js" th:src="@{/assets/Global.js}" defer></script>
</head>
<nav th:replace="~{_layout.html :: sidebar (activeItem='Collections')}"></nav>
<main>
    <header>
        <nav>
            <button type="submit" class="btn btn-primary" form=editForm><i class="icon save"></i>Save</button>
            <button onclick="history.back(); return false" data-keybind="Escape" class="btn btn-secondary"><i class="icon cancel"></i> Cancel</button>
        </nav>
        <button th:if="${collection.id != null}" type="submit" th:formaction="@{|/collections/${collection.id}/delete|}" class="btn btn-danger float-right" form="editForm"><i class="icon delete"></i>Delete</button>
    </header>
    <form method=post class=form th:object="${form}" id=editForm th:action="@{''}">
        <fieldset>
            <label>Name <input class="form-control" th:field="*{name}" required></label>

            <label style="flex-grow: 1">Parent collection
                <select th:field="*{parent}">
                    <option th:if="${form.parent != null}" th:value="${form.parent.id}"
                            th:text="${form.parent.fullName}" selected>Arts
                    </option>
                </select>
            </label>


            <label style="flex-grow: 1">Subjects
                <select th:field="*{subjects}" multiple>
                    <option th:each="subject: ${allSubjects}" th:value="${subject.id}" th:text="${subject.name}"
                            th:style="'padding-left:' + ${subject.depth * 16 + 10} + 'px'"
                            th:data-fullname="${subject.fullName}">Arts
                    </option>
                </select>
            </label>

            <span class="form-group">
                <label for="startMonth">Time frame</label>
                <div class="hint-text">For collections about events in time such as election campaigns or the Olympics. (Optional) </div>
                <div>
                    <!-- unfortunately input[type=month] isn't well-supported by browsers -->
                    <select th:field="*{startMonth}" style="width: auto">
                        <option value="" th:selected="${startMonth == null}"></option>
                        <option th:each="month: ${months}" th:text="${month.key}" th:value="${month.value}" th:selected="${startMonth == month.value}">January</option>
                    </select>
                    <input type=number min=1000 max=2999 th:field="*{startYear}" placeholder=YYYY size=4> to
                    <select th:field="*{endMonth}" style="width: auto">
                        <option value="" th:selected="${endMonth == null}"></option>
                        <option th:each="month: ${months}" th:text="${month.key}" th:value="${month.value}" th:selected="${endMonth == month.value}">January</option>
                    </select>
                    <input type=number min=1000 max=2999 th:field="*{endYear}" placeholder=YYYY size=4>
                </div>
            </span>

            <label>
                <input type="checkbox" th:field="*{closed}"> Closed to new additions
            </label>
        </fieldset>

        <fieldset sec:authorize="hasRole('stduser')">
            <label>Gather schedule
                <div class="hint-text">Applied in addition to any schedules set at the title level. (Optional)</div>
                <select th:field="*{gatherSchedule}">
                    <option th:each="schedule: ${allGatherSchedules}" th:value="${schedule.id}"
                            th:text="${schedule.name}">Weekly
                    </option>
                </select>
            </label>
        </fieldset>
    </form>
</main>

<link rel=stylesheet th:href="@{/webjars/slim-select/1.24.0/dist/slimselect.css}">
<script th:src="@{/webjars/slim-select/1.24.0/dist/slimselect.js}"></script>
<script th:inline="javascript">
    var collectionId = /*[[${collection?.id ?: null}]]*/ null;
    var collectionsEndpoint = /*[[@{/collections.json}]]*/ '../collections.json';
    new SlimSelect({
        select: '#parent',
        hideSelectedOption: true,
        searchFilter: function (option, search) {
            return true; // leave filtering to backend
        },
        ajax: function (search, callback) {
            if (!search) return callback(false);
            fetch(collectionsEndpoint + "?q=" + encodeURIComponent(search) + "&size=100")
                .then(response => response.json())
                .then(results => callback(results.filter(c => c.id !== collectionId)
                    .map(collection => ({value: collection.id, text: collection.fullName}))))
                .catch(error => callback(false));
        },
        allowDeselect: true,
        deselectLabel: "✕"
    });

    new SlimSelect({
        select: '#subjects',
        hideSelectedOption: true,
        searchFilter: function (option, search) {
            return option.data['fullname'].toLowerCase().indexOf(search.toLowerCase()) !== -1;
        },
        deselectLabel: "✕"
    });
</script>