<!doctype html>
<html lang=en xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Contact Event - PANDAS</title>
  <link rel="stylesheet" href="../static/assets/Global.css" th:href="@{/assets/Global.css}">
  <script src="../static/assets/Global.js" th:src="@{/assets/Global.js}" defer></script>
</head>
<nav th:replace="~{_layout.html :: sidebar}"></nav>
<main>
  <header>
    <nav>
      <button type="submit" class="btn btn-primary" form=form><i class="icon save"></i> Save</button>
      <a href="javascript:history.back()" data-keybind="Escape" class="btn btn-secondary"><i class="icon cancel"></i>
        Cancel</a>
    </nav>
    <button th:if="${contactEventId != null}" type="submit"
            th:formaction="@{|/contact-events/${contactEventId}/delete|}"
            class="btn btn-danger float-right" form=form><i class="icon delete"></i> Delete
    </button>
  </header>

  <nav class="breadcrumb">
    <ol th:if="${publisher != null && title == null}">
      <li><a th:href="@{/publishers}" style="font-weight: bold">Publishers</a></li>
      <li><a th:href="${@link.to(publisher)}" th:text="${publisher.name}">My cool publisher</a></li>
      <li class="active">Contact Event</li>
    </ol>
    <ol th:if="${title}">
      <li><a th:href="@{/titles}" style="font-weight: bold">Titles</a></li>
      <li><a th:href="${@link.to(title)}" th:text="${title.name}">My cool title</a></li>
      <li class="active">Contact Event</li>
    </ol>
  </nav>

  <form method=post class=form th:action="@{''}" id=form>
      <fieldset th:object="${form}">
          <div>
              <label>Date <input type="datetime-local" name="date" th:value="*{dateFormatted}" required></label>
          </div>

          <label>
              Contact person
              <select th:field="*{contactPersonId}" onchange="showContactPersonSubform(this)" required>
                  <option value=""></option>
                  <optgroup label="Create new">
                      <option value="" data-subform="newTitleContactSubform" th:if="${title}">Add new title contact</option>
                      <option value="" data-subform="newPublisherContactSubform" th:if="${publisher != null}">Add new publisher contact</option>
                  </optgroup>
                  <optgroup label="Title contacts" th:if="${title != null && !title.contactPeople.isEmpty()}">
                      <option th:each="person: ${title.contactPeople}" th:value="${person.id}"
                              th:text="${person.nameAndFunction}"></option>
                  </optgroup>
                  <optgroup label="Publisher contacts" th:if="${!publisherContacts.isEmpty()}">
                      <option th:each="person: ${publisherContacts}" th:value="${person.id}"
                              th:text="${person.nameAndFunction}"></option>
                  </optgroup>
              </select>
          </label>

          <div id="newTitleContactSubform" style="display:none">
              <th:block th:insert="~{ContactPersonEdit.html :: fieldset('form.newTitleContact')}"></th:block>
          </div>
          <div id="newPublisherContactSubform" style="display:none">
              <th:block th:insert="~{ContactPersonEdit.html :: fieldset('form.newPublisherContact')}"></th:block>
          </div>

          <div>
              <label>Method
                  <select th:field="*{methodId}" required>
                      <option th:each="method : ${contactMethods}"
                              th:value="${method.id}"
                              th:text="${method.name}">Email
                      </option>
                  </select>
              </label>
              <label>Type
                  <select th:field="*{typeId}" required>
                      <option value=""></option>
                      <option th:each="type : ${contactTypes}"
                              th:value="${type.id}"
                              th:text="${type.name}">Initial Contact
                      </option>
                  </select>
              </label>
          </div>

          <label>Notes
              <textarea th:field="*{note}" rows="4" cols="50"></textarea>
          </label>

          <script>
              // Show the correct subform when the contact person is changed
              function showContactPersonSubform(select) {
                  document.querySelectorAll('#newTitleContactSubform, #newPublisherContactSubform').forEach(el => el.style.display = 'none');
                  const subform = select.selectedOptions[0].dataset.subform;
                  if (subform) {
                      document.getElementById(subform).style.display = 'block';
                  }
              }
          </script>
      </fieldset>
  </form>
</main>