<!doctype html>
<html lang=en xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PANDAS</title>
    <link rel="stylesheet" href="../static/assets/Global.css" th:href="@{/assets/Global.css}">
    <script src="../static/assets/Global.js" th:src="@{/assets/Global.js}" defer></script>
</head>
<body>
<nav th:replace="_layout.html :: sidebar"></nav>
<main>
    <header>
        <nav>
            <a th:href="@{/titles/new}" href="TitleEdit.html" class="btn btn-primary" data-keybind="t"><i class="icon title"></i> Add a website</a>
            <a th:href="@{/collections/new}" href="TitleEdit.html" class="btn btn-secondary" data-keybind="t"><i class="icon collection"></i> Create a collection</a>
        </nav>
        <form th:action="@{/titles}">
            <input type=search name="q" placeholder="Search websites" data-keybind="f">
        </form>
    </header>

    <section th:unless="${activityPeriods.isEmpty()}">
        <h2>Recent activity</h2>

        <th:block th:each="period : ${activityPeriods}">
            <h3 th:text="${period.name}">Today</h3>

            <p th:unless="${period.collections.isEmpty()}" th:with="count = ${period.collections.size()}">
                Created <th:block th:text="${count == 1 ? 'a' : count}">3</th:block>
                <th:block th:text="${count == 1 ? 'collection' : 'collections'}">collections</th:block>:
                <ul>
                    <li th:each="collection : ${period.collections}">
                        <a th:href="${@link.to(collection)}" th:text="${collection.fullName}">A collection</a>
                        <a class="title-count" th:href="@{/titles(collection=${collection.id})}"
                           th:text="${collection.titleCount}"
                           href="TitleSearch.html">16</a>
                    </li>
                </ul>
            </p>

            <p th:unless="${period.websites.isEmpty()}" th:with="count = ${period.websites.size()}">
                Added <th:block th:text="${count == 1 ? 'a' : count}">3</th:block>
                <th:block th:text="${count == 1 ? 'website' : 'websites'}">websites</th:block>:
                <ul>
                    <li th:each="title : ${period.websites}">
                        <a th:href="${@link.to(title)}" th:text="${title.name}"></a>
                    </li>
                </ul>
            </p>
        </th:block>
    </section>

    <section th:if="${activityPeriods.isEmpty()}" style="text-align: center; max-width: 500px; margin-top: 50px">
        <img th:src="@{/assets/globe.svg}">
        <h1>Ready to archive some websites?</h1>
        <p>Start by nominating a <a th:href="@{/titles/new}">new site</a>.</p>
    </section>
</main>
