<!doctype html>
<html lang=en xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Filter Preset - PANDAS</title>
    <link rel="stylesheet" href="../static/assets/Global.css" th:href="@{/assets/Global.css}">
    <script src="../static/assets/Global.js" th:src="@{/assets/Global.js}" defer></script>
</head>
<nav th:replace="_layout.html :: sidebar"></nav>
<main>
    <header>
        <nav>
            <button type="submit" class="btn btn-primary" form=form>Save</button>
            <a th:href="@{/gather/filterpresets}" href="javascript:history.back()" class="btn btn-secondary">Cancel</a>
        </nav>
        <button th:if="${preset.id != null}" type="submit"
                th:formaction="@{|/gather/filterpresets/${preset.id}/delete|}"
                class="btn btn-danger float-right" form=form>Delete
        </button>
    </header>
    <h2>Edit Filter Preset</h2>
    <form method=post class=form th:action="@{/gather/filterpresets}" id=form>
        <input type=hidden name=id th:value="${preset.id}">
        <div class="form-group">
            <label for="name">Name:</label>
            <input class="form-control" id="name" name="name" th:value="${preset.name}" required>
        </div>
        <div class="form-group">
            <label for="filters">Filters:</label>
            <textarea class="form-control" id="filters" name="filters" rows="15"
                      th:text="${preset.filters?.replace(' ', '\n') ?: ''}"></textarea>
        </div>
    </form>
</main>