<!doctype html>
<html lang=en xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="${instance.title.name + ' - ' + @dateFormats.dayDateTime.format(instance.date) + ' - PANDAS'}">QA: Some site - PANDAS</title>
    <link rel="stylesheet" href="../static/assets/Global.css" th:href="@{/assets/Global.css}">
    <script src="../static/assets/Global.js" th:src="@{/assets/Global.js}" defer></script>
</head>
<body>
<nav th:replace="_layout.html :: sidebar"></nav>
<main class="full-height">
    <form method=post>
        <header>
            <button sec:authorize="hasPermission(#vars.instance.title, 'edit')" th:if="${instance.canArchive()}"
                    th:formaction="@{|/instances/${instance.id}/archive|}" type=submit class="btn btn-primary"><i
                    class="icon archive"></i> Archive
            </button>
            <button sec:authorize="hasPermission(#vars.instance.title, 'edit')" type="submit" th:formaction="@{|/instances/${instance.id}/delete|}"
                    class="btn btn-danger float-right" onclick="return confirm('Are you certain you wish to delete this instance? This cannot be undone.');"><i class="icon delete"></i>Delete</button>
        </header>
    </form>

    <nav class="breadcrumb">
        <ol>
            <li><a th:href="@{|/titles/${instance.title.id}|}" href="TitleView.html"
                   th:text="${#strings.abbreviate(instance.title.name, 100)}">My cool title</a></li>
            <li><span th:text="${instance.gatherMethodName}"></span> gather from <strong th:text="${@dateFormats.dayDate.format(instance.date)}"></strong> at <strong th:text="${@dateFormats.time.format(instance.date)}"></strong></li>
        </ol>
        <span style="float: right">
            <span th:text="${#numbers.formatInteger(instance.gather.files, 0, 'COMMA')}"></span> files,
            <span th:text="${instance.gather == null || instance.gather.size == null ? '' : T(org.apache.commons.io.FileUtils).byteCountToDisplaySize(instance.gather.size)}"></span>,
            <span th:text="${instance?.gather?.timeHuman}"></span>
        </span>
    </nav>

    <div style="margin-bottom: 4px; display: flex; justify-content: space-between; align-items: center">
        <nav class="btn-group">
            <a class="btn btn-secondary btn-compact" th:href="${@instanceUrls.qa(instance)}" target=replay-frame title="Homepage">
                <i class="icon home"></i></a>
            <a class="btn btn-secondary btn-compact" th:href="${@instanceUrls.crawlLog(instance)}" target=replay-frame  title="Crawl Log">
                <i class="icon log"></i></a>
            <a class="btn btn-secondary btn-compact" th:href="${@instanceUrls.qa(instance, '/robots.txt')}" target=replay-frame title="Robots.txt">
                <i class="icon robot"></i></a>
        </nav>
        <input style="flex-grow: 1; margin-left: 8px;" th:value="${instance.gatheredUrl}">
    </div>

    <script>
        window.addEventListener("message", (event) => {
            console.log(event)
        }, false);
    </script>

    <iframe th:src="${@instanceUrls.qa(instance)}" name="replay-frame"
            style="width: 100%; flex-grow: 1; border: 1px solid #333; box-sizing: border-box; border-radius: .2rem;"></iframe>
</main>