<!doctype html>
<html lang=en xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="${instance.title.name + ' - ' + @dateFormats.dayDateTime.format(instance.date) + ' - PANDAS'}">QA: Some site - PANDAS</title>
    <link rel="stylesheet" href="../static/assets/Global.css" th:href="@{/assets/Global.css}">
    <script src="../static/assets/Global.js" th:src="@{/assets/Global.js}" defer></script>
    <style>
        .prev-instances-container {
            position: relative;
        }

        a:hover + .prev-instances-popup, .prev-instances-popup:hover {
            display: block;
        }

        .prev-instances-popup {
            display: none;
            padding: 12px 16px;
            position: absolute;
            right: -64px;
            width: 420px;
            background: var(--color-white);
            color: var(--color-black);
            border: 1px solid #777;
            border-radius: .5rem;
        }

        .crawl-stats {
            float: right;
            color: #666;
        }
    </style>
</head>
<body>
<nav th:replace="~{_layout.html :: sidebar}"></nav>
<main class="full-height">
    <form method=post th:action="@{|/instances/${instance.id}/process}">
        <input th:if="${nextInstance}" type=hidden name=nextInstance th:value="${nextInstance.id}">
        <input th:if="${worktray}" type=hidden name=worktray th:value="${worktray}">
        <header>
            <nav>
                <button sec:authorize="hasPermission(#vars.instance.title, 'edit')" th:if="${instance.canArchive()}"
                        th:formaction="@{|/instances/${instance.id}/archive|}" type=submit
                        class="btn btn-primary" title="Archive (Ctrl+Enter)" data-keybind="Ctrl+Enter">
                    <i class="icon archive"></i> Archive
                </button>
                <a sec:authorize="hasPermission(#vars.instance.title, 'edit')" th:if="${instance.canFindAndReplace()}"
                   th:href="@{|/instances/${instance.id}/find-and-replace|}"
                   class="btn btn-secondary">Find &amp; Replace</a>
            </nav>
            <nav th:if="${worktray}">
                <a th:if="${prevInstance}" th:href="@{/instances/{id}/process(id=${prevInstance.id},worktray=${worktray})}"
                   class="btn btn-secondary" th:title="'Go to Previous Instance (Ctrl+Left)'" data-keybind="Ctrl+ArrowLeft">❬</a>
                <button th:unless="${prevInstance}" class="btn btn-secondary" disabled>❬</button>
                <a th:href="@{/worktrays/{worktray}/gathered(worktray=${worktray})}" class="btn btn-secondary"
                   th:text="${worktrayPosition} + ' of ' + ${worktrayLength}" title="Go to QA Worktray (Ctrl+Up)"
                   data-keybind="Ctrl+ArrowUp">1 of 4</a>
                <a th:if="${nextInstance}" th:href="@{/instances/{id}/process(id=${nextInstance.id},worktray=${worktray})}"
                   class="btn btn-secondary" th:title="'Go to Next Instance (Ctrl+Right)'" data-keybind="Ctrl+ArrowRight">❭</a>
                <button th:unless="${nextInstance}" class="btn btn-secondary" disabled>❭</button>
            </nav>
            <nav>
                <a sec:authorize="hasPermission(#vars.instance.title, 'edit')" th:href="${@link.edit(instance.title)}"
                   class="btn btn-secondary"><i class="icon edit"></i> Edit Title</a>
                <button sec:authorize="hasPermission(#vars.instance.title, 'edit')" type="submit" th:formaction="@{|/instances/${instance.id}/delete|}"
                        class="btn btn-danger float-right" onclick="return confirm('Are you certain you wish to delete this instance? This cannot be undone.');"
                        title="Delete Instance (Ctrl+Delete)" data-keybind="Ctrl+Delete"><i class="icon delete"></i>Delete</button>
            </nav>
        </header>
    </form>

    <nav class="breadcrumb">
        <ol>
            <li>
                <a th:href="${@link.to(instance.title)}" href="TitleView.html"
                   th:text="${#strings.abbreviate(instance.title.name, 100)}">My cool title</a>
                <button th:with="isFlagged=${@userService.currentUser.flaggedTitles.contains(instance.title)}"
                        th:formaction="${isFlagged ? @link.unflag(instance.title) : @link.flag(instance.title)}"
                        type="submit" class="title-flag" th:classappend="${isFlagged} ? 'active'"></button>
            </li>
            <li><span th:text="${instance.gatherMethodName}"></span> gather from

                <span class="prev-instances-container">
                    <a href="#" th:href="${@link.to(instance.title)}">
                        <strong th:text="${@dateFormats.dayDate.format(instance.date)}">Wednesday, 5 May 2021</strong>
                        at <strong th:text="${@dateFormats.time.format(instance.date)}">1:20 am</strong></a>
                    <div class="prev-instances-popup">
                        <strong>Other recent gathers:</strong><br>
                        <a th:each="instance : ${previousInstances}" th:href="${@link.to(instance)}"
                           th:title="${@dateFormats.DAY_DATE_TIME.format(instance.date)}"><img
                                th:src="${@link.thumbnail(instance, 'REPLAY')}" width="200" height="150"></a>
                    </div>
                </span>
            </li>
        </ol>
        <span class="crawl-stats">
            <a th:href="${@link.files(instance)}"><span
                    th:text="${#numbers.formatInteger(instance.gather.files, 0, 'COMMA')}"></span> files</a>,
            <span th:text="${instance.gather == null || instance.gather.size == null ? '' : T(org.apache.commons.io.FileUtils).byteCountToDisplaySize(instance.gather.size)}"></span>,
            <span th:text="${instance?.gather?.timeHuman}"></span>
        </span>
        <div class="under-breadcrumbs">
            <a th:text="${instance.humanId}" th:href="${@link.to(instance)}">nla.arc-186737-20210824-1143</a>
            · <th:block th:replace="~{TitleSearch.html :: title-card-footer}"></th:block>
        </div>
    </nav>


    <div style="margin-bottom: 4px; display: flex; justify-content: space-between; align-items: center">
        <nav class="btn-group">
            <a class="btn btn-secondary btn-compact" th:href="${@instanceUrls.qa(instance)}" target=replay-frame
               title="Homepage (H)" data-keybind="h"><i class="icon home"></i></a>
            <a class="btn btn-secondary btn-compact" th:href="${@instanceUrls.crawlLog(instance)}" target=replay-frame
               title="Crawl Log (L)" data-keybind="l"><i class="icon log"></i></a>
            <a class="btn btn-secondary btn-compact" th:href="${@instanceUrls.reports(instance)}" target=replay-frame
               title="Crawl Reports (R)" th:unless="${instance.isFlatFiles()}" data-keybind="r"><i class="icon fact_check"></i></a>
            <a class="btn btn-secondary btn-compact" th:href="${@instanceUrls.qa(instance, '/robots.txt')}"
               target=replay-frame title="Robots.txt (T)" data-keybind="t"
               th:unless="${instance.isFlatFiles()}"><i class="icon robot"></i></a>
        </nav>
        <input id="url-bar" style="flex-grow: 1; margin-left: 8px;" th:value="${instance.gatheredUrl}">
        <nav style="margin-left: 4px">
            <a id="openInNewTabButton" class="btn btn-secondary btn-compact" href="#" target=_blank title="Open in New Tab"
               th:href="${@instanceUrls.qa(instance)}"
               th:data-baseurl="${@instanceUrls.qaReplayBase(instance)}"><i class="icon open_in_full"></i></a>
            <button id="toggleScreenshotSidebar" class="btn btn-secondary btn-compact btn-pressed"><i class="icon image"></i></button>
        </nav>
    </div>

    <script>
        document.getElementById("toggleScreenshotSidebar").addEventListener("click", function(event) {
            let sidebar = document.getElementById("screenshotSidebar");
            let button = document.getElementById("toggleScreenshotSidebar");
            if (sidebar.style.display === 'none') {
                sidebar.style.display = 'block';
                button.classList.add('btn-pressed');
            } else {
                sidebar.style.display = 'none';
                button.classList.remove('btn-pressed');
            }
        });

        /*[- Pywb passes a message when the framed document loads containing:
         *      {"icons": [{"rel":"shortcut icon","href":"..."},...],
         *       "url": "https://www.example.com/",
         *       "ts": "20220203130023",
         *       "request_ts": "",
         *       "is_live": false,
         *       "title": "Example page",
         *       "readyState": "interactive",
         *       "wb_type": "load"}
         * -]*/
        window.addEventListener("message", (event) => {
            if (event.data.wb_type !== "load") return;
            document.getElementById("url-bar").value = event.data.url;
            let openInNewTabButton = document.getElementById("openInNewTabButton");
            openInNewTabButton.href = openInNewTabButton.dataset['baseurl'] + '/' + event.data.ts + '/' + event.data.url;
        }, false);
    </script>

    <div style="flex-grow: 1; display: flex; overflow: hidden">
        <iframe th:src="${@instanceUrls.qa(instance)}" name="replay-frame"
                style="flex-grow: 1; border: 1px solid #333; box-sizing: border-box; border-radius: .2rem;"
                sandbox="allow-forms allow-pointer-lock allow-popups allow-scripts allow-downloads
                allow-downloads-without-user-activation allow-modals allow-orientation-lock allow-popups
                allow-popups-to-escape-sandbox allow-presentation allow-same-origin"></iframe>
        <div id="screenshotSidebar" style="width: 158px; margin-left: 4px; overflow-y: auto; min-height: min-content; scrollbar-width: thin;">

            <canvas id="sizeChart" width="150px" height="100px"></canvas>

            <strong>Live</strong><br>
            <a th:href="${instance.title.titleUrl}" target="_blank"><img th:src="${@link.thumbnail(instance, 'LIVE')}" width=150 height=100></a>
            <section th:unless="${previousInstances.isEmpty()}">
                <strong>Previous</strong>
                <div th:each="instance : ${previousInstances}" >
                    <a th:href="${@link.delivery(instance)}" target="_blank"
                       th:title="${@dateFormats.DAY_DATE_TIME.format(instance.date)} + '&#10;' + ${instance.gather?.stats ?: ''}">
                        <img th:src="${@link.thumbnail(instance, 'REPLAY')}" width="150" height="100">
                    </a>
                    <a th:href="${@link.to(instance)}"><datetime th:text="${@dateFormats.shortDate.format(instance.date)}">1 Jan 2012</datetime></a>
                </div>
                <img th:remove="all" width="150" height="100">
                <img th:remove="all" width="150" height="100">
                <img th:remove="all" width="150" height="100">
            </section>
        </div>
    </div>
</main>

<script th:src="@{/webjars/chartjs/3.5.1/dist/chart.min.js}" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js" defer></script>
<script th:inline="javascript">
    const chartEndpoint = /*[[@{/titles/{titleId}/charts/gathersize.json(titleId=${instance.title.id})}]]*/ '../titles/charts/gathersize.json';
    const chartDataPromise = fetch(chartEndpoint).then(rsp => rsp.json());
    document.addEventListener("DOMContentLoaded", function() {
        chartDataPromise.then(chartData => {
            new Chart(document.getElementById('sizeChart'), {
                type: 'line',
                data: chartData,
                options: {
                    interaction: {
                        intersect: false,
                        mode: 'index',
                    },
                    scales: {
                        x: {
                            ticks: {
                                display: false
                            }
                        },
                        y1files: {
                            position: 'left',
                            ticks: {
                                display: false,
                            }
                        },
                        y2size: {
                            position: 'right',
                            ticks: {
                                display: false,
                            }
                        }
                    },
                    plugins: {
                        legend: {
                            display: false
                        },
                        tooltip: {
                            callbacks: {
                                label: ctx => ctx.dataset.yAxisID === 'y2size' ? ctx.parsed.y + " MB" : ctx.parsed.y + " files"
                            }
                        }
                    },
                }
            });
        });
    });
</script>