<!doctype html>
<html lang=en xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Instance - PANDAS</title>
    <link rel="stylesheet" href="../static/assets/Global.css" th:href="@{/assets/Global.css}">
    <script src="../static/assets/Global.js" th:src="@{/assets/Global.js}" defer></script>
</head>
<body>
<nav th:replace="~{_layout.html :: sidebar}"></nav>
<main>
    <header>
        <nav>
            <button type="submit" data-keybind=s class="btn btn-primary" form="form"><i class="icon save"></i>Save</button>
            <button onclick="history.back(); return false" data-keybind=Escape class="btn btn-secondary"><i class="icon cancel"></i>Cancel</button>
        </nav>
    </header>

    <nav class="breadcrumb">
        <ol>
            <li><a th:href="${@link.to(instance.title)}" href="TitleView.html"
                   th:text="${#strings.abbreviate(instance.title.name, 100)}">My cool title</a></li>
            <li>
                <a th:href="${@link.to(instance)}">
                    <span th:text="${instance.gatherMethodName}"></span> gather from <span th:text="${@dateFormats.dayDateTime.format(instance.date)}"></span>
                </a>
            </li>
        </ol>
        <div class="under-breadcrumbs">
            <span th:text="${instance.humanId}">nla.arc-186737-20210824-1143</span>
        </div>
    </nav>

    <form method=post class=form th:object="${form}" th:action="@{''}" enctype=multipart/form-data id=form>
        <fieldset>
            <label><input th:field="*{isDisplayed}" type="checkbox"> Display on TEP page</label>
            <label>TEP URL <input th:field="*{tepUrl}" required></label>
        </fieldset>
    </form>

</main>
