<!doctype html>
<html lang=en xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pages - PANDAS</title>
    <link rel="stylesheet" href="../static/assets/Global.css" th:href="@{/assets/Global.css}">
    <script src="../static/assets/Global.js" th:src="@{/assets/Global.js}" defer></script>
    <style>
        .cdx-results {
            white-space: nowrap;
        }

        .cdx-results thead td {
            font-weight: bold;
        }
        .cdx-results td {
            margin-right: 16px;
        }

        .cdx-results .url {
            color: darkgreen;
        }

        .status-unknown { color: dimgray; }
        .status-2xx { color: darkgreen; }
        .status-3xx { color: darkblue; }
        .status-4xx { color: darkorange; }
        .status-5xx { color: darkred; }
    </style>
</head>
<body>
<nav th:replace="_layout.html :: sidebar"></nav>
<main class="search">
    <form id="sf" th:action="@{/pages}">
    </form>

    <header>
        <nav></nav>
        <input type=search name="url" th:value="${url}" placeholder="URL" data-keybind="f" form=sf style="width: 100%">
    </header>

    <table class="cdx-results">
        <thead>
        <tr>
            <td>View</td>
            <td>Date</td>
            <td>Status</td>
            <td>Type</td>
            <td>Digest</td>
            <td>URL</td>
            <td>WARC File</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="capture : ${captures}">
            <td><a th:href="@{/replay(url=${capture.url},date=${capture.date})}">View</a></td>
            <td><a th:href="${capture.replayUrl}" th:text="${dateTimeFormat.format(capture.date)}"></a></td>
            <td><span th:text="${capture.status}" th:class="${capture.statusClass}"
                      th:title="${capture.statusPhrase}"></span>
                <a th:if="${capture.redirectUrl}" th:href="@{/pages(url=${capture.redirectUrl})}">redirect</a></td>
            <td th:text="${capture.contentType}">text/html</td>
            <td>
                <a th:if="${capture.host != null && capture.digest != null}"
                   th:href="@{/pages(url=${capture.digestQuery})}"
                   th:title="${capture.digest}" th:text="${capture.digest.substring(0,8)}"
                   style="font-family: monospace">EF7YLJG</a>
                <a th:unless="${capture.host != null && capture.digest != null}"
                   th:title="${capture.digest}" th:text="${capture.digest.substring(0,8)}"
                   style="font-family: monospace">EF7YLJG</a>
            </td>
            <td th:text="${capture.url}" class="url"></td>
            <td><a th:href="@{|https://pandas.nla.gov.au/bamboo/warcs/${capture.file}/details|}"
                   th:text="${capture.file}">test.warc.gz</a></td>
        </tr>
        </tbody>
    </table>
</main>