<!doctype html>
<html lang=en xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${publisher == null ? 'New Publisher - PANDAS' : 'Edit Publisher - PANDAS'}">Edit Publisher - PANDAS</title>
    <link rel="stylesheet" href="../static/assets/Global.css" th:href="@{/assets/Global.css}">
    <script src="../static/assets/Global.js" th:src="@{/assets/Global.js}" defer></script>
</head>
<nav th:replace="_layout.html :: sidebar (activeItem='Publishers')"></nav>
<main>
    <header>
        <nav>
            <button type="submit" class="btn btn-primary" form=editForm><i class="icon save"></i>Save</button>
            <button onclick="history.back(); return false" data-keybind="Escape" class="btn btn-secondary"><i class="icon cancel"></i> Cancel</button>
        </nav>
        <button th:if="${publisher != null}" type="submit" th:formaction="@{|/publishers/${publisher.id}/delete|}" class="btn btn-danger float-right" form="editForm"><i class="icon delete"></i>Delete</button>
    </header>

    <form method=post class=form th:object="${form}" id=editForm th:action="@{''}">
        <input type=hidden th:field="*{id}">
        <fieldset>
            <div>
                <label style="flex-grow: 1">Publisher Name <input th:field="*{name}" required></label>
                <label>Publisher Type
                    <select th:field="*{type}">
                        <option th:each="type : ${allPublisherTypes}"
                                th:value="${type.id}" th:text="${type.name}"></option>
                    </select>
                </label>
            </div>
            <label>Organisation Homepage <input th:field="*{url}"></label>
            <div>
                <label>Local Reference No. <input th:field="*{localReference}"></label>
                <label>ABN <input th:field="*{abn}" pattern="[0-9]{11}" title="11-digit Australian Business Number"
                                  onchange="this.value = this.value.replace(/[ -]/g, '')"></label>
            </div>
            <label>Notes <textarea th:field="*{notes}" rows="3"></textarea></label>
        </fieldset>

        <fieldset>
            <legend>Address</legend>
            <label><input th:field="*{addressLine1}" id="addressLine1"></label>
            <label><input th:field="*{addressLine2}" id="addressLine2"></label>
            <div>
                <label>Locality <input th:field="*{locality}" id="locality"></label>
                <label>State <input th:field="*{state}" id="state"></label>
                <label>Postcode <input th:field="*{postcode}" id="postcode"></label>
                <label>Country <input th:field="*{country}" id="country"></label>
            </div>
        </fieldset>
    </form>

    <script>
        let addressRegex = /(.*, )?([^,]+),* ([^,]+),* (ACT|NT|QLD|NSW|SA|WA|VIC),* ([0-9]{4})(?:,* *(Australia))?/i;
        document.getElementById("addressLine1").addEventListener("paste", function(event) {
            let text = (event.clipboardData || window.clipboardData).getData('text');
            text = text.replaceAll("\n", ", ").replaceAll(",,", ",");
            let match = text.match(addressRegex);
            if (!match) return;
            let line1 = match[1];
            let line2 = match[2];
            if (!line1 && line2) {
                line1 = line2;
                line2 = "";
            }
            line1 = line1.replace(/,* *$/, "");
            line2 = line2.replace(/,* *$/, "");
            document.getElementById("addressLine1").value = line1.trim();
            document.getElementById("addressLine2").value = line2.trim();
            document.getElementById("locality").value = match[3].trim();
            document.getElementById("state").value = match[4].trim();
            document.getElementById("postcode").value = match[5].trim();
            document.getElementById("country").value = match[6] || 'Australia';
            event.preventDefault();
        });
    </script>
</main>