<!doctype html>
<html lang=en xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="|${publisher.name} (Publisher) - PANDAS|">Somebody (Publisher) - PANDAS</title>
    <link rel="stylesheet" href="../static/assets/Global.css" th:href="@{/assets/Global.css}">
    <script src="../static/assets/Global.js" th:src="@{/assets/Global.js}" defer></script>
</head>
<nav th:replace="_layout.html :: sidebar"></nav>
<main>
    <header>
        <nav>
            <a sec:authorize="hasPermission(#vars.publisher, 'edit')"  th:href="@{/publishers/{id}/edit(id=${publisher.id})}" href="PublisherEdit.html" class="btn btn-primary"
               data-keybind="e"><i class="icon edit"></i> Edit</a>
            <a sec:authorize="hasAuthority('PRIV_NOMINATE_TITLES')" th:href="@{/titles/new(publisher=${publisher.id})}" href="TitleEdit.html" data-keybind="t" class="btn btn-secondary"><i class="icon title"></i> Add a website</a>
        </nav>
    </header>

    <nav class=breadcrumb>
        <ol>
            <li style="font-weight: bold"><a th:href="@{/publishers}" href="PublisherSearch.html">Publishers</a></li>
            <li class="active" th:text="${publisher.name}">Somebody</li>
        </ol>
    </nav>

    <section class="details-table">
        <table>
            <tr><th>Type:</th><td th:text="${publisher.type.name}"></td></tr>
            <tr th:unless="${#strings.isEmpty(publisher.organisation.url)}"><th>Homepage:</th><td><a th:href="${publisher.organisation.url}" th:text="${publisher.organisation.url}"></a></td></tr>
            <tr th:unless="${#strings.isEmpty(publisher.organisation.abn)}"><th>ABN:</th><td><a th:href="@{https://abr.business.gov.au/ABN/View(id=${publisher.organisation.abn})}" th:text="${publisher.organisation.abn}"></a></td></tr>
            <tr th:unless="${#strings.isEmpty(publisher.localReference)}"><th>Local Reference No:</th><td th:text="${publisher.localReference}"></td></tr>
            <tr th:unless="${#strings.isEmpty(publisher.organisation.addressAsOneLine)}">
                <th>Address:</th>
                <td><a th:href="@{https://www.google.com/maps/search/(api=1,query=${publisher.organisation.addressAsOneLine})}"
                       th:text="${publisher.organisation.addressAsOneLine}">123 Example St, Exampleton 2600 ACT Australia</a></td>
            </tr>
        </table>
        <div th:unless="${#strings.isEmpty(publisher.notes)}">
            <strong>Notes:</strong><br>
            <div th:text="${publisher.notes}"></div>
        </div>
    </section>

    <section>
        <h4>Titles</h4>
        <div th:each="title: ${publisher.titles}">
            <div th:replace="TitleSearch.html :: title-card">
            </div>
        </div>
    </section>
</main>