<!doctype html>
<html lang=en xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title>Social - PANDAS</title>
  <link rel="stylesheet" href="../static/assets/Global.css" th:href="@{/assets/Global.css}">
  <script src="../static/assets/Global.js" th:src="@{/assets/Global.js}" defer></script>
</head>
<body>
<nav th:replace="~{_layout.html :: sidebar (activeItem='Social')}"></nav>
<main>
  <header>
    <nav>
    </nav>
  </header>

  <nav class=breadcrumb>
    <ol>
      <li class="active" style="font-weight: bold">Social</li>
    </ol>
  </nav>

  <table>
    <tr>
      <th>Server</th>
      <th>Query</th>
      <th>Posts</th>
    </tr>
    <tr th:each="target : ${targets}">
      <td th:text="${target.server}"></td>
      <td th:text="${target.query}"></td>
      <td th:text="${target.postCount}"></td>
      <td><a th:if="${target.title != null}" th:text="${target.title.name}"
             th:href="${@link.to(target.title)}"></a></td>
    </tr>
  </table>
</main>
