<!doctype html>
<html lang=en xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title>Social Search - PANDAS</title>
  <link rel="stylesheet" href="../static/assets/Global.css" th:href="@{/assets/Global.css}">
  <link rel="stylesheet" href="../static/assets/SocialPost.css" th:href="@{/assets/SocialPost.css}">
  <script src="../static/assets/Global.js" th:src="@{/assets/Global.js}" defer></script>
</head>
<body>
<nav th:replace="~{_layout.html :: sidebar (activeItem='Social')}"></nav>
<main>
  <form id="sf" th:action="@{/social/search}">
    <!-- hidden default submit button -->
    <button type=submit style="visibility: hidden; position: absolute; top: -1000px"></button>
  </form>

  <header>
    <input style="flex-grow: 1" type=search name="q" th:value="${q}" placeholder="Search social media archive" data-keybind="f" form=sf>
  </header>

  <section class="results">
    <header>
      <span th:if="${results.totalHits() != null}">
        Found <strong th:text="${#numbers.formatInteger(results.totalHits(), 0, 'COMMA')}">42</strong> matching posts.
      </span>

      <label>
        Sort by:
        <select form="sf" name="sort" class="auto-submit" data-default="Relevance" onchange="form.submit()">
          <option th:each="ordering : ${orderings}" th:text="${ordering}" th:selected="${ordering.equals(sort)}">Relevance</option>
        </select>
      </label>
    </header>

    <article th:each="post : ${results.posts()}" class="post">
      <header>
        <img th:src="${post.author.avatar}" alt="">
        <address>
          <strong th:text="${post.author.displayName}">Somebody}</strong>
          <span th:text="'@' + ${post.author.username}">@somebody</span>
        </address>
        <div>
          <div>
            <a th:href="@{/social/details(url=${post.url})}">
              <time th:datetime="${post.createdAt}" th:title="${post.createdDateTime}" itemprop="dateCreated"
                    th:text="${post.createdDate}"></time>
            </a>
            <a class="post-original-link" th:href="${post.url()}">⧉</a>
          </div>
          <div class="post-stats">
            <span th:each="stat : ${post.statistics}" th:if="${stat.count() != null && stat.count() > 0}"
                  th:title="${stat.longText}" th:text="${stat.shortText}">🗨 6</span>
          </div>
        </div>
      </header>
      <section th:utext="${post.content}">Hello world</section>
      <section class="post--attachments" th:if="${post.hasAttachments}">
        <img th:each="attachment: ${post.attachments}" th:src="${attachment.url}" th:alt="${attachment.altText}">
      </section>
    </article>
  </section>
</main>
