<!doctype html>
<html lang=en xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title>Social - PANDAS</title>
  <link rel="stylesheet" href="../static/assets/Global.css" th:href="@{/assets/Global.css}">
  <script src="../static/assets/Global.js" th:src="@{/assets/Global.js}" defer></script>
</head>
<body>
<nav th:replace="~{_layout.html :: sidebar (activeItem='Social')}"></nav>
<main>
  <form id="sf" th:action="@{/social/search}">
    <!-- hidden default submit button -->
    <button type=submit style="visibility: hidden; position: absolute; top: -1000px"></button>
  </form>
  <header>
    <input style="flex-grow: 1" type=search name="q" th:value="${q}" placeholder="Search social media archive" data-keybind="f" form=sf>
  </header>

  <nav class=breadcrumb>
    <ol>
      <li class="active" style="font-weight: bold">Social</li>
    </ol>
  </nav>

  <table>
    <tr>
      <th>Server</th>
      <th>Query</th>
      <th>Posts</th>
      <th>Title</th>
      <th>Last Visited</th>
    </tr>
    <tr th:each="target : ${targets}">
      <td th:text="${target.server}"></td>
      <td><a th:text="${target.query}" th:href="@{/social/search(q=${target.query})}">from:username</a> </td>
      <td th:text="${target.postCount}"></td>
      <td><a th:if="${target.title != null}" th:text="${target.title.name}"
             th:href="${@link.to(target.title)}"></a></td>
      <td><time th:if="${target.lastVisitedDate != null}"
                th:datetime="${target.lastVisitedDate}"
                th:text="${@dateFormats.dayDateTime.format(target.lastVisitedDate)}"
                th:title="${@dateFormats.dayDateTime.format(target.lastVisitedDate)}"></time></td>
    </tr>
  </table>
</main>

<script th:src="@{/webjars/timeago.js/4.0.2/dist/timeago.min.js}"></script>
<script>
    timeago.render(document.querySelectorAll('time'));
</script>
