<!doctype html>
<html lang=en xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Statistics - PANDAS</title>
    <link rel="stylesheet" href="../static/assets/Global.css" th:href="@{/assets/Global.css}">
    <script src="../static/assets/Global.js" th:src="@{/assets/Global.js}" defer></script>
</head>
<nav th:replace="~{_layout.html :: sidebar}"></nav>
<main>
    <header>
    </header>

    <nav class=breadcrumb>
        <ol>
            <li class="active" style="font-weight: bold">Statistics</li>
        </ol>
    </nav>

    <h3>Titles</h3>

    <ul>
        <li><a th:href="@{/statistics/agency-archiving}">Titles archived by agency</a></li>
        <li><a th:href="@{/statistics/new-titles-by-subject}">New Titles by Subject (by Year)</a>
    </ul>

    <table class="statistics-table">
        <tr><td>Titles</td><td th:text="${@format.comma(@titleRepository.count())}"></td></tr>
        <tr><td>Instances:</td></tr>
        <tr><td style="padding-left: 24px">Archived</td><td th:text="${@format.comma(@instanceRepository.countArchived())}"></td></tr>
        <tr><td style="padding-left: 24px">Total</td><td th:text="${@format.comma(@instanceRepository.count())}"></td></tr>
        <tr><td>Subjects</td><td th:text="${@format.comma(@subjectRepository.count())}"></td></tr>
        <tr><td>Collections</td><td th:text="${@format.comma(@collectionRepository.count())}"></td></tr>
        <tr><td>Publishers</td><td th:text="${@format.comma(@publisherRepository.count())}"></td></tr>
        <tr><td>Users:</td></tr>
        <tr><td style="padding-left: 24px">Active</td><td th:text="${@format.comma(@userRepository.countActive())}"></td></tr>
        <tr><td style="padding-left: 24px">Total</td><td th:text="${@format.comma(@userRepository.count())}"></td></tr>
    </table>

    <h3>Archived Content</h3>

    <p>
        These figures are derived from the CDX index and include all content in the web archive regardless of how it was
        collected or if access has been restricted.
    </p>

    <ul>
        <li><a th:href="@{/statistics/url-snapshots-by-content-type}">URL Snapshots by Content Type</a>
        <li><a th:href="@{/statistics/url-snapshots-by-year}">URL Snapshots by Year</a>
    </ul>

    <table class="statistics-table">
        <thead>
            <tr><td>
            </td><td><abbr title="Count of WARC response and resource records">URL Snapshots</abbr></td>
            <td><abbr title="Sum of lengths of WARC response and resource records as stored (i.e. compressed). Excludes request and metadata records.">Storage</abbr></td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="row : ${contentTypeRows}">
                <td th:text="${row.key()}"></td>
                <td th:text="${@format.comma(row.snapshots())}"></td>
                <td th:text="${@format.bytes(row.storage())}"></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td th:text="${@format.comma(summary.snapshots())}"></td>
                <td th:text="${@format.bytes(summary.storage())}"></td>
            </tr>
        </tfoot>
    </table>


</main>