<!doctype html>
<html lang=en xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Subject - PANDAS</title>
    <link rel="stylesheet" href="../static/assets/Global.css" th:href="@{/assets/Global.css}">
    <script src="../static/assets/Global.js" th:src="@{/assets/Global.js}" defer></script>
</head>
<nav th:replace="_layout.html :: sidebar"></nav>
<main>
    <header>
        <nav>
            <button type="submit" data-keybind="s" class="btn btn-primary" form=form><i class="icon save"></i> Save</button>
            <a th:href="@{|/subjects/${subject.id ?: ''}|}" href="javascript:history.back()" data-keybind="Escape" class="btn btn-secondary" form=form><i class="icon cancel"></i> Cancel</a>
        </nav>
        <button th:if="${subject.id != null}" type="submit" th:formaction="@{|/subjects/${subject.id}/delete|}"
                class="btn btn-danger float-right" form=form><i class="icon delete"></i> Delete
        </button>
    </header>
    <form method=post class=form th:object="${form}" th:action="@{''}" enctype=multipart/form-data id=form>
        <fieldset>
            <label>Parent Subject
                <select th:field="*{parent}">
                    <option value=""></option>
                    <option th:each="subject: ${allSubjects}" th:value="${subject.id}" th:text="${subject.name}"
                            th:style="'padding-left:' + ${subject.depth * 16 + 10} + 'px'"
                            th:data-fullname="${subject.fullName}">Arts
                    </option>
                </select>
            </label>

            <label>Name <input class="form-control" th:field="*{name}" required></label>
            <label>Description <textarea class="form-control" rows="3" th:field="*{description}"></textarea></label>

            <label>Icon</label>
            <input id="removeIcon" name="removeIcon" value="false" type=hidden>
            <div>
                <div style="text-align: center">
                    <img id=iconPreview th:src="${@link.icon(subject)}" th:if="${subject.icon != null}"><br>
                    <input type=button value=Remove id=removeIconButton th:style="${subject.icon == null ? 'display: none' : ''}">
                </div>
                <div style="align-self: end">
                    <input id="icon" type=file name=icon accept="image/*">
                </div>
                <script>
                    icon.addEventListener('change', function() {
                        iconPreview.src = window.URL.createObjectURL(this.files[0]);
                        removeIconButton.style.display = '';
                        removeIcon.value = false;
                    });

                    removeIconButton.addEventListener('click', function() {
                        iconPreview.src = '';
                        removeIconButton.style.display = 'none';
                        removeIcon.value = true;
                        icon.value = '';
                        return false;
                    });
                </script>
            </div>
        </fieldset>
    </form>
</main>