<!doctype html>
<html lang=en xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="|${subject.name} (Subject) - PANDAS|">Dance (Subject) - PANDAS</title>
    <link rel="stylesheet" href="../static/assets/Global.css" th:href="@{/assets/Global.css}">
    <script src="../static/assets/Global.js" th:src="@{/assets/Global.js}" defer></script>
</head>
<nav th:replace="_layout.html :: sidebar"></nav>
<main>
    <header>
        <nav>
            <a sec:authorize="hasAuthority('PRIV_EDIT_SUBJECTS')" th:href="@{/subjects/{id}/edit(id=${subject.id})}" href="SubjectEdit.html" data-keybind="e" class="btn btn-primary"><i class="icon edit"></i> Edit subject</a>
            <a sec:authorize="hasAuthority('PRIV_NOMINATE_TITLES')" th:href="@{/titles/new(subject=${subject.id})}" href="TitleEdit.html" data-keybind="t" class="btn btn-secondary"><i class="icon title"></i> Add a website</a>
            <a sec:authorize="hasAuthority('PRIV_EDIT_COLLECTIONS')" th:href="@{/collections/new(subject=${subject.id})}" href="CollectionEdit.html" data-keybind="c" class="btn btn-secondary"><i class="icon collection"></i> Create a collection</a>
            <a sec:authorize="hasAuthority('PRIV_EDIT_SUBJECTS')" th:href="@{/subjects/new(parent=${subject.id})}" href="SubjectEdit.html" data-keybind="s" class="btn btn-secondary"><i class="icon subject"></i> Create a subcategory</a>
        </nav>
    </header>

    <nav class="breadcrumb">
        <ol>
            <li><a th:href="@{/subjects}" href="SubjectList.html" style="font-weight: bold">Subjects</a></li>
            <li th:each="breadcrumb: ${subject.subjectBreadcrumbs}" th:classappend="${breadcrumbStat.last} ? 'active'"><a th:href="@{/subjects/{id}(id=${breadcrumb.id})}" href="#" th:text="${breadcrumb.name}">Arts</a></li>
            <li th:remove="all" class="active"><a href="#">Dance & Fashion</a></li>
        </ol>
    </nav>

    <h1 th:text="${subject.name}">Dance & Fashion</h1>

    <section>
        <h5>Subcategories</h5>
        <ul class="subcategories">
            <li th:each="child: ${subject.children}">
                <a th:href="@{/subjects/{id}(id=${child.id})}" th:text="${child.name}"
                   href="SubjectView.html">Ballet</a>
                <a class="title-count" th:href="@{/titles(subject=${child.id})}" th:text="${child.titleCount}"
                   href="TitleSearch.html">42</a>
                <a class="batch-collection-count" th:if="${child.collectionCount > 0}"
                   th:href="@{/collections(subject=${child.id})}" th:text="${child.collectionCount}"
                   href="CollectionSearch.html">2</a>
            </li>
        </ul>
    </section>

    <section>
        <h5>Collections</h5>
        <ul class="subcategories">
            <li th:each="collection: ${collections}">
                <a th:href="@{/collections/{id}(id=${collection.id})}" th:text="${collection.name}"
                   href="CollectionView.html">2016 Adelaide Fringe Festival</a>
                <span th:if="${collection.timeFrame != null}" th:text="'(' + ${collection.timeFrame} + ')'" class="time-frame"/>
                <a class="title-count" th:href="@{/titles(collection=${collection.id})}"
                   th:text="${collection.titleCount}"
                   href="TitleSearch.html">16</a>
            </li>
        </ul>
    </section>

    <section>
        <h5>Titles</h5>
        <ul class="subcategories">
            <li th:each="title: ${subject.titles}">
                <a th:href="@{/titles/{id}(id=${title.id})}" th:text="${title.name}" href="#">My dance blog</a>
            </li>
        </ul>
    </section>
</main>