<!doctype html>
<html lang=en xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${form.id == null ? 'New Title - PANDAS' : 'Edit Title - PANDAS'}">Edit Title - PANDAS</title>
    <link rel="stylesheet" href="../static/assets/Global.css" th:href="@{/assets/Global.css}">
    <script src="../static/assets/Global.js" th:src="@{/assets/Global.js}" defer></script>
</head>
<body>
<nav th:replace="_layout.html :: sidebar"></nav>
<main>
    <form method=post class=form th:object="${form}" th:action="@{/titles}" onsubmit="return !!window.loaded">
        <header>
            <div>
                <button type="submit" data-keybind=s class="btn btn-primary"><i class="icon save"></i>Save</button>
                <button onclick="history.back(); return false" data-keybind=Escape class="btn btn-secondary"><i class="icon cancel"></i>Cancel</button>
            </div>
            <button th:if="${form.id != null}" type="submit" th:formaction="@{|/titles/${form.id}/delete|}"
                    class="btn btn-danger float-right"><i class="icon delete"></i>Delete</button>
        </header>

        <input type=hidden th:field="*{id}">

        <fieldset>
            <div>
                <label style="flex-grow: 1">
                    URL
                    <input th:field="*{titleUrl}" required class="form-control">
                    <div id="urlInfo"></div>
                </label>
                <label style="width: 150px">Status
                    <select th:field="*{status}">
                        <option th:each="status: ${statusList}" th:value="${status.id}" th:text="${status.name}">Selected</option>
                    </select>
                </label>
            </div>
            <div>
                <label style="flex-grow: 1">Name <input th:field="*{name}" required class="form-control"></label>
                <label style="width: 150px">Format
                    <select th:field="*{format}">w
                        <option th:each="fmt: ${allFormats}" th:text="${fmt.name}" th:value="${fmt.id}"
                                th:selected="${fmt == format}">Integrating</option>
                    </select>
                </label>
            </div>
        </fieldset>

        <div style="display: flex; gap: 12px">
            <fieldset>
                <legend>Gather</legend>

                <div th:each="collection: ${form.collections}" th:unless="${collection.gatherSchedule == null || collection.gatherSchedule.isNone() || form.status.isCeased()}"
                     style="color: #555; margin-bottom: 8px; font-style: italic; ">
                    Also gathered <strong th:text="${collection.gatherSchedule.name}">Daily</strong> as part of
                    <a th:href="@{/collections/{id}(id=${collection.id})}" th:text="${collection.fullName}" class="collection-link">Cool Sites</a>
                </div>

                <label>Method
                    <select th:field="*{gatherMethod}">
                        <option th:each="method: ${allGatherMethods}" th:value="${method.id}" th:text="${method.name}">
                            Heritrix
                        </option>
                    </select>
                </label>
                <label>Schedule <select th:field="*{gatherSchedule}">
                    <option th:each="schedule: ${allGatherSchedules}" th:value="${schedule.id}"
                            th:text="${schedule.name}">Weekly
                    </option>
                </select></label>
                <label>Profile
                    <select th:field="*{activeProfile}" id="activeProfile">
                        <option value=""></option>
                        <option th:each="profile: ${allProfiles}" th:value="${profile.id}" th:text="${profile.name}"
                                th:data-gathermethod="${profile.gatherMethod?.id}" th:data-default="${profile.default ? true : null}">
                            Pandas Defaults
                        </option>
                    </select>
                    <script>
                        let profileSelect = document.getElementById("activeProfile");
                        let gatherMethodSelect = document.getElementById("gatherMethod");

                        // if gather method is changed to a method unsupported by current profile, select default profile
                        gatherMethodSelect.addEventListener("change", function(event) {
                            let profileGatherMethodId = profileSelect.selectedOptions[0].dataset.gathermethod;
                            if (profileGatherMethodId && profileGatherMethodId !== gatherMethodSelect.value) {
                                for (let option of profileSelect.options) {
                                    if (option.dataset['default']) {
                                        profileSelect.value = option.value;
                                        break;
                                    }
                                }
                            }
                        });

                        // select the appropriate method for the selected profile
                        profileSelect.addEventListener("change", function(event) {
                            let methodId = event.target.selectedOptions[0].dataset.gathermethod;
                            if (methodId) {
                                document.getElementById('gatherMethod').value = methodId;
                            }
                        });
                    </script>
                </label>

                <label>One-off</label>

                <ul id="oneoffDatesList" th:unless="${form.oneoffDates.isEmpty()}">
                    <li th:each="date: *{oneoffDates}">
                        <time th:datetime="${date}" th:text="${date}"></time>
                        <button class="btn btn-danger" onclick="this.parentNode.remove()" type=button>Remove</button>
                        <input type=hidden name="oneoffDates" th:value="${date}">
                    </li>
                </ul>

                <div>
                    <input type="date" id="oneoffDateInput"> <input type=time id="oneoffTimeInput">
                    <button onclick="addOneoffDate()" type=button>Add</button>
                </div>

                <script>
                    document.querySelectorAll("#oneoffDatesList time").forEach(el => el.textContent = new Date(el.dateTime).toLocaleString());

                    function addOneoffDate() {
                        var dateInput = document.getElementById('oneoffDateInput').valueAsDate;
                        var timeInput = document.getElementById('oneoffTimeInput').valueAsDate;
                        var date = new Date();
                        date.setMilliseconds(0);
                        if (dateInput) {
                            date.setFullYear(dateInput.getUTCFullYear(), dateInput.getUTCMonth(), dateInput.getUTCDate());
                        }
                        if (timeInput) {
                            date.setHours(timeInput.getUTCHours(), timeInput.getUTCMinutes(), timeInput.getUTCSeconds());
                        } else {
                            date.setHours(0, 0, 0);
                        }
                        const iso = date.toISOString().replace(".000Z", "Z");
                        if (document.getElementById('oneoffDatesList').querySelector('time[datetime="' + iso +'"]')) {
                            return; // don't allow duplicates
                        }
                        document.getElementById('oneoffDatesList').insertAdjacentHTML('beforeend',
                            '<li><time datetime="' + iso + '">' + date.toLocaleString() + '</time> ' +
                            '<button class="btn btn-danger" onclick="this.parentNode.remove()" type=button>Remove</button>' +
                            '<input type=hidden name=oneoffDates value="' + iso + '"></li>');
                    }
                </script>

                <details th:open="${form.seedUrls != form.titleUrl}" style="margin-top: 16px">
                    <summary>Options</summary>
                    <label>
                        Seed URLs:
                        <textarea th:field="*{seedUrls}"></textarea>
                    </label>
                </details>
            </fieldset>

            <fieldset style="flex-grow: 1">
                <legend>Metadata</legend>
                <label>
                    Subjects
                    <select th:field="*{subjects}" id="subjects" multiple>
                        <option th:each="subject: ${allSubjects}" th:value="${subject.id}" th:text="${subject.name}"
                                th:style="'padding-left:' + ${subject.depth * 16 + 10} + 'px'"
                                th:data-fullname="${subject.fullName}">Arts
                        </option>
                    </select>
                </label>
                <label>
                    Collections
                    <select th:field="*{collections}" id="collections" multiple>
                        <option th:each="collection: ${form.collections}" th:value="${collection.id}"
                                th:text="${collection.fullName}" selected>Arts
                        </option>
                    </select>
                </label>
                <label>
                    Publisher
                    <input id="publisherId" type="hidden" name="publisher" th:value="*{publisher?.id}">
                    <input id="publisherName" type="hidden" name="publisherName">
                    <select id="publisher">
                        <option selected th:if="${form.publisher != null}" th:text="${form.publisher.name}" th:value="${form.publisher.id}"></option>
                    </select>
                </label>
                <label id="publisherTypeLabel" style="display:none">
                    Publisher Type:
                    <select id="publisherType" name="publisherType">
                        <option></option>
                        <option th:each="type : ${allPublisherTypes}" th:value="${type.id}" th:text="${type.name}" th:data-domainsuffixes="${type.domainSuffixes}"></option>
                    </select>
                </label>
                <label><input type=checkbox th:field="*{legalDeposit}"> Collect under legal deposit</label><br>
                <details th:open="${form.anbdNumber != null || form.localReference != null || form.localDatabaseNo != null}">
                    <summary>Cataloguing</summary>
                    <label><input type=checkbox th:field="*{cataloguingNotRequired}"> Cataloguing not required</label>
                    <div>
                        <label>ANBD No. <input th:field="*{anbdNumber}"></label>
                        <label>Local Reference No. <input th:field="*{localReference}"></label>
                        <label>Local Database No. <input th:field="*{localDatabaseNo}"></label>
                    </div>
                </details>
            </fieldset>
        </div>
        <fieldset>
            <label>Notes: <textarea th:field="*{notes}" rows=10></textarea></label>
        </fieldset>


    </form>
</main>
<link rel=stylesheet th:href="@{/webjars/slim-select/1.24.0/dist/slimselect.css}" href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.24.0/slimselect.css">
<script th:src="@{/webjars/slim-select/1.24.0/dist/slimselect.js}" src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.24.0/slimselect.js"></script>
<script th:inline="javascript">
    var pageinfoEndpoint = /*[[@{/pageinfo}]]*/ '../pageinfo';
    var publishersEndpoint = /*[[@{/publishers.json}]]*/ '../publishers.json';
    var collectionsEndpoint = /*[[@{/collections.json}]]*/ '../collections.json';

    new SlimSelect({
        select: '#subjects',
        searchFilter: function (option, search) {
            return option.data['fullname'].toLowerCase().indexOf(search.toLowerCase()) !== -1;
        }
    });
    new SlimSelect({
        select: '#collections',
        ajax: function (search, callback) {
            if (!search) return callback(false);
            fetch(collectionsEndpoint + "?q=" + encodeURIComponent(search) + "&size=100")
                .then(response => response.json())
                .then(results => callback(results.map(collection => ({value: collection.id, text: collection.fullName}))))
                .catch(error => callback(false));
        },
    });
    let titleUrlField = document.getElementById("titleUrl");
    new SlimSelect({
        select: '#publisher',
        allowDeselect: true,
        addable: function (value) {
            return {
                text: value,
                value: "new" // I'd prefer to use null/empty-string but slim-js then overrides it with the text
            };
        },
        ajax: function (search, callback) {
            if (!search) {
                callback(false);
                return;
            }
            fetch(publishersEndpoint + "?q=" + encodeURIComponent(search) + "&size=100")
                .then(response => response.json())
                .then(results => {
                    callback(results.map(publisher => {
                        return {
                            value: publisher.id,
                            text: publisher.name
                        }
                    }));
                }).catch(error => {
                    console.log("Publisher search failed: ", error);
                    callback(false)
                });
        },
        onChange: function (info) {
            if (info.value === "new") {
                document.getElementById("publisherId").value = "";
                document.getElementById("publisherName").value = info.text;
                document.getElementById("publisherType").selectedIndex = 0;
                document.getElementById("publisherType").required = true;
                document.getElementById("publisherTypeLabel").style.display = "inherit";

                const urlString = titleUrlField.value;
                if (urlString) {
                    const host = new URL(urlString).host;
                    const publisherTypeOptions = document.getElementById("publisherType").options;

                    // try to preselect an appropraite publisher type based on the domain suffix
                    outer:
                    for (let i = 0; i < publisherTypeOptions.length; i++) {
                        const option = publisherTypeOptions[i];
                        if (option.dataset.domainsuffixes) {
                            for (const suffix of option.dataset.domainsuffixes.split(/ +/)) {
                                if (host.endsWith(suffix)) {
                                    document.getElementById("publisherType").selectedIndex = i;
                                    break outer;
                                }
                            }
                        }
                    }
                }
            } else {
                document.getElementById("publisherId").value = info.value === undefined ? "" : info.value;
                document.getElementById("publisherName").value = "";
                document.getElementById("publisherType").selectedIndex = 0;
                document.getElementById("publisherType").required = false;
                document.getElementById("publisherTypeLabel").style.display = "none";
            }
        }
    });
    function titleUrlChanged () {
        document.getElementById("urlInfo").innerText = "Loading...";
        document.getElementById("urlInfo").style.color = "#555";

        fetch(pageinfoEndpoint + "?url=" + encodeURIComponent(titleUrlField.value))
            .then(response => response.json())
            .then(info => {
                let contentType = info.contentType == null ? "?" : info.contentType.replace(/\s*;.*/, "");
                document.getElementById("urlInfo").innerText = contentType + " " + info.status + " " + info.reason;
                document.getElementById("urlInfo").style.color = info.status < 300 ? "green" : info.status < 400 ? "blue" : "red";
                if (!document.getElementById("name").value && info.title && info.status < 300) {
                    document.getElementById("name").value = info.title;
                }
            });
    }
    titleUrlField.addEventListener("change", titleUrlChanged);
    if (titleUrlField.value !== "") {
        titleUrlChanged();
    }

    // we keep the form disabled until the page is fully loaded
    // otherwise it could be submitted with partial values which results in data loss
    window.loaded = true;
</script>