<!doctype html>
<html lang=en xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="${title.name + ' - PANDAS'}">Example Title - PANDAS</title>
    <link rel="stylesheet" href="../static/assets/Global.css" th:href="@{/assets/Global.css}">
    <script src="../static/assets/Global.js" th:src="@{/assets/Global.js}" defer></script>
    <style>
        h1, h2, h3 {
            margin-bottom: 4px;
            margin-top: 4px;
        }

        h4 {
            margin-bottom: 16px;
        }

        .panel-title-details {
            float: left;
            width: 450px
        }

        .panel-instance-list .instance-year {
            font-size: 200%;
            font-weight: lighter;
            color: #666;
            padding-right: 40px;
            text-align: left;
            vertical-align: top
        }

        .panel-instance-list .instance-list {
            padding-bottom: 32px;
        }

        .panel-instance-list .instance-list > a {
            display: block;
            float: left;
            text-align: center;
            margin-bottom: 16px;
            margin-right: 8px;
            color: var(--color-black);
        }

        .panel-instance-list .instance-list > a img {
            width: 100px;
            height: 75px;
        }

        .panel-instance-list .instance-list > a .size {
            color: #666;
            font-size: 75%;
        }

        .panel-instance-list .instance-list > a .state {
            color: #666;
            font-size: 75%;
        }
    </style>
</head>
<body>
<nav th:replace="_layout.html :: sidebar"></nav>
<main>
    <header>
        <nav>
            <a sec:authorize="hasPermission(#vars.title, 'edit')" th:href="@{|/titles/${title.id}/edit|}" class="btn"><i class="icon edit"></i> Edit</a>
            <a sec:authorize="hasPermission(#vars.title, 'edit')" th:href="@{|/titles/${title.id}/transfer|}" class="btn btn-secondary"> Transfer ownership</a>
            <a sec:authorize="hasPermission(#vars.title, 'edit')" th:href="@{|/titles/${title.id}/issues|}" class="btn btn-secondary"> Edit issues</a>
            <a sec:authorize="hasPermission(#vars.title, 'edit')" th:href="@{|/titles/${title.id}/clone|}" class="btn btn-secondary"> Clone</a>
        </nav>
        <a th:href="@{|/titles/${title.id}/p3|}" class="btn btn-secondary">View in PANDAS 3</a>
    </header>

    <div class="panel-title-details">
        <h3 th:text="${title.name}">Example Title</h3>
        <span th:text="${title.getYearRange()}"></span>, <a th:if="${title.publisher}"
                                                            th:href="${@link.to(title.publisher)}"
                                                            th:text="${title.publisher.name}"></a><br>
        <br>
        <a style="color: var(--color-black)" th:href="@{|https://nla.gov.au/nla.arc-${title.pi}|}">nla.arc-<span
                th:text="${title.pi}"></span></a><br>
        <br>
        <a th:href="${title.titleUrl}" th:text="${title.titleUrl}" style="color: green" target="_blank"></a><br><br>

        <div th:if="${!title.subjects.isEmpty()}">
            Subjects:
            <ul class="subject-list">
                <li th:each="subject: ${title.subjects}">
                    <a th:href="@{/subjects/{id}(id=${subject.id})}" th:text="${subject.name}">Sport</a>
                </li>
            </ul>
        </div>

        <p>
        <div>
            Collections:
            <ul class="collection-list">
                <li th:each="collection: ${title.collections}">
                    <a th:href="@{/collections/{id}(id=${collection.id})}" th:text="${collection.fullName}"
                       href="CollectionView.html">Nice Sites</a>
                </li>
            </ul>
        </div>

        <p>
        <div th:if="${!title.continues.isEmpty()}">
            Continues:
            <ul class="title-list">
                <li th:each="entry: ${title.continues}">
                    <a th:href="${@link.to(entry.ceased)}" th:text="${entry.ceased.name}">Previous title</a>
                </li>
            </ul>
        </div>

        <p>
        <div th:if="${!title.continuedBy.isEmpty()}">
            Continued by:
            <ul class="title-list">
                <li th:each="entry: ${title.continuedBy}">
                    <a th:href="${@link.to(entry.continues)}" th:text="${entry.continues.name}">Next title</a>
                </li>
            </ul>
        </div>

        <div>
            <h4>Status</h4>
            <div>
                <span class="status" th:text="${title.status.name}" th:classappend="${'status-' + title.status.name.replace(' ','-')}">ceased</span>
                <th:block th:if="${title.unableToArchive}">
                    · <span class="unable-to-archive">unable to archive</span>
                </th:block>
            </div>
            <div th:if="${title.statusReason != null}" th:text="${title.statusReason.name}" style="color: #777"></div>
            <div th:if="${title.disappeared}" style="color: #f77">No longer online</div>
            <p></p>
            <details>
                <summary>Schedule: <span th:text="${title?.gather?.schedule?.name}">Weekly</span> <span
                        th:text="${title?.gather?.method?.name}">Heritrix</span> gather
                </summary>
                <div th:if="${title?.gather?.nextGatherDate != null}">Next gather date:
                    <time th:text="${dateFormat.format(title.gather.nextGatherDate)}"></time>
                </div>
                <div>Command: <span th:text="${title?.gather?.buildHttrackCommand()}"></span></div>
            </details>
            <p style="font-style: italic" th:each="collection: ${title.collections}"
               th:unless="${collection.gatherSchedule == null || collection.gatherSchedule.isNone() || title.status.isCeased()}">
                Gathered <strong th:text="${collection.gatherSchedule.name}">Daily</strong> as part of
                <a th:href="@{/collections/{id}(id=${collection.id})}" th:text="${collection.fullName}"
                   class="collection-link">Cool Sites</a>
            </p>
        </div>


        <div>
            <h4>Cataloguing</h4>
            <div>Format: <span th:text="${title.format.name}"></span></div>
            <div th:if="${title.anbdNumber != null}">ANBD No: <a
                    th:href="@{|https://nla.gov.au/anbd.bib-an${title.anbdNumber}|}" th:text="${title.anbdNumber}"></a>
            </div>
            <div th:if="${title.localDatabaseNo != null}">Local DB No: <span th:text="${title.localDatabaseNo}"></span>
            </div>
            <div th:if="${title.localReference != null}">Local Ref: <span th:text="${title.localReference}"></span>
            </div>
        </div>

        <div>
            <h4>Owner</h4>
            <div th:if="${title.owner != null}">
                Owner: <a th:href="${@link.to(title.owner)}" th:text="${title?.owner?.fullName}"></a>
                <a th:href="${@link.to(title) + '/ownerhistory'}" href="TitleOwnerHistory.html"><i class="icon history"></i></a>
                <a th:href="@{|/titles/${title.id}/transfer|}"><i class="icon edit"></i></a>
            </div>
            <div>Agency: <a th:href="${@link.to(title.agency)}" th:text="${title.agency.name}">National Library</a></div>
            <div>Registered: <span th:text="${dateFormat.format(title.regDate)}"></span></div>
        </div>

        <div>
            <h4>Notes</h4>
            <div th:text="${title.notes}" style="white-space: pre-wrap"></div>
        </div>


        <div th:if="${title.tep != null}">
            <h4>Issues <a th:href="@{|/titles/${title.id}/issues|}"><i class="icon edit"></i></a></h4>
            <section th:each="issueGroup: ${issueGroups}">
                <h5 th:if="${issueGroup.name != '-None-'}" th:text="${issueGroup.name}">Issue Group</h5>
                <ul>
                    <li th:each="issue: ${issueGroup.issues}"><a th:href="${@link.delivery(issue)}" th:text="${issue.name}">Volume 1</a></li>
                </ul>
            </section>
        </div>
    </div>

    <div class="panel-instance-list">
        <table>
            <tr>
                <td></td>
                <td th:if="${deletedInstancesCount > 0}" style="padding-bottom: 32px"><label><input id="showDeletedCheckbox" type="checkbox"> Show
                    deleted instances (<th:block th:text="${deletedInstancesCount}"/>) </label></td>
            </tr>
            <tr th:each="year : ${instancesByYear}">
                <td class="instance-year" th:text="${year.key}">2021</td>
                <td class="instance-list">
                    <a th:each="instance : ${year.value}"
                       th:href="${@link.to(instance)}" th:class="${'instance-' + instance.state.name}">
                        <!--suppress HtmlRequiredAltAttribute -->
                        <img src="#" th:src="@{|/instances/${instance.id}/thumbnail|}" alt="">
                        <div th:text="${instanceDateFormat.format(instance.date)}"></div>
                        <div class="size"
                             th:text="${instance.gather == null || instance.gather.size == null ? '' : T(org.apache.commons.io.FileUtils).byteCountToDisplaySize(instance.gather.size)}"></div>
                        <div class="state" th:if="${instance.state.name != 'archived'}"
                             th:text="${instance.state.name}"></div>
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <script>
        function showHideDeleted() {
            const value = document.getElementById("showDeletedCheckbox").checked ? 'block' : 'none';
            document.querySelectorAll('.instance-deleted').forEach(el => el.style.display = value);
        }

        document.getElementById("showDeletedCheckbox").addEventListener('change', showHideDeleted);
        showHideDeleted();
    </script>
</main>
