<!doctype html>
<html lang=en xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Titles - PANDAS</title>
    <link rel="stylesheet" href="../static/assets/Global.css" th:href="@{/assets/Global.css}">
    <link rel="stylesheet" href="../static/assets/TitleSearch.css" th:href="@{/assets/TitleSearch.css}">
    <link rel="stylesheet" href="../static/assets/Filters.css" th:href="@{/assets/Filters.css}">
    <script src="../static/assets/Global.js" th:src="@{/assets/Global.js}" defer></script>
</head>
<body>
<nav th:replace="~{_layout.html :: sidebar (activeItem='Titles')}"></nav>
<main class="search">
    <form id="sf" th:action="@{/titles}">
        <!-- hidden default submit button (otherwise the export buttons will be the default!) -->
        <button type=submit style="visibility: hidden; position: absolute; top: -1000px"></button>
    </form>

    <header>
        <nav>
            <a th:href="@{/titles/new}" href="TitleEdit.html" data-keybind=t class="btn btn-primary"><i class="icon add"></i> Add website</a>
            <span style="width: 2rem; display: inline-block"></span>
            <button type="submit" th:formaction="@{/titles.csv}" form=sf>Export CSV</button>
            <button type="submit" th:formaction="@{/titles.mrc}" form=sf>Export MARC</button>
            <button type="submit" th:formaction="@{/titles.mrc.txt}" form=sf>Export MARC (text)</button>
            <span style="width: 2rem; display: inline-block"></span>
            <button sec:authorize="hasAuthority('PRIV_BULK_EDIT_TITLES')"
                    th:formaction="@{/titles/bulkchange}"
                    th:disabled="${results.getTotalElements() > @config.bulkChangeLimit}"
                    th:title="${results.getTotalElements() > @config.bulkChangeLimit} ?
                            'Bulk changes are limited to ' + ${@config.bulkChangeLimit} +' titles.'"
                    class="btn-secondary" form=sf>Bulk Change</button>
        </nav>
        <input type=search name="q" th:value="${q}" placeholder="Search Titles" data-keybind="f" form=sf>
    </header>

    <aside class="filters" th:fragment="filters">
        <header>
            <h3>Filters</h3>
            <button form="sf" class="btn btn-primary" id="filter-clear-button">Clear</button>
        </header>
        <details th:each="filter: ${filters}" th:if="${filter.visible}" th:open="${filter.active}" open>
            <summary>
                <th:block th:text="${filter.name}">Subject</th:block>
                <input form="sf" type="search" th:if="${filter.searchable}" th:value="${filter.search}"
                       th:name="|${filter.param}.name|" placeholder="Search..."></summary>
            <fieldset th:if="${filter.type == 'date'}" class="date-range">
                <!--suppress ThymeleafVariablesResolveInspection -->
                <input form="sf" th:name="${filter.param + '.start'}" th:value="${filter.start}" type=date>
                <span>&mdash;</span>
                <!--suppress ThymeleafVariablesResolveInspection -->
                <input form="sf" th:name="${filter.param + '.end'}" th:value="${filter.end}" type=date><br>
                <label><input form="sf" type="checkbox" th:name="${filter.param + '.never'}" th:checked="${filter.never}"> Never</label><br>
                <button form="sf" type=submit class="btn btn-primary btn-sm">Apply</button>
            </fieldset>
            <fieldset th:if="${filter.type == 'entity'}">
                <label th:each="entry: ${filter.entries}">
                    <input form="sf" type=checkbox th:name="${filter.param}" th:value="${entry.id}"
                           th:checked="${entry.active}">
                    <th:block th:text="${entry.name}">Sport</th:block>
                    <th:block th:if="${entry.count != null}"
                              th:text="|(${#numbers.formatInteger(entry.count, 0, 'COMMA')})|">(2,321)
                    </th:block>
                </label>
            </fieldset>
        </details>
    </aside>

    <section class="results">
        <header>
            Found <strong th:text="${#numbers.formatInteger(results.getTotalElements(), 0, 'COMMA')}">16</strong>
            matching titles.

            <label>
                Sort by:
                <select form="sf" name="sort" class="auto-submit" data-default="Relevance">
                    <option th:each="ordering : ${orderings}" th:text="${ordering}" th:selected="${ordering.equals(sort)}">Relevance</option>
                </select>
            </label>

            <label>
                Page size:
                <select form="sf" name="size" class="auto-submit" data-default="20">
                    <option th:selected="${results.size == 20}">20</option>
                    <option th:selected="${results.size == 100}">100</option>
                    <option th:selected="${results.size == 1000}">1000</option>
                </select>
            </label>
        </header>
        <ol start="${results.pageable.offset + 1}">
            <li th:each="title: ${results}">
                <div class="title-card" th:fragment="title-card" th:with="omitCollection = ${omitCollection ?: null}">
                    <a th:href="${@link.to(title)}"><img th:src="@{|/titles/${title.id}/thumbnail/image|}"></a>
                    <div class="title-card-text" th:fragment="title-card-text">
                        <header>
                            <strong><a th:href="${@link.to(title)}" th:text="${title.name}" href="TitleView.html">Sydney
                                2000</a></strong>
                            <nav>
                                <a class="live-url" th:if="${title.titleUrl != null}" th:href="${title.titleUrl}"
                                   th:text="${#strings.abbreviate(title.titleUrl.replaceFirst('^https?://(www\\.)?', ''), 80)}"
                                   href="http://www.olympics.com/" target="_blank">olympics.com</a>
                                <a th:if="${title.pi != null}" th:href="|https://webarchive.nla.gov.au/tep/${title.pi}|"
                                   href="https://webarchive.nla.gov.au/tep/10194">TEP</a>
                                <a th:if="${title.titleUrl != null}"
                                   th:href="|https://webarchive.nla.gov.au/awa/*/${title.titleUrl}|"
                                   href="https://webarchive.nla.gov.au/awa/*/www.olympics.com/">CAL</a>
                            </nav>
                            <button th:with="isFlagged=${@userService.currentUser.flaggedTitles.contains(title)}"
                                    th:formaction="${isFlagged ? @link.unflag(title) : @link.flag(title)}"
                                    type="submit" class="title-flag" th:classappend="${isFlagged} ? 'active'"></button>
                        </header>
                        <div>
                            <ul class="subject-list">
                                <li th:each="subject: ${title.subjects}">
                                    <a th:href="@{/subjects/{id}(id=${subject.id})}" th:text="${subject.name}"
                                       href="SubjectView.html">Sport</a>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <ul class="collection-list">
                                <li th:each="collection: ${title.collections}" th:unless="${collection == omitCollection}">
                                    <a th:href="@{/collections/{id}(id=${collection.id})}" th:text="${collection.fullName}"
                                       href="CollectionView.html">National peak sporting bodies</a>
                                </li>
                            </ul>
                        </div>
                        <footer>
                            <th:block th:fragment="title-card-footer">
                                <span class="status" th:text="${title.status.name}" th:classappend="${'status-' + title.status.name.replace(' ','-')}">ceased</span> ·
                                <th:block th:if="${title.unableToArchive && !title.disappeared}">
                                    <span class="unable-to-archive">unable to archive</span> ·
                                </th:block>
                                <th:block th:if="${title.disappeared}">
                                    <span class="no-longer-online">no longer online</span> ·
                                </th:block>
                                <th:block th:if="${title.gather != null && title.gather.schedule != null && title.gather.schedule.name != 'None'}">
                                    <span class="schedule" th:text="${title.gather.schedule.name}">Weekly</span>
                                    <span class="method" th:text="${title.gather.method.name}">HTTrack</span> ·
                                </th:block>
                                <a th:if="${title.publisher != null}" th:href="${@link.to(title.publisher)}"
                                      th:text="|${title.publisher.organisation.name}, |">
                                    International Olympic Committee
                                </a>
                                <time th:datetime="${title.regDate}" class="regdate" th:text="${title.regDateLocal.getYear()}">2000</time> ·
                                <span class="owner" th:if="${title.owner != null}"><a th:href="${@link.to(title.owner)}" th:text="${title.owner.userid}">aosborne</a></span>
                                <a th:if="${title.agency != null}" class="agency" th:href="${@link.to(title.agency)}" th:text="${title?.agency?.organisation?.alias}">NLA</a>
                            </th:block>
                        </footer>
                    </div>
                </div>
            </li>
            <li th:remove="all">
                <img>
                <div>
                    <header>
                        <strong><a href="TitleView.html">Sydney 2000</a></strong>
                    </header>
                    <div>
                        <ul class="subject-list">
                            <li>
                                <a href="SubjectView.html">Sport</a>
                            </li>
                        </ul>
                        <span>&mdash; International Olympic Committee</span>
                    </div>
                    <footer>
                        <span class="regdate">2000-04-01</span> ·
                        <span class="status">ceased</span> ·
                        <span class="owner">aosborne</span>
                        <span class="agency">NLA</span>
                    </footer>
                </div>
            </li>
        </ol>
        <nav class="pagination">
            <button form="sf" type="submit" name="page" class="btn btn-secondary" data-keybind=","
                    th:value="${results.hasPrevious() ? results.previousPageable().pageNumber : ''}"
                    tabindex="-1" th:disabled="${!results.hasPrevious()}"><i class="icon previous"></i>Previous</button>
            <button form="sf" type="submit" name="page" class="btn btn-secondary" data-keybind="."
                    th:value="${results.hasNext() ? results.nextPageable().pageNumber : ''}"
                    th:disabled="${!results.hasNext()}">Next<i class="icon icon-right next"></i></button>
        </nav>
    </section>
</main>
<script th:src="@{/assets/Search.js}" src="../static/assets/Search.js"></script>