<!doctype html>
<html lang=en xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="${form.id == null ? 'New Title - PANDAS' : 'Edit Title - PANDAS'}">Edit Title - PANDAS</title>
    <link rel="stylesheet" href="../static/assets/Global.css" th:href="@{/assets/Global.css}">
    <script src="../static/assets/Global.js" th:src="@{/assets/Global.js}" defer></script>
</head>
<body>
<nav th:replace="_layout.html :: sidebar"></nav>
<main>
    <form method=post class=form th:object="${form}" th:action="@{/titles}" onsubmit="return !!window.loaded">
        <header>
            <div th:if="${form.id != null}">
                <button type="submit" data-keybind=s class="btn btn-primary"><i class="icon save"></i>Save</button>
                <button onclick="history.back(); return false" data-keybind=Escape class="btn btn-secondary"><i class="icon cancel"></i>Cancel</button>
            </div>
            <button th:if="${form.id != null}" type="submit" th:formaction="@{|/titles/${form.id}/delete|}"
                    class="btn btn-danger float-right"><i class="icon delete"></i>Delete</button>
        </header>

        <input type=hidden th:field="*{id}">
        <input type=hidden name="backlink" th:value="${backlink}">

        <div th:if="${form.id == null}">
            <h2 style="margin-top: 0; margin-bottom: var(--gutter)">Archive an Australian Website</h2>
            <p>
                Use this form to add a website or web page to the Australian Web Archive.
                <th:block sec:authorize="!hasAuthority('PRIV_SELECT_TITLES')">
                    Submissions are reviewed by the web archiving team.
                </th:block>
            </p>

            <div style="padding: var(--gutter); background: #f7f7f7">
                Under legal deposit the National Library archives websites:
                <ul>
                    <li>That have a .au web address; or
                    <li>That are published in Australia; or
                    <li>That the Director-General of the NLA determines should be included in the collection.
                </ul>
                We are unable to include in the web archive:
                <ul style="margin-bottom: 0">
                    <li>Sites that are predominantly audio-visual such as music or video streaming services.
                    <li>Pages behind a login or otherwise not publicly accessible.
                </ul>
            </div>

            <p style="margin-bottom: 0; color: #555"><span style="font-size: 140%; margin-top: -2px; float: left; margin-left: 4px; margin-right: 12px">🛈</span>
                Due to technical and legal constraints, some websites or web pages may not be archived, may appear
                incomplete or may not function exactly as the original.
            </p>
        </div>

        <fieldset>

            <div>
                <label style="flex-grow: 1">
                    Web address (URL)
                    <input th:field="*{titleUrl}" required class="form-control">
                </label>
                <label sec:authorize="hasRole('stduser')" style="width: 150px">Status
                    <select th:field="*{status}" onchange="updateReasons()" th:data-current="${form.status.id}">
                        <option th:each="status: ${statusList}" th:value="${status.id}" th:text="${status.name}">Selected</option>
                    </select>
                </label>
                <label style="display: none">Reason
                    <select th:field="*{reason}" id=reason>
                        <option hidden value=""></option>
                        <option th:each="reason: ${@reasonRepository.findAllByOrderByName()}" hidden
                                th:text="${reason.name}" th:value="${reason.id}" th:data-status="${reason.status.id}"></option>
                    </select>
                    <script>
                        function updateReasons() {
                            let reasonSelect = document.getElementById("reason");
                            let statusId = document.getElementById("status").value;
                            reasonSelect.parentElement.style.display = 'none';
                            reasonSelect.value = "";

                            // if the selected status is the current status, hide the reason field
                            if (statusId === document.getElementById("status").dataset.current) {
                                return;
                            }

                            // otherwise show only the relevant options
                            for (let i = 0; i < reasonSelect.options.length; i++) {
                                let option = reasonSelect.options[i];
                                if (option.dataset.status === statusId) {
                                    option.hidden = false;
                                    reasonSelect.parentElement.style.display = '';
                                    if (option.text === 'Other') {
                                        reasonSelect.selectedIndex = i;
                                    }
                                } else {
                                    option.hidden = true;
                                }
                            }
                        }
                    </script>
                </label>
            </div>
            <div id="fetchAlert" class="alert-warning" style="display: none"></div>
            <div id="duplicateAlert" class="alert-warning" style="display: none"></div>
            <div>
                <label style="flex-grow: 1">
                    Name
                    <input th:field="*{name}" required class="form-control"></label>
                <label sec:authorize="hasRole('stduser')" style="width: 150px">Format
                    <select th:field="*{format}">
                        <option th:each="fmt: ${allFormats}" th:text="${fmt.name}" th:value="${fmt.id}"
                                th:selected="${fmt == format}">Integrating</option>
                    </select>
                </label>
            </div>
        </fieldset>

        <fieldset style="flex-grow: 1">
            <legend>Metadata</legend>
            <label>
                Subjects
                <select th:field="*{subjects}" id="subjects" multiple>
                    <option th:each="subject: ${allSubjects}" th:value="${subject.id}" th:text="${subject.name}"
                            th:style="'padding-left:' + ${subject.depth * 16 + 10} + 'px'"
                            th:data-fullname="${subject.fullName}">Arts
                    </option>
                </select>
            </label>
            <label>
                Collections (optional)
                <select th:field="*{collections}" id="collections" multiple>
                    <option th:each="collection: ${form.collections}" th:value="${collection.id}"
                            th:text="${collection.fullName}" selected>Arts
                    </option>
                    <option th:each="collection: ${suggestedCollections}" th:value="${collection.id}"
                            th:text="${collection.fullName}"></option>
                </select>
            </label>
            <label sec:authorize="hasRole('stduser')">
                Publisher
                <input id="publisherId" type="hidden" name="publisher" th:value="*{publisher?.id}">
                <input id="publisherName" type="hidden" name="publisherName">
                <select id="publisher">
                    <option selected th:if="${form.publisher != null}" th:text="${form.publisher.name}" th:value="${form.publisher.id}"></option>
                </select>
            </label>
            <label id="publisherTypeLabel" style="display:none">
                Publisher Type:
                <select id="publisherType" name="publisherType">
                    <option></option>
                    <option th:each="type : ${allPublisherTypes}" th:value="${type.id}" th:text="${type.name}" th:data-domainsuffixes="${type.domainSuffixes}"></option>
                </select>
            </label>
            <label sec:authorize="hasRole('stduser')"><input type=checkbox th:field="*{legalDeposit}"> Collect under legal deposit</label><br>
            <details sec:authorize="hasRole('stduser')" th:open="${form.anbdNumber != null || form.localReference != null || form.localDatabaseNo != null}">
                <summary>Cataloguing</summary>
                <label><input type=checkbox th:field="*{cataloguingNotRequired}"> Cataloguing not required</label>
                <div>
                    <label>ANBD No. <input th:field="*{anbdNumber}"></label>
                    <label>Local Reference No. <input th:field="*{localReference}"></label>
                    <label>Local Database No. <input th:field="*{localDatabaseNo}"></label>
                </div>
            </details>
        </fieldset>

        <fieldset>
            <legend>Gather</legend>

            <div th:each="collection: ${form.collections}" th:unless="${collection.gatherSchedule == null || collection.gatherSchedule.isNone() || form.status.isCeased()}"
                 style="color: #555; margin-bottom: 8px; font-style: italic; ">
                Also gathered <strong th:text="${collection.gatherSchedule.name}">Daily</strong> as part of
                <a th:href="@{/collections/{id}(id=${collection.id})}" th:text="${collection.fullName}" class="collection-link">Cool Sites</a>
            </div>

            <label>What to collect
                <div style="margin-top: 4px; display: flex; gap: 16px">
                    <label th:each="scope : ${allScopes}">
                        <input type=radio name=scope th:checked="${form.scope == scope}" th:value="${scope.id}">
                        <th:block th:text="${scope.name}">All pages on this website</th:block>
                    </label>
                </div>
            </label>

            <th:block sec:authorize="hasRole('stduser')">
                <div>
                    <label>Schedule
                        <select th:field="*{gatherSchedule}">
                            <option th:each="schedule: ${allGatherSchedules}" th:value="${schedule.id}"
                                    th:text="${schedule.name}">Weekly
                            </option>
                        </select>
                    </label>
                    <label>One-off<br>
                        <input type="date" id="oneoffDateInput"> <input type=time id="oneoffTimeInput">
                        <button onclick="addOneoffDate()" type=button>Add</button>
                    </label>
                </div>
                <ul id="oneoffDatesList" th:style="${form.oneoffDates.isEmpty() ? 'display:none' : 'display:block'}" >
                    <li th:each="date: *{oneoffDates}">
                        <time th:datetime="${date}" th:text="${date}"></time>
                        <button class="btn btn-danger" onclick="deleteOneoff(this.parentNode)" type=button>Remove</button>
                        <input type=hidden name="oneoffDates" th:value="${date}">
                    </li>
                </ul>
                <script>
                    document.querySelectorAll("#oneoffDatesList time").forEach(el => el.textContent = new Date(el.dateTime).toLocaleString());

                    function deleteOneoff(el) {
                        el.remove();
                        console.log(document.getElementById('oneoffDatesList').querySelector('li'));
                        if (!document.getElementById('oneoffDatesList').querySelector('li')) {
                            document.getElementById('oneoffDatesList').style.display = 'none';
                        }
                    }

                    function addOneoffDate() {
                        var dateInput = document.getElementById('oneoffDateInput').valueAsDate;
                        var timeInput = document.getElementById('oneoffTimeInput').valueAsDate;
                        var date = new Date();
                        date.setMilliseconds(0);
                        if (dateInput) {
                            date.setFullYear(dateInput.getUTCFullYear(), dateInput.getUTCMonth(), dateInput.getUTCDate());
                        }
                        if (timeInput) {
                            date.setHours(timeInput.getUTCHours(), timeInput.getUTCMinutes(), timeInput.getUTCSeconds());
                        } else {
                            date.setHours(0, 0, 0);
                        }
                        const iso = date.toISOString().replace(".000Z", "Z");
                        if (document.getElementById('oneoffDatesList').querySelector('time[datetime="' + iso +'"]')) {
                            return; // don't allow duplicates
                        }
                        document.getElementById('oneoffDatesList').insertAdjacentHTML('beforeend',
                            '<li><time datetime="' + iso + '">' + date.toLocaleString() + '</time> ' +
                            '<button class="btn btn-danger" onclick="deleteOneoff(this.parentNode)" type=button>Remove</button>' +
                            '<input type=hidden name=oneoffDates value="' + iso + '"></li>');
                        document.getElementById('oneoffDatesList').style.display = 'block';
                    }
                </script>

                <label>Method
                    <select th:field="*{gatherMethod}">
                        <option th:each="method: ${allGatherMethods}" th:value="${method.id}" th:text="${method.name}">
                            Heritrix
                        </option>
                    </select>
                </label>

                <details th:open="${form.seedUrls != form.titleUrl}">
                    <summary>Crawl options</summary>
                    <label style="margin: var(--gutter) 0">Profile
                        <select th:field="*{activeProfile}" id="activeProfile">
                            <option value=""></option>
                            <option th:each="profile: ${allProfiles}" th:value="${profile.id}" th:text="${profile.name}"
                                    th:data-gathermethod="${profile.gatherMethod?.id}" th:data-default="${profile.default ? true : null}">
                                Pandas Defaults
                            </option>
                        </select>
                        <script>
                            let profileSelect = document.getElementById("activeProfile");
                            let gatherMethodSelect = document.getElementById("gatherMethod");

                            // if gather method is changed to a method unsupported by current profile, select default profile
                            gatherMethodSelect.addEventListener("change", function(event) {
                                let profileGatherMethodId = profileSelect.selectedOptions[0].dataset.gathermethod;
                                if (profileGatherMethodId && profileGatherMethodId !== gatherMethodSelect.value) {
                                    for (let option of profileSelect.options) {
                                        if (option.dataset['default']) {
                                            profileSelect.value = option.value;
                                            break;
                                        }
                                    }
                                }
                            });

                            // select the appropriate method for the selected profile
                            profileSelect.addEventListener("change", function(event) {
                                let methodId = event.target.selectedOptions[0].dataset.gathermethod;
                                if (methodId) {
                                    document.getElementById('gatherMethod').value = methodId;
                                }
                            });
                        </script>
                    </label>

                    <label>
                        Seed URLs:
                        <textarea th:field="*{seedUrls}"></textarea>
                    </label>
                </details>
            </th:block>
        </fieldset>
        <style>
            #oneoffDatesList:empty {
                margin:0;
            }
            .help-text {
                margin: 4px 0;
            }
        </style>
        <label>
            <th:block sec:authorize="hasAuthority('PRIV_SELECT_TITLES')">Notes</th:block>
            <th:block sec:authorize="!hasAuthority('PRIV_SELECT_TITLES')">Note for the web archiving team</th:block>
            <textarea th:field="*{notes}" rows=5></textarea>
        </label>

        <div th:if="${form.id == null}">
            <button type="submit" data-keybind=s class="btn btn-primary"><i class="icon save"></i>Save</button>
            <button onclick="history.back(); return false" data-keybind=Escape class="btn btn-secondary"><i class="icon cancel"></i>Cancel</button>
            <button th:if="${form.id != null}" type="submit" th:formaction="@{|/titles/${form.id}/delete|}"
                    class="btn btn-danger float-right" style="float: right"><i class="icon delete"></i>Delete</button>
        </div>

    </form>
</main>
<link rel=stylesheet th:href="@{/webjars/slim-select/1.24.0/dist/slimselect.css}" href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.24.0/slimselect.css">
<script th:src="@{/webjars/slim-select/1.24.0/dist/slimselect.js}" src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.24.0/slimselect.js"></script>
<script th:inline="javascript">
    var titleCheckEndpoint = /*[[@{/titles/check}]]*/ '../titles/check';
    var pageinfoEndpoint = /*[[@{/pageinfo}]]*/ '../pageinfo';
    var publishersEndpoint = /*[[@{/publishers.json}]]*/ '../publishers.json';
    var collectionsEndpoint = /*[[@{/collections.json}]]*/ '../collections.json';
    const thisTitleId = /*[[${form.id ?: null}]]*/ null;

    new SlimSelect({
        select: '#subjects',
        searchFilter: function (option, search) {
            return option.data['fullname'].toLowerCase().indexOf(search.toLowerCase()) !== -1;
        }
    });
    new SlimSelect({
        select: '#collections',
        ajax: function (search, callback) {
            if (!search) return callback(false);
            fetch(collectionsEndpoint + "?q=" + encodeURIComponent(search) + "&size=100")
                .then(response => response.json())
                .then(results => callback(results.map(collection => ({value: collection.id, text: collection.fullName}))))
                .catch(error => callback(false));
        },
    });
    let titleUrlField = document.getElementById("titleUrl");

    let publisherSelect = null;
    if (document.getElementById("publisher")) {
        publisherSelect = new SlimSelect({
            select: '#publisher',
            allowDeselect: true,
            addable: function (value) {
                return {
                    text: value,
                    value: "new" // I'd prefer to use null/empty-string but slim-js then overrides it with the text
                };
            },
            ajax: function (search, callback) {
                if (!search) {
                    callback(false);
                    return;
                }
                fetch(publishersEndpoint + "?q=" + encodeURIComponent(search) + "&size=100")
                    .then(response => response.json())
                    .then(results => {
                        callback(results.map(publisher => {
                            return {
                                value: publisher.id,
                                text: publisher.name
                            }
                        }));
                    }).catch(error => {
                    console.log("Publisher search failed: ", error);
                    callback(false)
                });
            },
            onChange: function (info) {
                if (info.value === "new") {
                    document.getElementById("publisherId").value = "";
                    document.getElementById("publisherName").value = info.text;
                    document.getElementById("publisherType").selectedIndex = 0;
                    document.getElementById("publisherType").required = true;
                    document.getElementById("publisherTypeLabel").style.display = "inherit";

                    const urlString = titleUrlField.value;
                    if (urlString) {
                        const host = new URL(urlString).host;
                        const publisherTypeOptions = document.getElementById("publisherType").options;

                        // try to preselect an appropraite publisher type based on the domain suffix
                        outer:
                            for (let i = 0; i < publisherTypeOptions.length; i++) {
                                const option = publisherTypeOptions[i];
                                if (option.dataset.domainsuffixes) {
                                    for (const suffix of option.dataset.domainsuffixes.split(/ +/)) {
                                        if (host.endsWith(suffix)) {
                                            document.getElementById("publisherType").selectedIndex = i;
                                            break outer;
                                        }
                                    }
                                }
                            }
                    }
                } else {
                    document.getElementById("publisherId").value = info.value === undefined ? "" : info.value;
                    document.getElementById("publisherName").value = "";
                    document.getElementById("publisherType").selectedIndex = 0;
                    document.getElementById("publisherType").required = false;
                    document.getElementById("publisherTypeLabel").style.display = "none";
                }
            }
        });
    }
    function nameChanged() {
        if (publisherSelect && !publisherSelect.selected()) {
            publisherSelect.search(document.getElementById("name").value);
        }
    }
    document.getElementById("name").addEventListener("change", nameChanged);

    function titleUrlChanged () {
        // document.getElementById("urlInfo").innerText = "Loading...";
        // document.getElementById("urlInfo").style.color = "#555";
        // document.getElementById("urlInfo").parentElement.style.display = 'block';

        let fetchAlert = document.getElementById("fetchAlert");
        fetchAlert.innerHTML = '';
        fetchAlert.style.display = 'none'
        document.getElementById("duplicateAlert").innerHTML = '';
        document.getElementById("duplicateAlert").style.display = 'none'

        if (!titleUrlField.value.match(/^[a-z]+:\/\//)) {
            titleUrlField.value = "http://" + titleUrlField.value;
        }

        fetch(titleCheckEndpoint + "?url=" + encodeURIComponent(titleUrlField.value))
            .then(response => response.json())
            .then(titles => {
                titles = titles.filter(title => title.id !== thisTitleId);
                if (titles.length === 0) return;
                let warningDiv = document.getElementById("duplicateAlert");
                warningDiv.innerHtml = '';
                warningDiv.style.display = 'block';
                warningDiv.appendChild(document.createTextNode("We have some other records for this website: "));
                const list = document.createElement("ul");
                warningDiv.appendChild(list);
                for (let title of titles) {
                    let link = document.createElement("a");
                    link.href = "../titles/" + title.id;
                    link.innerText = title.name;
                    link.target = "_blank";
                    let item = document.createElement("li");
                    item.appendChild(link);
                    list.appendChild(item);
                }

                let link = document.createElement("a");
                link.href = "../titles?q=" + encodeURIComponent(titleUrlField.value);
                link.innerText = "More...";
                link.target = "_blank";
                warningDiv.appendChild(link);
            });

        fetch(pageinfoEndpoint + "?url=" + encodeURIComponent(titleUrlField.value))
            .catch(reason => console.log(reason))
            .then(response => response.json())
            .then(info => {
                function normalize(url) {
                    return url.replace(/^https?:\/\//, "").replace(/^www\./, "").replace(/\/+$/, "");
                }

                if (info.location && normalize(titleUrlField.value).localeCompare(normalize(info.location), 'en', { sensitivity: 'base' }) === 0) {
                    titleUrlField.value = info.location;
                    titleUrlChanged();
                    return;
                }

                let alertMessage = null;
                if (info.status === -1) {
                    alertMessage = `This website does not exist (DNS lookup failed).`;
                }else if (info.status === 403) {
                    alertMessage = `This website may be blocking us (${info.status} ${info.reason}).`;
                } else if (info.status === 404) {
                    alertMessage = `This web page does not exist (${info.status} ${info.reason}). Please check the address is correct.`;
                } else if (info.status >= 400) {
                    alertMessage = `This web page returned an error (${info.status} ${info.reason}).`;
                } else if (info.location) {
                    alertMessage = `This web address redirects to ${info.location}`;
                }

                if (alertMessage) {
                    fetchAlert.innerText = alertMessage;
                    fetchAlert.style.display = 'block';
                } else {
                    fetchAlert.innerText = '';
                    fetchAlert.style.display = 'nonew';
                }

                let nameTextbox = document.getElementById("name");
                if (!nameTextbox.value && info.title && info.status < 300) {
                    nameTextbox.value = info.title.replace(/^Home\s*[-:|]\s*/, '');
                    if (document.activeElement === nameTextbox) {
                        nameTextbox.select();
                    }
                    nameChanged();
                }
            });
    }
    titleUrlField.addEventListener("change", titleUrlChanged);
    if (titleUrlField.value !== "") {
        titleUrlChanged();
    }

    // we keep the form disabled until the page is fully loaded
    // otherwise it could be submitted with partial values which results in data loss
    window.loaded = true;
</script>