<!doctype html>
<html lang=en xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bulk Change - PANDAS</title>
    <link rel="stylesheet" href="../static/assets/Global.css" th:href="@{/assets/Global.css}">
    <script src="../static/assets/Global.js" th:src="@{/assets/Global.js}" defer></script></head>
<body>
<nav th:replace="~{_layout.html :: sidebar (activeItem='Titles')}"></nav>
<main>
    <h1>Bulk Change</h1>

    <p>Changed <span th:text="${count}">56</span> titles.</p>

    <h3>Change details:</h3>
    <p th:text="${form.toString()}"></p>

    <h3>Changed titles:</h3>
    <ul>
        <li th:each="title: ${form.titles}">
            <a th:href="${@link.to(title)}" th:text="${title.name}">My title</a>
        </li>
    </ul>
</main>