<!doctype html>
<html lang=en xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Bulk Title Change - PANDAS</title>
    <link rel="stylesheet" href="../static/assets/Global.css" th:href="@{/assets/Global.css}">
    <script src="../static/assets/Global.js" th:src="@{/assets/Global.js}" defer></script>
</head>
<body>
<nav th:replace="~{_layout.html :: sidebar (activeItem='Titles')}"></nav>
<main>
    <form method=post th:action="@{/titles/bulkchange}" th:object="${form}" id="titleBulkEditForm">
        <header>
            <div>
                <button type="submit" data-keybind=s class="btn btn-primary" id="actionSave"><i class="icon save"></i> <span>Change <span class="titleCount" th:text="${form.titles.size()}">42</span> titles</span></button>
                <button onclick="history.back(); return false" data-keybind=Escape class="btn btn-secondary"><i class="icon cancel"></i>Cancel</button>
            </div>
        </header>

        <h1>Bulk Title Change</h1>

        <div th:if="${disallowedTitleCount > 0}" class="alert-warning">
            <th:block th:text="${disallowedTitleCount}">42</th:block> titles were excluded because you do not have
            permission to edit them.
        </div>

        <details style="margin-top: 1em">
            <summary><span th:text="${form.titles.size()}" class="titleCount">42</span> titles selected</summary>
            <table>
                <thead>
                <tr>
                    <td><input id="selectAllTitles" type=checkbox checked></td>
                    <th>PI</th>
                    <th>Title</th>
                    <th>Owner</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="title: ${form.titles}">
                    <td>
                        <input type=checkbox name=titles th:field="*{titles}" th:value="${title.id}" checked>
                    </td>
                    <td><label th:for="${#ids.prev('titles')}" th:text="${title.pi}"></label></td>
                    <td><label th:for="${#ids.prev('titles')}" th:text="${title.name}"></label></td>
                    <td th:text="${title?.owner?.name ?: 'Nobody'}"></td>
                </tr>
                </tbody>
            </table>
        </details>

        <p class="formgrid">
            <th:block sec:authorize="hasAuthority('PRIV_BULK_EDIT_TITLES_ADVANCED')">
                <input type=checkbox id=editStatus th:field="*{editStatus}">
                <label for=editStatus>Status:</label>
                <span>
                    <select id=status th:field="*{status}" onchange="updateReasons()">
                        <option th:each="status: ${statusList}" th:text="${status.name}" th:value="${status.id}">
                            rejected
                        </option>
                    </select>
                    <label th:replace="~{TitleEdit.html :: reason}">Reason: </label>
                </span>

                <input type=checkbox id=editMethod th:field="*{editMethod}">
                <label for=editMethod>Gather Method:</label>
                <select id=method th:field="*{method}">
                    <option th:each="method: ${allGatherMethods}" th:text="${method.name}" th:value="${method.id}">
                        Heritrix
                    </option>
                </select>

                <input type=checkbox id=editProfile th:field="*{editProfile}">
                <label for=editProfile>Gather Profile:</label>
                <select id=profile th:field="*{profile}">
                    <option th:each="profile: ${@profileRepository.findAllByOrderByName()}"
                            th:text="${profile.name}" th:value="${profile.id}">
                        PANDAS Defaults
                    </option>
                </select>
            </th:block>

            <input type=checkbox id=editSchedule th:field="*{editSchedule}">
            <label for=editSchedule>Gather Schedule:</label>
            <select id=schedule th:field="*{schedule}">
                <option th:each="schedule: ${allGatherSchedules}" th:text="${schedule.name}" th:value="${schedule.id}">
                    Weekly
                </option>
            </select>

            <input type=checkbox id=editOneoffDate th:field="*{editOneoffDate}">
            <label for=editOneoffDate>Schedule One-Off Gather:</label>
            <input id=oneoffDate th:field="*{oneoffDate}" type="date"/>

            <th:block sec:authorize="hasAuthority('PRIV_BULK_EDIT_TITLES_ADVANCED')">
                <input type=checkbox id=editScope th:field="*{editScope}">
                <label for=editScope>Gather Scope:</label>
                <select id=scope th:field="*{scope}">
                    <option th:each="scope: ${allScopes}" th:text="${scope.name}" th:value="${scope.id}">
                        Just this page
                    </option>
                </select>
            </th:block>

            <input type=checkbox id=editOwner th:field="*{editOwner}">
            <label for=editOwner>Owner:</label>
            <select id=owner th:field="*{owner}">
                <option th:each="user: ${allUsers}" th:text="${user.name + ' [' + user?.role?.organisation?.alias + ']'}" th:value="${user.id}">John Smith</option>
            </select>

            <input type=checkbox id=editAnbdNumber th:field="*{editAnbdNumber}">
            <label for=editAnbdNumber>ANBD Number:</label>
            <input id=anbdNumber th:field="*{anbdNumber}">

            <th:block sec:authorize="hasAuthority('PRIV_BULK_EDIT_TITLES_ADVANCED')">
                <input type=checkbox id=editAddNote th:field="*{editAddNote}">
                <label for=editAddNote>Add Note:</label>
                <textarea id=addNote th:field="*{addNote}"></textarea>

                <span></span>
                <label for=subjectsToAdd>Add Subjects:</label>
                <select th:field="*{subjectsToAdd}" id="subjectsToAdd" multiple>
                    <option th:each="subject: ${@classificationService.allSubjects()}"
                            th:value="${subject.id}" th:text="${subject.name}"
                            th:style="'padding-left:' + ${subject.depth * 16 + 10} + 'px'"
                            th:data-fullname="${subject.fullName}">Arts
                    </option>
                </select>

                <span></span>
                <label for=subjectsToRemove>Remove Subjects:</label>
                <select th:field="*{subjectsToRemove}" id="subjectsToRemove" multiple>
                    <option th:each="subject: ${subjectsOnSelectedTitles}"
                            th:value="${subject.id}" th:text="${subject.name}"
                            th:style="'padding-left:' + ${subject.depth * 16 + 10} + 'px'"
                            th:data-fullname="${subject.fullName}">Arts
                    </option>
                </select>

                <span></span>
                <label for=collectionsToAdd>Add Collections:</label>
                <select th:field="*{collectionsToAdd}" id="collectionsToAdd" multiple>
                    <option th:each="collection: ${form.collectionsToAdd}" th:value="${collection.id}"
                            th:text="${collection.fullName}" selected>Arts
                    </option>
                </select>

                <span></span>
                <label for=collectionsToRemove>Remove Collections:</label>
                <select th:field="*{collectionsToRemove}" id="collectionsToRemove" multiple>
                    <option th:each="collection: ${collectionsOnSelectedTitles}"
                            th:value="${collection.id}" th:text="${collection.fullName}">Arts
                    </option>
                </select>
            </th:block>


        </p>

        <style>
            .formgrid {
                display: grid;
                grid-template-columns: 1em 200px 1fr;
                grid-gap: 1rem;
                align-items: center;
            }
        </style>

        <link rel=stylesheet th:href="@{/webjars/slim-select/1.24.0/dist/slimselect.css}" href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.24.0/slimselect.css">
        <script th:src="@{/webjars/slim-select/1.24.0/dist/slimselect.js}" src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.24.0/slimselect.js"></script>
        <script th:inline="javascript">
            var collectionsEndpoint = /*[[@{/collections.json}]]*/ '../collections.json';

            new SlimSelect({
                select: '#subjectsToAdd',
                hideSelectedOption: true,
                searchFilter: function (option, search) {
                    return option.data['fullname'].toLowerCase().indexOf(search.toLowerCase()) !== -1;
                }
            });

            new SlimSelect({
                select: '#subjectsToRemove',
                hideSelectedOption: true,
                searchFilter: function (option, search) {
                    return option.data['fullname'].toLowerCase().indexOf(search.toLowerCase()) !== -1;
                }
            });

            new SlimSelect({
                select: '#collectionsToAdd',
                hideSelectedOption: true,
                searchFilter: function (option, search) {
                    return true; // leave filtering to the backend
                },
                ajax: function (search, callback) {
                    if (!search) return callback(false);
                    fetch(collectionsEndpoint + "?q=" + encodeURIComponent(search) + "&size=100")
                        .then(response => response.json())
                        .then(results => callback(results.map(collection => ({value: collection.id, text: collection.fullName}))))
                        .catch(error => callback(false));
                },
            });

            new SlimSelect({
                select: '#collectionsToRemove',
                hideSelectedOption: true,
            });

            document.querySelectorAll("input[type=checkbox][id^=edit]").forEach(checkbox => {
                const inputId = checkbox.id.substr(4, 1).toLowerCase() + checkbox.id.substr(5);
                const input = document.getElementById(inputId);
                input.disabled = !checkbox.checked;
                checkbox.addEventListener("change", () => {
                    input.disabled = !checkbox.checked;
                    if (checkbox.checked) {
                        input.focus();
                    }
                    if (checkbox.id === "editStatus") {
                        updateReasons();
                    }
                });
            });

            function updateTitleCount() {
                const count = document.querySelectorAll("input[name=titles]:checked").length;
                document.querySelectorAll(".titleCount").forEach(span => {
                    span.textContent = count.toLocaleString();
                });
                document.getElementById("actionSave").disabled = (count === 0);
            }

            document.querySelectorAll("input[name=titles]").forEach(checkbox => {
                checkbox.addEventListener("change", () => {
                    updateTitleCount();
                });
            });

            document.getElementById("selectAllTitles").addEventListener("change", function () {
                document.querySelectorAll('input[name=titles]').forEach(cb => cb.checked = this.checked);
                updateTitleCount();
            });

            document.getElementById("titleBulkEditForm").addEventListener("submit", function () {
                return confirm("Are you certain you wish to bulk change " + document.querySelectorAll("input[name=titles]:checked").length + " titles?\n\nThis operation cannot be undone.")
            });
        </script>
    </form>
</main>