<!doctype html>
<html lang=en xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${'Transfer Ownership - ' + title.name + ' - PANDAS'}">Transfer Ownership - Example Title - PANDAS</title>
    <link rel="stylesheet" href="../static/assets/Global.css" th:href="@{/assets/Global.css}">
    <script src="../static/assets/Global.js" th:src="@{/assets/Global.js}" defer></script>
    <style>
        .current-details-table td {
            vertical-align: top;
        }
        .current-details-table th {
            vertical-align: top;
            text-align: right;
        }
    </style>
</head>
<body>
<nav th:replace="_layout.html :: sidebar (activeItem='Titles')"></nav>
<main>
    <header>
        <nav>
            <button type="submit" class="btn btn-primary" form=form><i class="icon save"></i> Transfer</button>
            <a href="javascript:history.back()" class="btn btn-secondary"><i class="icon cancel"></i> Cancel</a>
        </nav>
    </header>

    <form method=post id=form class=form th:action="@{''}">
        <fieldset>
            <div>
                <a th:href="${@link.to(title)}"><img th:src="${@link.thumbnail(title)}" width="150" height="100" alt=""></a>
                <div>
                    <table class="current-details-table">
                        <tr><th>Title:</th><td><a th:text="${title.name}" th:href="${@link.to(title)}">Example title</a> <span th:text="${'(nla.arc-' + title.pi + ')'}">(nla.arc-1234)</span></td>
                        <tr><th>Agency:</th><td><a th:if="${title.agency != null}" th:text="${title.agency.name}" th:href="${@link.to(title.agency)}">Example agency</a></td></tr>
                        <tr><th>Owner:</th><td><a th:if="${title.owner != null}" th:text="${title.owner.fullName}" th:href="${@link.to(title.owner)}">Example owner</a></td></tr>
                    </table>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Transfer to</legend>
            <label>New agency
                <select name=newAgency onchange="window.location.replace('?newAgency=' + this.value)">
                    <option th:each="agency : ${allAgencies}" th:text="${agency.name}" th:value="${agency.id}"
                            th:selected="${agency.id == newAgency.id}"></option>
                </select>
            </label>
            <label>New owner
                <select id=newOwner name=newOwner>
                    <option th:each="user : ${agencyUsers}" th:text="${user.name}" th:value="${user.id}"
                            th:selected="${newOwner != null && user.id == newOwner.id}"></option>
                </select>
            </label>
            <label>Transfer note
                <textarea id="note" name="note" rows="5"></textarea>
            </label>
        </fieldset>
    </form>
</main>
