<!doctype html>
<html lang=en xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title th:text="${'Issues - ' + title.name + ' - PANDAS'}">Issues - Example Title - PANDAS</title>
    <link rel="stylesheet" href="../static/assets/Global.css" th:href="@{/assets/Global.css}">
    <script src="../static/assets/Global.js" th:src="@{/assets/Global.js}" defer></script>

    <style>
        .drag-handle {
            cursor: move;
            user-select: none;
            color: #666666;
            text-align: center;
        }

        .issue input[name=name] {
            width: 100%;
            box-sizing: border-box;
        }

        .issue input[name=url] {
            width: 100%;
            min-width: 200px;
            box-sizing: border-box
        }

        .issue select[name=instance] {
            width: 100%;
        }

        .issue-group input[name=name] {
            width: 100%;
            box-sizing: border-box;
            font-weight: bold;
            font-size: 110%;
        }
    </style>
</head>
<body>
<nav th:replace="~{_layout.html :: sidebar (activeItem='Titles')}"></nav>
<main>
    <form method=post th:action="@{''}" onsubmit="return document.readyState !== 'loading'">
        <header>
            <nav>
                <button type="submit" data-keybind=s class="btn btn-primary"><i class="icon save"></i>Save</button>
                <button onclick="history.back(); return false" data-keybind="Escape" class="btn btn-secondary"><i class="icon cancel"></i> Cancel</button>
            </nav>
        </header>

        <nav class=breadcrumb>
            <ol>
                <li style="font-weight: bold">
                    <a th:href="@{/titles}" href="TitlesSearch.html">Titles</a></li>
                <li><a th:href="${@link.to(title)}" th:text="${title.name}" href="TitleView.html">Example title</a></li>
                <li class="active">Issues</li>
            </ol>
        </nav>

        <template id="issueTemplate">
            <tr class="issue">
                <td></td>
                <td class="drag-handle">⠿</td>
                <td>
                    <input name="type" value="Issue" type="hidden">
                    <input name="id" type="hidden">
                    <input name="name" placeholder="Issue name" required>
                </td>
                <td><input name="url" placeholder="URL" required></td>
                <td>
                    <select name="instance">
                        <option></option>
                        <option th:each="instance: ${title.instances}" th:value="${instance.id}"
                                th:text="${@dateFormats.SHORT_DATE_TIME.format(instance.date)}"></option>
                    </select>
                </td>
                <td><button type=button class="btn btn-danger btn-compact delete-issue-button"><i class="icon delete"></i></button></td>
            </tr>
        </template>

        <template id="issueGroupTemplate">
            <tr class="issue-group">
                <td class="drag-handle">⠿</td>
                <td colspan=2>
                    <input name="type" value="IssueGroup" type="hidden">
                    <input name="id" type="hidden">
                    <input name="name" placeholder="Group name" required>
                </td>
                <td>
                    <button type=button class="add-issue-button btn btn-secondary btn-compact"><i class="icon add"></i> Add issue</button>
                    <button type=button class="add-issue-group-button btn btn-secondary btn-compact"><i class="icon add"></i> Add group</button>
                </td>
                <td></td>
                <td><button type=button class="btn btn-danger btn-compact delete-issue-button"><i class="icon delete"></i></button></td>
            </tr>
        </template>
        <table id="issueTable" style="table-layout:fixed; width: 100%">
            <colgroup>
                <col style="width: 24px">
                <col style="width: 24px">
                <col style="width: 300px">
                <col>
                <col style="width: 200px">
                <col style="width: 48px">
            </colgroup>
            <tr>
                <td colspan=4>
                    <button type=button class="add-issue-button btn btn-secondary btn-compact"><i class="icon add"></i> Add issue</button>
                    <button type=button class="add-issue-group-button btn btn-secondary btn-compact"><i class="icon add"></i> Add group</button>
                </td>
            </tr>
            <th:block th:if="${title.tep != null}" th:each="group: ${issueGroups}">
                <tr class="issue-group" th:unless="${group.isNone()}">
                    <td class="drag-handle">⠿</td>
                    <td colspan=2>
                        <input name="type" value="IssueGroup" type="hidden">
                        <input name="id" th:value="${group.id}" type="hidden">
                        <input name="name" th:value="${group.name}" placeholder="Group name" required>
                    </td>
                    <td>
                        <button type=button class="add-issue-button btn btn-secondary btn-compact"><i class="icon add"></i> Add issue</button>
                        <button type=button class="add-issue-group-button btn btn-secondary btn-compact"><i class="icon add"></i> Add group</button>
                    </td>
                    <td></td>
                    <td><button type=button class="btn btn-danger btn-compact delete-issue-button"><i class="icon delete"></i></button></td>
                </tr>
                <tr class="issue" th:each="issue, i: ${group.issues}">
                    <td></td>
                    <td class="drag-handle">⠿</td>
                    <td>
                        <input name="type" value="Issue" type="hidden">
                        <input name="id" th:value="${issue.id}" type="hidden">
                        <input name="name" th:value="${issue.name}" required>
                    </td>
                    <td><input name="url" th:value="${issue.url}" required></td>
                    <td>
                        <select name="instance">
                            <option></option>
                            <option th:each="instance: ${title.instances}" th:value="${instance.id}"
                                    th:text="${@dateFormats.SHORT_DATE_TIME.format(instance.date)}"
                                    th:selected="${instance == issue.instance}"></option>
                        </select>
                    </td>
                    <td><button type=button class="btn btn-danger btn-compact delete-issue-button"><i class="icon delete"></i></button></td>
                </tr>
            </th:block>
        </table>
    </form>
</main>
<script th:src="@{/assets/TitleIssues.js}" src="../static/assets/TitleIssues.js"></script>
