<!doctype html>
<html lang=en xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="${form.id == null ? 'New Title - PANDAS' : 'Edit Title - PANDAS'}">Edit Title - PANDAS</title>
    <link rel="stylesheet" href="../static/assets/Global.css" th:href="@{/assets/Global.css}">
    <script src="../static/assets/Global.js" th:src="@{/assets/Global.js}" defer></script>
    <style>
        .publisher-select-item { gap: 4px; }
    </style>
</head>
<body>
<nav th:replace="~{_layout.html :: sidebar (activeItem='Titles')}"></nav>
<main>
    <form id="titleEditForm" method=post class=form th:object="${form}" th:action="@{/titles}"
          onsubmit="return !!window.loaded">
        <header>
            <div th:if="${form.id != null}">
                <button type="submit" class="btn btn-primary"><i class="icon save"></i>Save</button>
                <button onclick="history.back(); return false" data-keybind=Escape class="btn btn-secondary"><i
                        class="icon cancel"></i>Cancel
                </button>
            </div>
            <button th:if="${form.id != null}" type="submit" th:formaction="@{|/titles/${form.id}/delete|}"
                    class="btn btn-danger float-right"><i class="icon delete"></i>Delete
            </button>
        </header>

        <input type=hidden th:field="*{id}">
        <input type=hidden name="backlink" th:value="${backlink}">

        <div th:if="${created != null}" class="alert-info">
            <a th:text="${created.name}" th:href="${@link.to(created)}">Example Site</a> has been saved
        </div>

        <div th:if="${clonedFrom != null}" class="alert-info">
            Cloning from <a th:text="${clonedFrom.name}" th:href="${@link.to(clonedFrom)}">Example Site</a>
            <label style="margin-top: 8px">
                <input id="continuesCheckbox" type="checkbox" name="continues" th:value="${clonedFrom.id}">
                Link as the next in a series
            </label>
        </div>

        <div th:if="${form.id == null && clonedFrom == null}">
            <h2 style="margin-top: 0; margin-bottom: var(--gutter)">Archive an Australian Website</h2>
            <p>
                Use this form to add a website or web page to the Australian Web Archive.
                <th:block sec:authorize="!hasAuthority('PRIV_SELECT_TITLES')">
                    Submissions are reviewed by the web archiving team.
                </th:block>
            </p>

            <div style="padding: var(--gutter); background: #f7f7f7">
                Under legal deposit the National Library archives websites:
                <ul>
                    <li>That have a .au web address; or
                    <li>That are published in Australia; or
                    <li>That the Director-General of the NLA determines should be included in the collection.
                </ul>
                We are unable to include in the web archive:
                <ul style="margin-bottom: 0">
                    <li>Sites that are predominantly audio-visual such as music or video streaming services.
                    <li>Pages behind a login or otherwise not publicly accessible.
                </ul>
            </div>

            <p style="margin-bottom: 0; color: #555"><span style="font-size: 140%; margin-top: -2px; float: left; margin-left: 4px; margin-right: 12px">🛈</span>
                Due to technical and legal constraints, some websites or web pages may not be archived, may appear
                incomplete or may not function exactly as the original.
            </p>
        </div>

        <fieldset>

            <div>
                <label style="flex-grow: 1">
                    <span id="seedUrlsLabelText">Seed URL</span>
                    <span style="display: flex; gap: 2px">
                        <textarea th:field="*{seedUrls}" rows="1"></textarea>
                        <button id="urlPlusButton" type="button" class="btn btn-compact btn-secondary" style="height: 32px">➕</button>
                    </span>
                </label>
                <label sec:authorize="hasRole('stduser')" style="width: 150px">Status
                    <select th:field="*{status}" onchange="updateReasons()" th:data-current="${form.status.id}">
                        <option th:each="status: ${statusList}" th:value="${status.id}" th:text="${status.name}">Selected</option>
                    </select>
                </label>
                <label th:fragment="reason" style="display: none">Reason
                    <select th:field="*{reason}" id=reason>
                        <option hidden value=""></option>
                        <option th:each="reason: ${@reasonRepository.findAllByOrderByName()}" hidden
                                th:text="${reason.name}" th:value="${reason.id}"
                                th:data-status="${reason.status.id}"></option>
                    </select>
                    <script>
                        function updateReasons() {
                            updateCeasedWarning();

                            let reasonSelect = document.getElementById("reason");
                            let statusId = document.getElementById("status").value;
                            reasonSelect.parentElement.style.display = 'none';
                            reasonSelect.value = "";

                            // if the status field is disabled, hide the reason field
                            if (document.getElementById("status").disabled) {
                                return;
                            }

                            // if the selected status is the current status, hide the reason field
                            if (statusId === document.getElementById("status").dataset.current) {
                                return;
                            }

                            // otherwise show only the relevant options
                            for (let i = 0; i < reasonSelect.options.length; i++) {
                                let option = reasonSelect.options[i];
                                if (option.dataset.status === statusId) {
                                    option.hidden = false;
                                    reasonSelect.parentElement.style.display = '';
                                    if (option.text === 'Other') {
                                        reasonSelect.selectedIndex = i;
                                    }
                                } else {
                                    option.hidden = true;
                                }
                            }
                        }
                    </script>
                </label>
            </div>
            <div id="fetchAlert" class="alert-warning" style="display: none"></div>
            <div id="duplicateAlert" class="alert-warning" style="display: none"></div>
            <div>
                <label style="flex-grow: 1">
                    Name
                    <input th:field="*{name}" required class="form-control"></label>
                <label sec:authorize="hasRole('stduser')" style="width: 150px">Format
                    <select th:field="*{format}">
                        <option th:each="fmt: ${allFormats}" th:text="${fmt.name}" th:value="${fmt.id}"
                                th:selected="${fmt == format}">Integrating</option>
                    </select>
                </label>
            </div>
            <div id="duplicateNameAlert" class="alert-warning" style="display: none"></div>
        </fieldset>

        <fieldset style="flex-grow: 1">
            <legend>Metadata</legend>
            <label>
                Subjects
                <select th:field="*{subjects}" id="subjects" multiple>
                    <option th:each="subject: ${allSubjects}" th:value="${subject.id}" th:text="${subject.name}"
                            th:style="'padding-left:' + ${subject.depth * 16 + 10} + 'px'"
                            th:data-fullname="${subject.fullName}">Arts
                    </option>
                </select>
            </label>
            <label>
                Collections (optional)
                <select th:field="*{collections}" id="collections" multiple>
                    <option th:each="collection: ${form.collections}" th:value="${collection.id}"
                            th:text="${collection.fullName}" selected>Arts
                    </option>
                    <option th:each="collection: ${suggestedCollections}" th:value="${collection.id}"
                            th:text="${collection.fullName}"
                            th:data-subjects="${#strings.listJoin(collection.subjects.![id], ',')}"></option>
                </select>
            </label>
            <label sec:authorize="hasRole('stduser')">
                Publisher
                <input id="publisherId" type="hidden" name="publisher" th:value="*{publisher?.id}">
                <input id="publisherName" type="hidden" name="publisherName">
                <select id="publisher">
                    <option selected th:if="${form.publisher != null}" th:text="${form.publisher.name}"
                            th:value="${form.publisher.id}"></option>
                </select>
            </label>
            <div id="newPublisherFields" style="display:none">
                <label>
                    Publisher type
                    <select id="publisherType" name="publisherType">
                        <option></option>
                        <option th:each="type : ${allPublisherTypes}" th:value="${type.id}" th:text="${type.name}"
                                th:data-domainsuffixes="${type.domainSuffixes}"
                                th:selected="${type == form.publisherType}"></option>
                    </select>
                </label>
                <label>
                    ABN (optional)
                    <input th:field="*{publisherAbn}" pattern="[0-9]{11}" title="11-digit Australian Business Number"
                           onchange="this.value = this.value.replace(/[ -]/g, '')">
                </label>
            </div>
            <label>
                Title URL (optional)
                <input th:field="*{titleUrl}">
            </label>
            <div>
                <label sec:authorize="hasRole('stduser')"><input type=checkbox th:field="*{unableToArchive}"> Was unable to
                    be archived</label>
                <label sec:authorize="hasRole('stduser')"><input type=checkbox th:field="*{disappeared}"> No longer
                    online</label>
            </div>
            <details sec:authorize="hasRole('stduser')"
                     th:open="${form.anbdNumber != null || form.localReference != null || form.localDatabaseNo != null}">
                <summary>Cataloguing</summary>
                <fieldset>
                    <label><input type=checkbox th:field="*{cataloguingNotRequired}"> Cataloguing not required</label>
                    <div>
                        <label>ANBD No. <input th:field="*{anbdNumber}"></label>
                        <label>Local Reference No. <input th:field="*{localReference}"></label>
                        <label>Local Database No. <input th:field="*{localDatabaseNo}"></label>
                    </div>
                </fieldset>
            </details>
            <details id="historyDetails" sec:authorize="hasRole('stduser')"
                     th:open="${!form.continuedByTitles.isEmpty() || !form.continuesTitles.isEmpty()}">
                <summary>History</summary>
                <fieldset>
                    <label>Continues
                        <select th:field="*{continuesTitles}" multiple>
                            <option th:each="title: ${form.continuesTitles}" th:value="${title.id}" th:text="${title.name}"></option>
                        </select>
                    </label>
                    <label>Continued by
                        <select th:field="*{continuedByTitles}" multiple>
                            <option th:each="title: ${form.continuedByTitles}" th:value="${title.id}" th:text="${title.name}"></option>
                        </select>
                    </label>
                </fieldset>
            </details>
        </fieldset>

        <fieldset sec:authorize="hasRole('stduser')">
            <legend>Permission</legend>
            <label>
                Collect under
                <div style="margin-top: 4px; display: flex; gap: 16px; align-items: end">
                    <label><input type="radio" th:field="*{permissionType}" value="LEGAL_DEPOSIT"> Legal deposit</label>
                    <label><input type="radio" th:field="*{permissionType}" value="TITLE"> Title permission</label>
                    <label><input type="radio" th:field="*{permissionType}" value="PUBLISHER"> Publisher permission</label>
                </div>
            </label>

            <fieldset id="titlePermissionFieldset" style="border: 1px solid #ccc; background: #f3f3f3">
                <div style="gap: 16px">
                    <div>
                        Permission status
                        <div style="margin-top: 4px; display: flex; gap: 16px">
                            <label style="text-wrap: none"><input type="radio" th:field="*{permissionState}" value="Unknown"> Unknown</label>
                            <label><input type="radio" th:field="*{permissionState}" value="Granted"> Granted</label>
                            <label><input type="radio" th:field="*{permissionState}" value="Denied"> Denied</label>
                            <label><input type="radio" th:field="*{permissionState}" value="Impossible"> Impossible</label>
                        </div>
                    </div>
                    <label>
                        On date<br>
                        <input th:field="*{permissionStatusSetDate}" type="date">
                    </label>
                    <label style="width: 160px; flex-grow: 1">
                        Local reference
                        <input th:field="*{permissionLocalReference}">
                    </label>
                    <script>
                        // set background colour of titlePermissionFieldset based on permissionState
                        let permissionStateColours = {
                            "Granted" : "#e6ffe6",
                            "Denied" : "#ffe6e6",
                            "Impossible" : "#ffffe6",
                            "Unknown" : "#f3f3f3"
                        }
                        document.querySelectorAll("input[name=permissionState]").forEach(el =>
                            el.addEventListener("change", function () {
                                document.getElementById("titlePermissionFieldset").style.background = permissionStateColours[this.value];
                            }));
                        document.querySelectorAll("input[name=permissionState]:checked").forEach(el => el.dispatchEvent(new Event("change")));

                        // set the permission status date to today if it's empty when permissionState is changed
                        document.querySelectorAll("input[name=permissionState]:not([value=Unknown])").forEach(el =>
                            el.addEventListener("change", function () {
                                if (document.getElementById("permissionStatusSetDate").value === "") {
                                    document.getElementById("permissionStatusSetDate").valueAsDate = new Date();
                                }
                            }));
                    </script>
                </div>

                <label>
                    Conditions
                    <textarea th:field="*{permissionNote}" rows="4"></textarea>
                </label>

                <label>
                    Granted by
                    <select th:field="*{permissionContactPerson}">
                        <option value=""></option>
                        <option th:each="person: ${titleContactPeople}" th:value="${person.id}"
                                th:text="${person.name}"></option>
                        <option th:if="${form.permissionContactPerson != null && !titleContactPeople.contains(form.permissionContactPerson)}"
                                th:value="${form.permissionContactPerson.id}"
                                th:text="${form.permissionContactPerson.name}"></option>
                    </select>
                </label>
            </fieldset>

            <fieldset id="publisherPermissionFieldset" class="alert-info">
                Publisher permissions can currently only be edited via PANDAS 3.
            </fieldset>

            <script>
                document.querySelectorAll("input[name=permissionType]").forEach(el => el.addEventListener("change", function() {
                    document.getElementById("titlePermissionFieldset").style.display = this.value === "TITLE" ? "flex" : "none";
                    document.getElementById("publisherPermissionFieldset").style.display = this.value === "PUBLISHER" ? "block" : "none";
                }));
                document.querySelectorAll("input[name=permissionType]:checked").forEach(el => el.dispatchEvent(new Event("change")));
            </script>
        </fieldset>

        <fieldset>
            <legend>Gather</legend>

            <div id="ceasedWarning" class="alert-error">
                <span>This website will not be gathered because it is <strong>ceased</strong>.</span>
            </div>
            <script>
                function updateCeasedWarning() {
                    // show a gather warning if the status is ceased
                    let selectedStatus = document.getElementById("status").selectedOptions[0].text;
                    let isCeasedOrRejected = selectedStatus === "ceased" || selectedStatus === "rejected";
                    document.getElementById("ceasedWarning").style.display = isCeasedOrRejected ? 'block' : 'none';
                    document.querySelectorAll(".disable-when-ceased").forEach(element => element.disabled = isCeasedOrRejected);
                    if (isCeasedOrRejected) {
                        document.getElementById("gatherSchedule").value = 1; // None
                        document.getElementById("ceasedWarning").getElementsByTagName("strong")[0].innerText = selectedStatus;
                    }
                }

                window.addEventListener("load", updateCeasedWarning);
                document.getElementById("status").addEventListener("change", updateCeasedWarning);

                // re-enable disabled elements before submitting so their data is actually sent
                titleEditForm.addEventListener("submit", event => {
                    document.querySelectorAll(".disable-when-ceased").forEach(element => element.disabled = false);
                });
            </script>

            <div th:each="collection: ${form.collections}"
                 th:unless="${collection.gatherSchedule == null || collection.gatherSchedule.isNone() || form.status.isCeased()}"
                 style="color: #555; margin-bottom: 8px; font-style: italic; ">
                Also gathered <strong th:text="${collection.gatherSchedule.name}">Daily</strong> as part of
                <a th:href="@{/collections/{id}(id=${collection.id})}" th:text="${collection.fullName}"
                   class="collection-link">Cool Sites</a>
            </div>

            <label>What to collect
                <div style="margin-top: 4px; display: flex; gap: 16px">
                    <label th:each="scope : ${allScopes}">
                        <input type=radio name=scope th:checked="${form.scope == scope}" th:value="${scope.id}">
                        <th:block th:text="${scope.name}">All pages on this website</th:block>
                    </label>
                </div>
            </label>

            <th:block sec:authorize="hasRole('stduser')">
                <div>
                    <label>Schedule
                        <select th:field="*{gatherSchedule}" id="gatherSchedule" class="disable-when-ceased">
                            <option th:each="schedule: ${allGatherSchedules}" th:value="${schedule.id}"
                                    th:text="${schedule.name}" th:data-nextdate="${schedule.calculateNextTimeLocal()}">
                                Weekly
                            </option>
                        </select>
                    </label>
                    <label id="scheduledDateLabel"
                           th:style="${form.gatherSchedule == null || form.gatherSchedule.isNone() ? 'display: none' : ''}">Next
                        recurring<br>
                        <input th:field="*{scheduledDate}" id="scheduledDate" type="date"
                               th:required="${form.scheduledDate != null}" class="disable-when-ceased">
                        <input th:field="*{scheduledTime}" id="scheduledTime" type="time"
                               th:required="${form.scheduledTime != null}" readonly class="disable-when-ceased">
                    </label>
                </div>
                <script>
                    document.getElementById('gatherSchedule').addEventListener('change', function() {
                        let option = this.selectedOptions[0];
                        if (!option || !option.dataset.nextdate) {
                            document.getElementById('scheduledDateLabel').style.display = 'none';
                            document.getElementById('scheduledDate').required = false;
                            document.getElementById('scheduledTime').required = false;
                            return;
                        }
                        document.getElementById('scheduledDate').value = option.dataset.nextdate.substring(0, 10);
                        document.getElementById('scheduledTime').value = option.dataset.nextdate.substring(11, 16);
                        document.getElementById('scheduledDate').required = true;
                        document.getElementById('scheduledTime').required = true;
                        document.getElementById('scheduledDateLabel').style.display = '';
                    });
                </script>
                <label>One-off<br>
                    <input type="date" id="oneoffDateInput" class="disable-when-ceased"> <input type=time
                                                                                                id="oneoffTimeInput"
                                                                                                class="disable-when-ceased">
                    <button onclick="addOneoffDate()" type=button class="disable-when-ceased">Add</button>
                </label>
                <ul id="oneoffDatesList" th:style="${form.oneoffDates.isEmpty() ? 'display:none' : 'display:block'}" >
                    <li th:each="date: *{oneoffDates}">
                        <time th:datetime="${date}" th:text="${date}"></time>
                        <button class="btn btn-danger" onclick="deleteOneoff(this.parentNode)" type=button>Remove</button>
                        <input type=hidden name="oneoffDates" th:value="${date}">
                    </li>
                </ul>
                <script>
                    document.querySelectorAll("#oneoffDatesList time").forEach(el => el.textContent = new Date(el.dateTime).toLocaleString());

                    function deleteOneoff(el) {
                        el.remove();
                        console.log(document.getElementById('oneoffDatesList').querySelector('li'));
                        if (!document.getElementById('oneoffDatesList').querySelector('li')) {
                            document.getElementById('oneoffDatesList').style.display = 'none';
                        }
                    }

                    function addOneoffDate() {
                        var dateInput = document.getElementById('oneoffDateInput').valueAsDate;
                        var timeInput = document.getElementById('oneoffTimeInput').valueAsDate;
                        var date = new Date();
                        date.setMilliseconds(0);
                        if (dateInput) {
                            date.setFullYear(dateInput.getUTCFullYear(), dateInput.getUTCMonth(), dateInput.getUTCDate());
                        }
                        if (timeInput) {
                            date.setHours(timeInput.getUTCHours(), timeInput.getUTCMinutes(), timeInput.getUTCSeconds());
                        } else {
                            date.setHours(0, 0, 0);
                        }
                        const iso = date.toISOString().replace(".000Z", "Z");
                        if (document.getElementById('oneoffDatesList').querySelector('time[datetime="' + iso +'"]')) {
                            return; // don't allow duplicates
                        }
                        document.getElementById('oneoffDatesList').insertAdjacentHTML('beforeend',
                            '<li><time datetime="' + iso + '">' + date.toLocaleString() + '</time> ' +
                            '<button class="btn btn-danger" onclick="deleteOneoff(this.parentNode)" type=button>Remove</button>' +
                            '<input type=hidden name=oneoffDates value="' + iso + '"></li>');
                        document.getElementById('oneoffDatesList').style.display = 'block';
                    }
                </script>

                <label>Method
                    <select th:field="*{gatherMethod}">
                        <option th:each="method: ${allGatherMethods}" th:value="${method.id}" th:text="${method.name}">
                            Heritrix
                        </option>
                    </select>
                </label>

                <div id="surtsHint"></div>

                <label style="margin: var(--gutter) 0">Profile
                    <select th:field="*{activeProfile}" id="activeProfile">
                        <option value=""></option>
                        <option th:each="profile: ${allProfiles}" th:value="${profile.id}" th:text="${profile.name}"
                                th:data-gathermethod="${profile.gatherMethod?.id}" th:data-default="${profile.default ? true : null}">
                            Pandas Defaults
                        </option>
                    </select>
                    <script>
                        let profileSelect = document.getElementById("activeProfile");
                        let gatherMethodSelect = document.getElementById("gatherMethod");

                        // if gather method is changed to a method unsupported by current profile, select default profile
                        gatherMethodSelect.addEventListener("change", function(event) {
                            let profileGatherMethodId = profileSelect.selectedOptions[0].dataset.gathermethod;
                            if (profileGatherMethodId && profileGatherMethodId !== gatherMethodSelect.value) {
                                for (let option of profileSelect.options) {
                                    if (option.dataset['default']) {
                                        profileSelect.value = option.value;
                                        break;
                                    }
                                }
                            }
                        });

                        // select the appropriate method for the selected profile
                        profileSelect.addEventListener("change", function(event) {
                            let methodId = event.target.selectedOptions[0].dataset.gathermethod;
                            if (methodId) {
                                document.getElementById('gatherMethod').value = methodId;
                            }
                        });
                    </script>
                </label>

                <label>
                    Filters:
                    <textarea th:field="*{filters}" rows="5"></textarea>
                </label>
            </th:block>
        </fieldset>
        <style>
            #oneoffDatesList:empty {
                margin:0;
            }

            #surtsHint {
                color: #6f777b;
                font-size: .8em;
                white-space: pre;
            }
        </style>
        <label>
            <th:block sec:authorize="hasAuthority('PRIV_SELECT_TITLES')">Notes</th:block>
            <th:block sec:authorize="!hasAuthority('PRIV_SELECT_TITLES')">Note for the web archiving team</th:block>
            <textarea th:field="*{notes}" rows=5></textarea>
        </label>

        <div th:if="${form.id == null}">
            <button type="submit" class="btn btn-primary"><i class="icon save"></i>Save</button>
            <button type="submit" class="btn btn-secondary" name="action" value="saveAndAddAnother">Save and add another</button>
            <button style="float: right" onclick="history.back(); return false" data-keybind=Escape class="btn btn-secondary"><i class="icon cancel"></i>Cancel</button>
        </div>

    </form>
</main>
<link rel=stylesheet th:href="@{/webjars/slim-select/1.24.0/dist/slimselect.css}" href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.24.0/slimselect.css">
<script th:src="@{/webjars/slim-select/1.24.0/dist/slimselect.js}" src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.24.0/slimselect.js"></script>
<script th:inline="javascript">
    var titleCheckEndpoint = /*[[@{/titles/check}]]*/ '../titles/check';
    var titleCheckNameEndpoint = /*[[@{/titles/check-name}]]*/ '../titles/check-name';
    var titleCheckSurtsEndpoint = /*[[@{/titles/check-surts}]]*/ '../titles/check-surts';
    var pageinfoEndpoint = /*[[@{/pageinfo}]]*/ '../pageinfo';
    var publisherJsonEndpoint = /*[[@{/publishers.json}]]*/ '../publishers.json';
    var publishersEndpoint = /*[[@{/publishers}]]*/ '../publishers';
    var titlesEndpoint = /*[[@{/titles}]]*/ '../titles';
    var titlesBasicSearchEndpoint = /*[[@{/titles/basicSearch.json}]]*/ '../titles/basicSearch.json';
    var collectionsEndpoint = /*[[@{/collections.json}]]*/ '../collections.json';
    const thisTitleId = /*[[${form.id ?: null}]]*/ null;
</script>
<script th:src="@{/assets/TitleEdit.js}" src="../static/assets/TitleEdit.js"></script>