<!doctype html>
<html lang=en xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Worktrays - PANDAS</title>
    <link rel="stylesheet" href="../static/assets/Global.css" th:href="@{/assets/Global.css}">
    <script src="../static/assets/Global.js" th:src="@{/assets/Global.js}" defer></script>
</head>
<body>
<nav th:replace="_layout.html :: sidebar"></nav>
<main class="search">
    <form id="sf" th:action="@{/titles}">
        <!-- hidden default submit button (otherwise the export buttons will be the default!) -->
        <button type=submit style="visibility: hidden; position: absolute; top: -1000px"></button>
    </form>

    <header>
        <form method=get>
            <select name="agency" onchange="this.form.submit()">
                <option value="">- Personal Worktray -</option>
                <option th:each="agency: ${agencies}" th:value="${agency.id}" th:text="${agency.name}"
                        th:selected="${agency.id == selectedAgencyId}">
                    My Agency
                </option>
            </select>
        </form>
    </header>

    <h4>Selection</h4>

    <details class="worktray" th:unless="${nominatedTitles.isEmpty()}">
        <summary>Nominated Titles [<span th:text="${nominatedTitles.totalElements}"></span>]</summary>
        <table>
            <thead>
                <tr>
                    <th>Site</th>
                    <th>Registered</th>
                    <th>PI</th>
                    <th align=left>Title</th>
                    <th>Nominator</th>
                    <th>Owner</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="title: ${nominatedTitles}">
                    <td align="center"><a th:href="${title.titleUrl}"><i class="icon globe"></i></a></td>
                    <td align="center"><time th:text="${dateFormat.format(title.regDate)}">04/02/2021</time></td>
                    <td align="right" th:text="${title.pi}">12345</td>
                    <td><a th:text="${title.name}" th:href="@{|/titles/${title.id}|}">Example title</a></td>
                    <td><a th:if="${title.nominator}" th:text="${title.nominator.userid}" th:href="@{|/users/${title.nominator.id}|}">jsmith</a></td>
                    <td><a th:if="${title.owner}" th:text="${title.owner.userid}" th:href="@{|/users/${title.owner.id}|}">jsmith</a></td>
                    <td>TODO: Accept | Reject | Monitor | Transfer</td>
                </tr>
            </tbody>
        </table>
    </details>

    <details class="worktray" th:unless="${monitoredTitles.isEmpty()}">
        <summary>Monitored Titles [<span th:text="${monitoredTitles.totalElements}"></span>]</summary>
        <table>
            <thead>
            <tr>
                <th>Site</th>
                <th>Registered</th>
                <th>PI</th>
                <th align=left>Title</th>
                <th>Owner</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="title: ${monitoredTitles}">
                <td align="center"><a th:href="${title.titleUrl}"><i class="icon globe"></i></a></td>
                <td align="center"><time th:text="${dateFormat.format(title.regDate)}">04/02/2021</time></td>
                <td align="right" th:text="${title.pi ?: title.id}">12345</td>
                <td><a th:text="${title.name}" th:href="@{|/titles/${title.id}|}">Example title</a></td>
                <td><a th:if="${title.owner}" th:text="${title.owner.userid}" th:href="@{|/users/${title.owner.id}|}">jsmith</a></td>
                <td>TODO: Accept | Reject | Transfer</td>
            </tr>
            </tbody>
        </table>
    </details>

    <h4>Permission</h4>
    TODO

    <h4>Gather</h4>

    <details class="worktray" th:unless="${awaitingSchedulingTitles.isEmpty()}">
        <summary>Titles Awaiting Scheduling [<span th:text="${awaitingSchedulingTitles.totalElements}"></span>]</summary>
        <table>
            <thead>
            <tr>
                <th>Site</th>
                <th>Permission Granted</th>
                <th>PI</th>
                <th align=left>Title</th>
                <th>Owner</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="title: ${awaitingSchedulingTitles}">
                <td align="center"><a th:href="${title.titleUrl}"><i class="icon globe"></i></a></td>
                <td align="center"><time th:if="${title.permission?.statusSetDate}" th:text="${dateFormat.format(title.permission.statusSetDate)}">04/02/2021</time></td>
                <td align="right" th:text="${title.pi ?: title.id}">12345</td>
                <td><a th:text="${title.name}" th:href="@{|/titles/${title.id}|}">Example title</a></td>
                <td><a th:if="${title.owner}" th:text="${title.owner.userid}" th:href="@{|/users/${title.owner.id}|}">jsmith</a></td>
                <td>TODO: Schedule</td>
            </tr>
            </tbody>
        </table>
    </details>

    <details class="worktray" th:unless="${scheduledTitles.isEmpty()}">
        <summary>Scheduled Titles [<span th:text="${scheduledTitles.totalElements}"></span>]</summary>
        <table>
            <thead>
            <tr>
                <th>Site</th>
                <th>Next Gather</th>
                <th>PI</th>
                <th align=left>Title</th>
                <th>Owner</th>
                <th>Schedule</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="title: ${scheduledTitles}">
                <td align="center"><a th:href="${title.titleUrl}"><i class="icon globe"></i></a></td>
                <td align="center"><time th:if="${title.gather?.nextGatherDate}" th:text="${dateFormat.format(title.gather.nextGatherDate)}">04/02/2021</time></td>
                <td align="right" th:text="${title.pi ?: title.id}">12345</td>
                <td><a th:text="${title.name}" th:href="@{|/titles/${title.id}|}">Example title</a></td>
                <td><a th:if="${title.owner}" th:text="${title.owner.userid}" th:href="@{|/users/${title.owner.id}|}">jsmith</a></td>
                <td th:text="${title.gather?.schedule?.name}">Weekly</td>
                <td>TODO: Modify Gather</td>
            </tr>
            </tbody>
        </table>
    </details>

    <details class="worktray" th:unless="${gatheringInstances.isEmpty()}">
        <summary>Instances Gathering [<span th:text="${gatheringInstances.totalElements}"></span>]</summary>
        <table>
            <thead>
            <tr>
                <th>Status</th>
                <th>Site</th>
                <th>Started</th>
                <th>PI</th>
                <th align=left>Title</th>
                <th>Owner</th>
                <th>Size</th>
                <th>Files</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="instance: ${gatheringInstances}">
                <td th:text="${instance.state.name}"></td>
                <td align="center"><a th:href="${instance.title.titleUrl}"><i class="icon globe"></i></a></td>
                <td align="center"><time th:text="${dateTimeFormat.format(instance.date)}">12:43:00</time></td>
                <td align="right" th:text="${instance.title.pi ?: instance.title.id}">12345</td>
                <td><a th:text="${instance.title.name}" th:href="@{|/titles/${instance.title.id}|}">Example title</a></td>
                <td><a th:if="${instance.title.owner}" th:text="${instance.title.owner.userid}" th:href="@{|/users/${instance.title.owner.id}|}">jsmith</a></td>
                <td><span th:if="${instance.gather?.size}" th:text="${T(org.apache.commons.io.FileUtils).byteCountToDisplaySize(instance.gather.size)}">10 MB</span></td>
                <td><span th:if="${instance.gather?.files}" th:text="${#numbers.formatInteger(instance.gather.files, 0, 'COMMA')}">1,234</span></td>
                <td>TODO: Stop etc</td>
            </tr>
            </tbody>
        </table>
    </details>

    <h4>Preserve</h4>

    <details class="worktray" th:unless="${instancesForUpload.isEmpty()}">
        <summary>Instances For Upload [<span th:text="${instancesForUpload.totalElements}"></span>]</summary>
        <table>
            <thead>
            <tr>
                <th>Site</th>
                <th>To Upload</th>
                <th>PI</th>
                <th align=left>Title</th>
                <th>Archived Site</th>
                <th>Owner</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="instance: ${instancesForUpload}">
                <td align="center"><a th:href="${instance.title.titleUrl}"><i class="icon globe"></i></a></td>
                <td align="center"><time th:text="${dateTimeFormat.format(instance.date)}">12:43:00</time></td>
                <td align="right" th:text="${instance.title.pi ?: instance.title.id}">12345</td>
                <td><a th:text="${instance.title.name}" th:href="@{|/titles/${instance.title.id}|}">Example title</a></td>
                <td><a href="#workingAreaUrl"><i class="icon globe"></i></a></td>
                <td><a th:if="${instance.title.owner}" th:text="${instance.title.owner.userid}" th:href="@{|/users/${instance.title.owner.id}|}">jsmith</a></td>
                <td>TODO: Upload</td>
            </tr>
            </tbody>
        </table>
    </details>

    <details class="worktray" th:unless="${gatheredInstances.isEmpty()}">
        <summary>Instances in QA [<span th:text="${gatheredInstances.totalElements}"></span>]</summary>
        <table>
            <thead>
            <tr>
                <th>Site</th>
                <th>Gathered</th>
                <th>PI</th>
                <th align=left>Title</th>
                <th>Archived Site</th>
                <th>Owner</th>
                <th>Size</th>
                <th>Files</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="instance: ${gatheredInstances}">
                <td align="center"><a th:href="${instance.title.titleUrl}"><i class="icon globe"></i></a></td>
                <td align="center"><time th:text="${dateTimeFormat.format(instance.date)}">12:43:00</time></td>
                <td align="right" th:text="${instance.title.pi ?: instance.title.id}">12345</td>
                <td><a th:text="${instance.title.name}" th:href="@{|/titles/${instance.title.id}|}">Example title</a></td>
                <td><a href="#workingAreaUrl"><i class="icon globe"></i></a></td>
                <td><a th:if="${instance.title.owner}" th:text="${instance.title.owner.userid}" th:href="@{|/users/${instance.title.owner.id}|}">jsmith</a></td>
                <td><span th:if="${instance.gather?.size}" th:text="${T(org.apache.commons.io.FileUtils).byteCountToDisplaySize(instance.gather.size)}">10 MB</span></td>
                <td><span th:if="${instance.gather?.files}" th:text="${#numbers.formatInteger(instance.gather.files, 0, 'COMMA')}">1,234</span></td>
                <td>TODO: Process</td>
            </tr>
            </tbody>
        </table>
    </details>

    <h4>Publish</h4>

    <details class="worktray" th:unless="${archivedTitles.isEmpty()}">
        <summary>Archived Titles [<span th:text="${archivedTitles.totalElements}"></span>]</summary>
        <table>
            <thead>
            <tr>
                <th>Site</th>
                <th>Last Gathered</th>
                <th>PI</th>
                <th align=left>Title</th>
                <th>Owner</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="title: ${archivedTitles}">
                <td align="center"><a th:href="${title.titleUrl}"><i class="icon globe"></i></a></td>
                <td align="center"><time th:if="${title.gather?.lastGatherDate}" th:text="${dateFormat.format(title.gather.lastGatherDate)}">04/02/2021</time></td>
                <td align="right" th:text="${title.pi ?: title.id}">12345</td>
                <td><a th:text="${title.name}" th:href="@{|/titles/${title.id}|}">Example title</a></td>
                <td><a th:if="${title.owner}" th:text="${title.owner.userid}" th:href="@{|/users/${title.owner.id}|}">jsmith</a></td>
                <td>TODO: Publish</td>
            </tr>
            </tbody>
        </table>
    </details>

    <h4>Catalogue</h4>

    <details class="worktray" th:unless="${titlesAwaitingCataloguing.isEmpty()}">
        <summary>Titles Awaiting Cataloguing [<span th:text="${titlesAwaitingCataloguing.totalElements}"></span>]</summary>
        <table>
            <thead>
            <tr>
                <th>Site</th>
                <th>Registered</th>
                <th>PI</th>
                <th align=left>Title</th>
                <th>Status</th>
                <th>Owner</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="title: ${titlesAwaitingCataloguing}">
                <td align="center"><a th:href="${title.titleUrl}"><i class="icon globe"></i></a></td>
                <td align="center"><time th:text="${dateFormat.format(title.regDate)}">04/02/2021</time></td>
                <td align="right" th:text="${title.pi ?: title.id}">12345</td>
                <td><a th:text="${title.name}" th:href="@{|/titles/${title.id}|}">Example title</a></td>
                <td th:text="${title.status.name}"></td>
                <td><a th:if="${title.owner}" th:text="${title.owner.userid}" th:href="@{|/users/${title.owner.id}|}">jsmith</a></td>
                <td>TODO: Catalogue</td>
            </tr>
            </tbody>
        </table>
    </details>

    <h4>Reports</h4>
    Not yet implemented

</main>